Repository AztecProtocol/aztec-packages, pull requests merged in 2024-09, with the labels that each got.

#8406 feat: (bb) 128-bit challenges
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/honk_contract.hpp
  barretenberg/cpp/src/barretenberg/ecc/curves/bn254/fq.hpp
  barretenberg/cpp/src/barretenberg/ecc/curves/bn254/fr.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/oink_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/group/cycle_group.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/group/cycle_group.hpp
  barretenberg/cpp/src/barretenberg/stdlib/transcript/transcript.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/circuit_simulator.hpp
  barretenberg/cpp/src/barretenberg/transcript/transcript.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/mega_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_transcript.test.cpp
  barretenberg/sol/src/honk/Transcript.sol
  barretenberg/sol/src/ultra/keys/Add2UltraVerificationKey.sol
  barretenberg/sol/src/ultra/keys/BlakeUltraVerificationKey.sol
  barretenberg/sol/src/ultra/keys/EcdsaUltraVerificationKey.sol
  noir/noir-repo/test_programs/execution_success/verify_honk_proof/Prover.toml
  noir/verify_honk_proof/Prover.toml
Labels: crypto

#8508 chore(ci): use labels and if branch=master to control jobs
  .github/workflows/ci.yml
  scripts/ci/get_bench_jobs.sh
  scripts/ci/get_e2e_jobs.sh
Labels: e2e-all, bench-prover

#8239 feat: Use poseidon for fn selectors
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/aztec-nr/authwit/src/auth.nr
  noir-projects/aztec-nr/aztec/src/deploy.nr
  noir-projects/aztec-nr/aztec/src/encrypted_logs/incoming_body.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/event_selector.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/function_selector.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/hash.nr
  noir/noir-repo/Cargo.lock
  noir/noir-repo/acvm-repo/bn254_blackbox_solver/src/lib.rs
  noir/noir-repo/acvm-repo/bn254_blackbox_solver/src/poseidon2.rs
  noir/noir-repo/aztec_macros/Cargo.toml
  noir/noir-repo/aztec_macros/src/transforms/contract_interface.rs
  noir/noir-repo/aztec_macros/src/transforms/note_interface.rs
  noir/noir-repo/compiler/noirc_frontend/src/hir/comptime/interpreter/builtin.rs
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/contract/__snapshots__/contract_address.test.ts.snap
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/end-to-end/src/e2e_event_logs.test.ts
  yarn-project/foundation/src/abi/__snapshots__/function_selector.test.ts.snap
  yarn-project/foundation/src/abi/event_selector.ts
  yarn-project/foundation/src/abi/function_selector.test.ts
  yarn-project/foundation/src/abi/function_selector.ts
  yarn-project/foundation/src/crypto/poseidon/index.ts
Labels: e2e-all, bench-all

#8571 feat: update args hash to be a flat poseidon
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/aztec-nr/aztec/src/hash.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/hash.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/contract/__snapshots__/contract_address.test.ts.snap
  yarn-project/circuits.js/src/hash/__snapshots__/hash.test.ts.snap
  yarn-project/circuits.js/src/hash/hash.test.ts
  yarn-project/circuits.js/src/hash/hash.ts
Labels: e2e-all, bench-all

#8579 feat: Optimize allocating immediate amounts of memory
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/codegen_memory.rs
Labels: bench-all

#8541 chore: Moves add gate out of aux
  barretenberg/cpp/src/barretenberg/circuit_checker/mega_circuit_builder.test.cpp
  barretenberg/cpp/src/barretenberg/circuit_checker/ultra_circuit_builder.test.cpp
  barretenberg/cpp/src/barretenberg/goblin/mock_circuits_pinning.test.cpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/arithmetization/max_block_size_tracker.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/arithmetization/mega_arithmetization.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/arithmetization/ultra_arithmetization.hpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/poseidon2/poseidon2_permutation.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_circuit_builder.cpp
  yarn-project/README.md
Labels: barretenberg

#7638 chore(bb readme): Document how to Honk Noir programs
  barretenberg/cpp/src/barretenberg/bb/readme.md
Labels: documentation, barretenberg, bb bin

#8606 feat(avm)!: remove tag in NOT
  avm-transpiler/src/transpile.rs
  barretenberg/cpp/src/barretenberg/vm/avm/tests/bitwise.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/deserialization.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/mem_trace.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  yarn-project/simulator/src/avm/opcodes/bitwise.test.ts
  yarn-project/simulator/src/avm/opcodes/bitwise.ts
  yarn-project/simulator/src/avm/opcodes/instruction_impl.ts
  yarn-project/simulator/src/avm/opcodes/memory.ts
Labels: bench-all

#8622 chore: create a Gemini prover
  barretenberg/cpp/src/barretenberg/commitment_schemes/commitment_key.test.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/kzg/kzg.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini_verifier.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/wrapper.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes_recursion/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.hpp
  barretenberg/cpp/src/barretenberg/polynomials/polynomial.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
Labels: crypto

#8611 feat(avm): avm recursive TS/Noir integration
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/avm_recursion_constraint.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/recursion_constraint.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/alu.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/verifier.cpp
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  bb-pilcom/bb-pil-backend/templates/flavor.hpp.hbs
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/mock-protocol-circuits/Nargo.toml
  noir-projects/mock-protocol-circuits/Readme.md
  noir-projects/mock-protocol-circuits/crates/mock-public-kernel/Nargo.toml
  noir-projects/mock-protocol-circuits/crates/mock-public-kernel/src/main.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/Earthfile
  yarn-project/bb-prover/package.json
  yarn-project/bb-prover/src/avm_proving.test.ts
  yarn-project/bb-prover/src/test/index.ts
  yarn-project/bb-prover/src/test/test_avm.ts
  yarn-project/bb-prover/tsconfig.json
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/ivc-integration/package.json
  yarn-project/ivc-integration/src/avm_integration.test.ts
  yarn-project/ivc-integration/src/client_ivc_integration.test.ts
  yarn-project/ivc-integration/src/index.ts
  yarn-project/ivc-integration/src/scripts/generate_ts_from_abi.ts
  yarn-project/ivc-integration/tsconfig.json
  yarn-project/simulator/src/public/index.ts
  yarn-project/yarn.lock
Labels: e2e-all

#8678 chore: bye bye Zeromorph in Solidity
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/bb/readme.md
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/honk_contract.hpp
  barretenberg/sol/src/honk/HonkTypes.sol
  barretenberg/sol/src/honk/HonkVerifier.sol
  barretenberg/sol/src/honk/Transcript.sol
  barretenberg/sol/src/honk/instance/Add2Honk.sol
  barretenberg/sol/src/honk/instance/BlakeHonk.sol
  barretenberg/sol/src/honk/instance/EcdsaHonk.sol
Labels: crypto

#8646 feat: Make UltraKeccak work with Shplemini at bb-level
  barretenberg/acir_tests/sol-test/src/index.js
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini_impl.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/kzg/kzg.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplonk.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes_recursion/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes_recursion/zeromorph.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_keccak_flavor.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.hpp
Labels: crypto, e2e-all

#8677 chore: migrate higher-level APIs for barretenberg to bb.js
  barretenberg/acir_tests/browser-test-app/src/index.ts
  barretenberg/ts/src/barretenberg/backend.ts
  barretenberg/ts/src/barretenberg/index.ts
  barretenberg/ts/src/barretenberg/verifier.ts
  barretenberg/ts/src/index.ts
  barretenberg/ts/webpack.config.js
  noir/noir-repo/tooling/noir_js_backend_barretenberg/src/backend.ts
  noir/noir-repo/tooling/noir_js_backend_barretenberg/src/index.ts
  noir/noir-repo/tooling/noir_js_backend_barretenberg/src/types.ts
  noir/noir-repo/tooling/noir_js_backend_barretenberg/src/verifier.ts
Labels: e2e-browser

#8709 chore(ci): scriptify local earthfile
  yarn-project/end-to-end/Earthfile
  yarn-project/end-to-end/scripts/build_images.sh
  yarn-project/end-to-end/scripts/e2e_compose_test.sh
  yarn-project/end-to-end/scripts/e2e_test.sh
  yarn-project/end-to-end/scripts/e2e_test_public_testnet.sh
  yarn-project/end-to-end/scripts/network_test.sh
Labels: e2e-all, bench-all

#8744 fix: do not prune if we are behind the assumed proven block
  l1-contracts/src/core/Rollup.sol
  l1-contracts/test/Rollup.t.sol
  yarn-project/end-to-end/src/e2e_cheat_codes.test.ts
  yarn-project/end-to-end/src/e2e_lending_contract.test.ts
  yarn-project/end-to-end/src/simulators/lending_simulator.ts
Labels: e2e-all

#8736 feat: Compute args hash with comptime length
  noir-projects/aztec-nr/authwit/src/cheatcodes.nr
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/aztec-nr/aztec/src/macros/functions/mod.nr
  noir-projects/aztec-nr/aztec/src/test/helpers/test_environment.nr
  noir-projects/noir-protocol-circuits/crates/types/src/meta/mod.nr
Labels: e2e-all, bench-all

#8749 feat!: remove SharedMutablePrivateGetter
  docs/docs/migration_notes.md
  noir-projects/aztec-nr/aztec/src/state_vars/shared_mutable.nr
  noir-projects/aztec-nr/aztec/src/state_vars/shared_mutable/shared_mutable.nr
  noir-projects/aztec-nr/aztec/src/state_vars/shared_mutable/shared_mutable_private_getter.nr
  noir-projects/noir-contracts/contracts/test_contract/src/main.nr
  yarn-project/end-to-end/src/e2e_state_vars.test.ts
Labels: e2e-all

#8807 chore: fix flakey e2e fees failures test
  yarn-project/end-to-end/Earthfile
  yarn-project/end-to-end/scripts/deflaker.sh
  yarn-project/end-to-end/src/e2e_fees/failures.test.ts
  yarn-project/end-to-end/src/e2e_fees/fees_test.ts
Labels: e2e-fees-failure

#8825 chore: removing hack commitment from eccvm
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
Labels: crypto

#8826 feat: make shplemini proof constant
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini_impl.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplonk.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/zeromorph/zeromorph.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes_recursion/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.hpp
Labels: crypto, e2e-prover-full

#8830 chore: set assume proven in e2e
  yarn-project/end-to-end/src/composed/integration_l1_publisher.test.ts
  yarn-project/end-to-end/src/composed/integration_proof_verification.test.ts
  yarn-project/end-to-end/src/e2e_prover_node.test.ts
  yarn-project/end-to-end/src/fixtures/setup_l1_contracts.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/ethereum/src/deploy_l1_contracts.ts
Labels: e2e-all

#8794 feat: Prover node submits epoch proofs
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/interfaces/IRollup.sol
  l1-contracts/test/Rollup.t.sol
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/block_root/empty_block_root_rollup_inputs.nr
  yarn-project/.prettierignore
  yarn-project/bb-prover/src/honk.ts
  yarn-project/bb-prover/src/index.ts
  yarn-project/bb-prover/src/prover/bb_prover.ts
  yarn-project/bb-prover/src/test/test_circuit_prover.ts
  yarn-project/bb-prover/src/verifier/bb_verifier.ts
  yarn-project/circuit-types/src/interfaces/block-prover.ts
  yarn-project/circuit-types/src/interfaces/prover-client.ts
  yarn-project/circuits.js/src/structs/proof.ts
  yarn-project/circuits.js/src/structs/rollup/empty_block_root_rollup_inputs.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/cli/src/cmds/l1/deploy_l1_verifier.ts
  yarn-project/end-to-end/.prettierignore
  yarn-project/end-to-end/src/composed/integration_proof_verification.test.ts
  yarn-project/end-to-end/src/e2e_prover/e2e_prover_test.ts
  yarn-project/end-to-end/src/e2e_prover/full.test.ts
  yarn-project/end-to-end/src/e2e_prover_node.test.ts
  yarn-project/end-to-end/src/fixtures/dumps/block_result.json
  yarn-project/end-to-end/src/fixtures/dumps/epoch_proof_result.json
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/public-testnet/e2e_public_testnet_transfer.test.ts
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/foundation/src/collection/array.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/foundation/src/testing/test_data.ts
  yarn-project/foundation/src/types/index.ts
  yarn-project/l1-artifacts/scripts/generate-artifacts.sh
  yarn-project/noir-protocol-circuits-types/src/index.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/prover-client/src/index.ts
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/prover-client/src/orchestrator/epoch-proving-state.ts
  yarn-project/prover-client/src/orchestrator/orchestrator.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_multiple_blocks.test.ts
  yarn-project/prover-client/src/test/bb_prover_full_rollup.test.ts
  yarn-project/prover-client/src/tx-prover/tx-prover.ts
  yarn-project/prover-node/src/config.ts
  yarn-project/prover-node/src/factory.ts
  yarn-project/prover-node/src/job/epoch-proving-job.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/prover-node/src/prover-node.ts
  yarn-project/sequencer-client/src/publisher/index.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
Labels: e2e-all

#8848 fix: Do not assume blocks as proven in e2e-prover tests
  yarn-project/end-to-end/src/e2e_prover/e2e_prover_test.ts
Labels: e2e-prover-full

#8868 chore: bump foundry
  barretenberg/sol/scripts/install_foundry.sh
  bootstrap.sh
  build-images/Earthfile
  iac/mainnet-fork/scripts/install_foundry.sh
  l1-contracts/Dockerfile
  yarn-project/aztec/docker-compose.yml
  yarn-project/end-to-end/Dockerfile
  yarn-project/end-to-end/scripts/docker-compose-no-sandbox.yml
  yarn-project/end-to-end/scripts/docker-compose-p2p.yml
  yarn-project/end-to-end/scripts/docker-compose-wallet.yml
  yarn-project/end-to-end/scripts/docker-compose.yml
Labels: e2e-all

#8869 fix: use different rust toolchain for foundry builds
  build-images/Earthfile
  l1-contracts/test/merkle/Frontier.t.sol
  l1-contracts/test/portals/TokenPortal.sol
  l1-contracts/test/portals/TokenPortal.t.sol
  l1-contracts/test/portals/UniswapPortal.t.sol
  yarn-project/end-to-end/scripts/docker-compose-no-sandbox.yml
  yarn-project/end-to-end/scripts/docker-compose-p2p.yml
  yarn-project/end-to-end/scripts/docker-compose-wallet.yml
  yarn-project/end-to-end/scripts/docker-compose.yml
Labels: e2e-all

#8859 refactor: use require(predicate, custom_error)
  l1-contracts/.solhint.json
  l1-contracts/src/core/FeeJuicePortal.sol
  l1-contracts/src/core/Leonidas.sol
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/interfaces/IProofCommitmentEscrow.sol
  l1-contracts/src/core/libraries/HeaderLib.sol
  l1-contracts/src/core/libraries/SignatureLib.sol
  l1-contracts/src/core/libraries/TimeMath.sol
  l1-contracts/src/core/libraries/TxsDecoder.sol
  l1-contracts/src/core/libraries/crypto/MerkleLib.sol
  l1-contracts/src/core/libraries/crypto/SampleLib.sol
  l1-contracts/src/core/libraries/crypto/SignatureLib.sol
  l1-contracts/src/core/messagebridge/Inbox.sol
  l1-contracts/src/core/messagebridge/Outbox.sol
  l1-contracts/src/governance/Registry.sol
  l1-contracts/src/governance/libraries/DataStructures.sol
  l1-contracts/src/governance/libraries/Errors.sol
Labels: e2e-all

#8875 refactor: Remove copy from `compute_row_evaluations`
  barretenberg/cpp/scripts/compare_branch_vs_baseline_remote.sh
  barretenberg/cpp/scripts/compare_branch_vs_baseline_remote_wasm.sh
  barretenberg/cpp/scripts/compare_client_ivc_bench.sh
  barretenberg/cpp/scripts/compare_client_ivc_bench_wasm.sh
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover_internal.hpp
  barretenberg/cpp/src/barretenberg/relations/utils.hpp
Labels: crypto

#8895 chore: disable block building e2e
  yarn-project/end-to-end/src/e2e_block_building.test.ts
Labels: e2e-block-building
