Repository AztecProtocol/aztec-packages, pull requests merged in 2024-02, with the labels that each got.

#4338 feat(avm): implement serialization for all existing operations
  yarn-project/acir-simulator/src/avm/avm_context.ts
  yarn-project/acir-simulator/src/avm/index.test.ts
  yarn-project/acir-simulator/src/avm/interpreter/interpreter.test.ts
  yarn-project/acir-simulator/src/avm/interpreter/interpreter.ts
  yarn-project/acir-simulator/src/avm/opcodes/accrued_substate.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/accrued_substate.ts
  yarn-project/acir-simulator/src/avm/opcodes/arithmetic.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/arithmetic.ts
  yarn-project/acir-simulator/src/avm/opcodes/bitwise.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/bitwise.ts
  yarn-project/acir-simulator/src/avm/opcodes/comparators.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/comparators.ts
  yarn-project/acir-simulator/src/avm/opcodes/control_flow.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/control_flow.ts
  yarn-project/acir-simulator/src/avm/opcodes/decode_bytecode.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/decode_bytecode.ts
  yarn-project/acir-simulator/src/avm/opcodes/encode_to_bytecode.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/encode_to_bytecode.ts
  yarn-project/acir-simulator/src/avm/opcodes/environment_getters.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/environment_getters.ts
  yarn-project/acir-simulator/src/avm/opcodes/external_calls.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/external_calls.ts
  yarn-project/acir-simulator/src/avm/opcodes/index.ts
  yarn-project/acir-simulator/src/avm/opcodes/instruction.ts
  yarn-project/acir-simulator/src/avm/opcodes/instruction_impl.ts
  yarn-project/acir-simulator/src/avm/opcodes/instruction_set.ts
  yarn-project/acir-simulator/src/avm/opcodes/memory.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/memory.ts
  yarn-project/acir-simulator/src/avm/opcodes/opcodes.ts
  yarn-project/acir-simulator/src/avm/opcodes/storage.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/storage.ts
  yarn-project/acir-simulator/src/avm/serialization/buffer_cursor.ts
  yarn-project/acir-simulator/src/avm/serialization/bytecode_serialization.test.ts
  yarn-project/acir-simulator/src/avm/serialization/bytecode_serialization.ts
  yarn-project/acir-simulator/src/avm/serialization/instruction_serialization.test.ts
  yarn-project/acir-simulator/src/avm/serialization/instruction_serialization.ts
Labels: avm

#4367 fix(avm): fix SendL2ToL1Message implementation
  yarn-project/acir-simulator/src/avm/opcodes/accrued_substate.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/accrued_substate.ts
Labels: avm

#4349 feat(avm): add revert tracking to the journal
  yarn-project/acir-simulator/src/avm/avm_context.ts
  yarn-project/acir-simulator/src/avm/journal/journal.test.ts
  yarn-project/acir-simulator/src/avm/journal/journal.ts
  yarn-project/acir-simulator/src/avm/opcodes/external_calls.ts
Labels: avm

#4369 feat(avm): Add command to call avm proving in bb binary
  barretenberg/cpp/src/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/AvmMini_execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/AvmMini_execution.hpp
Labels: crypto, avm

#4440 docs(yellowpaper): separate section for AVM state
  yellow-paper/docs/public-vm/avm-circuit.md
  yellow-paper/docs/public-vm/avm.md
  yellow-paper/docs/public-vm/gen/_InstructionSet.mdx
  yellow-paper/docs/public-vm/memory-model.md
  yellow-paper/docs/public-vm/state.md
  yellow-paper/docs/public-vm/type-structs.md
  yellow-paper/sidebars.js
  yellow-paper/src/preprocess/InstructionSet/InstructionSet.js
Labels: documentation, avm

#4542 chore(avm-simulator): reduce boilerplate in AVM memory types
  yarn-project/simulator/src/avm/avm_memory_types.test.ts
  yarn-project/simulator/src/avm/avm_memory_types.ts
Labels: avm

#4554 chore(avm-circuit): tests use OpCode enum's instead of hardcoded values
  barretenberg/cpp/src/barretenberg/vm/avm_trace/AvmMini_opcode.cpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/AvmMini_opcode.hpp
  barretenberg/cpp/src/barretenberg/vm/tests/AvmMini_execution.test.cpp
Labels: avm

#4537 refactor: updating field conversion code without pointer hack
  barretenberg/cpp/src/barretenberg/ecc/curves/bn254/fq.hpp
  barretenberg/cpp/src/barretenberg/ecc/curves/bn254/fr.hpp
  barretenberg/cpp/src/barretenberg/ecc/fields/field_conversion.cpp
  barretenberg/cpp/src/barretenberg/ecc/fields/field_conversion.hpp
  barretenberg/cpp/src/barretenberg/ecc/groups/affine_element.hpp
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/field/field_conversion.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/field/field_conversion.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/transcript/transcript.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.hpp
Labels: refactor

#4594 docs(yellowpaper): AVM `call` instructions, split out sections, cleanup
  avm-transpiler/src/opcodes.rs
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_opcode.cpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_opcode.hpp
  yarn-project/simulator/src/avm/serialization/bytecode_serialization.ts
  yarn-project/simulator/src/avm/serialization/instruction_serialization.ts
  yellow-paper/docs/contract-deployment/instances.md
  yellow-paper/docs/public-vm/_nested-context.md
  yellow-paper/docs/public-vm/avm-circuit.md
  yellow-paper/docs/public-vm/avm.md
  yellow-paper/docs/public-vm/circuit-index.md
  yellow-paper/docs/public-vm/context.mdx
  yellow-paper/docs/public-vm/execution.md
  yellow-paper/docs/public-vm/gen/_instruction-set.mdx
  yellow-paper/docs/public-vm/index.md
  yellow-paper/docs/public-vm/instruction-set.mdx
  yellow-paper/docs/public-vm/intro.md
  yellow-paper/docs/public-vm/memory-model.md
  yellow-paper/docs/public-vm/nested-calls.mdx
  yellow-paper/docs/public-vm/state.md
  yellow-paper/docs/public-vm/type-structs.md
  yellow-paper/sidebars.js
  yellow-paper/src/preprocess/InstructionSet/InstructionSet.js
  yellow-paper/src/preprocess/InstructionSet/genMarkdown.js
Labels: avm

#4620 chore(yellowpaper): typos and other cleanup
  yellow-paper/docs/public-vm/execution.md
  yellow-paper/docs/public-vm/gen/_instruction-set.mdx
  yellow-paper/src/preprocess/InstructionSet/InstructionSet.js
Labels: documentation, avm

#4730 chore(avm-simulator): pull out public storage caching and merging from the state journal
  yarn-project/simulator/src/avm/journal/journal.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/journal/public_storage.test.ts
  yarn-project/simulator/src/avm/journal/public_storage.ts
Labels: avm

#4733 chore(avm-simulator): create a dedicated component just for tracing world state accesses
  yarn-project/simulator/src/avm/avm_context.test.ts
  yarn-project/simulator/src/avm/avm_context.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/avm_simulator.ts
  yarn-project/simulator/src/avm/fixtures/index.ts
  yarn-project/simulator/src/avm/journal/journal.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/journal/trace.test.ts
  yarn-project/simulator/src/avm/journal/trace.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.test.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.ts
  yarn-project/simulator/src/avm/opcodes/external_calls.test.ts
  yarn-project/simulator/src/avm/opcodes/external_calls.ts
  yarn-project/simulator/src/avm/opcodes/storage.test.ts
  yarn-project/simulator/src/avm/opcodes/storage.ts
  yarn-project/simulator/src/public/executor.ts
Labels: avm

#4743 feat(avm-simulator): create cache for pending nullifiers and existence checks
  yarn-project/sequencer-client/src/simulator/public_executor.ts
  yarn-project/simulator/src/avm/fixtures/index.ts
  yarn-project/simulator/src/avm/journal/host_storage.ts
  yarn-project/simulator/src/avm/journal/journal.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/journal/nullifiers.test.ts
  yarn-project/simulator/src/avm/journal/nullifiers.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.test.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.ts
  yarn-project/simulator/src/avm/opcodes/external_calls.test.ts
  yarn-project/simulator/src/avm/opcodes/storage.test.ts
  yarn-project/simulator/src/public/db.ts
Labels: avm

#4746 feat(avm-transpiler): add emitnotehash and emitnullifier opcodes to avm transpiler and simulator tests
  avm-transpiler/src/transpile.rs
  noir-projects/aztec-nr/aztec/src/avm.nr
  noir-projects/aztec-nr/aztec/src/avm/context.nr
  noir-projects/aztec-nr/aztec/src/context/avm.nr
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.ts
Labels: avm

#4772 chore: Address comments
  barretenberg/cpp/src/barretenberg/proof_system/circuit_builder/goblin_translator.fuzzer.hpp
  barretenberg/cpp/src/barretenberg/proof_system/circuit_builder/goblin_translator_circuit_builder.fuzzer.cpp
Labels: crypto

#4754 fix: Fix races in slab allocator and lookup tables and add prepending for op_queues
  barretenberg/cpp/src/barretenberg/common/slab_allocator.cpp
  barretenberg/cpp/src/barretenberg/proof_system/circuit_builder/eccvm/eccvm_builder_types.hpp
  barretenberg/cpp/src/barretenberg/proof_system/op_queue/ecc_op_queue.hpp
  barretenberg/cpp/src/barretenberg/proof_system/op_queue/ecc_op_queue.test.cpp
  barretenberg/cpp/src/barretenberg/proof_system/plookup_tables/plookup_tables.cpp
Labels: crypto

#4747 feat(avm-simulator): add NULLIFIEREXISTS opcode to avm simulator, transpiler, noir test, TS tests
  avm-transpiler/src/transpile.rs
  noir-projects/aztec-nr/aztec/src/context/avm.nr
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/journal/journal.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/journal/trace.test.ts
  yarn-project/simulator/src/avm/journal/trace.ts
  yarn-project/simulator/src/avm/journal/trace_types.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.test.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.ts
  yarn-project/simulator/src/avm/serialization/bytecode_serialization.ts
Labels: avm

#2667 chore(aztec-nr): clarify in comments that nullifier computation does not need to include siloed note-hash for protocol security
  noir-projects/aztec-nr/aztec/src/note/utils.nr
Labels: documentation, aztec.nr

#4639 refactor: Remove VK computation Pg prover flow; improve benchmark to reflect possible optimization
  barretenberg/cpp/src/barretenberg/benchmark/client_ivc_bench/client_ivc.bench.cpp
  barretenberg/cpp/src/barretenberg/benchmark/protogalaxy_bench/protogalaxy.bench.cpp
  barretenberg/cpp/src/barretenberg/benchmark/protogalaxy_rounds_bench/protogalaxy_rounds.bench.cpp
  barretenberg/cpp/src/barretenberg/benchmark/ultra_bench/mock_proofs.hpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.hpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.test.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/mock_kernel_pinning.test.cpp
  barretenberg/cpp/src/barretenberg/goblin/goblin.hpp
  barretenberg/cpp/src/barretenberg/goblin/goblin_recursion.test.cpp
  barretenberg/cpp/src/barretenberg/goblin/mock_circuits.hpp
  barretenberg/cpp/src/barretenberg/goblin/mock_circuits_pinning.test.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/decider_prover.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/decider_prover.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/decider_verifier.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/decider_verifier.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_verifier.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/decider_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/goblin_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/merge_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/protogalaxy_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/protogalaxy_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/protogalaxy_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/recursive_instances.hpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/recursive_verifier_instance.hpp
  barretenberg/cpp/src/barretenberg/stdlib/recursion/honk/verifier/verifier.test.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/instance/instances.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/instance/prover_instance.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/instance/verifier_instance.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/databus_composer.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/goblin_ultra_composer.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/goblin_ultra_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/protogalaxy.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/relation_correctness.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/sumcheck.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_composer.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_composer.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_composer.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_transcript.test.cpp
Labels: crypto
