Repository AztecProtocol/aztec-packages, pull requests merged in 2024-01, with the labels that each got.

#3847 chore(docs): Update install script
  docs/docs/concepts/advanced/contract_creation.md
  docs/docs/dev_docs/cli/blank_box.md
  docs/docs/dev_docs/cli/cli-commands.md
  docs/docs/dev_docs/cli/main.md
  docs/docs/dev_docs/cli/sandbox-reference.md
  docs/docs/dev_docs/contracts/deploying.md
  docs/docs/dev_docs/contracts/main.md
  docs/docs/dev_docs/contracts/resources/dependencies.md
  docs/docs/dev_docs/contracts/setup.md
  docs/docs/dev_docs/getting_started/aztecnr-getting-started.md
  docs/docs/dev_docs/getting_started/quickstart.md
  docs/docs/dev_docs/tutorials/token_portal/withdrawing_to_l1.md
  docs/docs/dev_docs/tutorials/uniswap/setup.md
  docs/docs/dev_docs/tutorials/uniswap/typescript_glue_code.md
  docs/docs/dev_docs/tutorials/writing_dapp/contract_deployment.md
  docs/docs/dev_docs/tutorials/writing_dapp/contract_interaction.md
  docs/docs/dev_docs/tutorials/writing_private_voting_contract.md
  docs/docs/dev_docs/tutorials/writing_token_contract.md
  docs/docs/dev_docs/updating.md
  docs/docusaurus.config.js
  docs/netlify.toml
Labels: documentation

#3865 docs(yellowpaper): first draft of avm circuit memory
  yellow-paper/docs/public-vm/InstructionSet.mdx
  yellow-paper/docs/public-vm/avm-circuit.md
Labels: documentation, avm

#3934 docs(yellowpaper): avm circuit architecture
  yellow-paper/docs/public-vm/avm-circuit.md
  yellow-paper/docs/public-vm/avm.md
Labels: documentation, avm

#3882 feat: Parallel IPA
  barretenberg/cpp/src/barretenberg/benchmark/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/benchmark/ipa_bench/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/benchmark/ipa_bench/ipa.bench.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.hpp
  barretenberg/cpp/src/barretenberg/common/thread.cpp
  barretenberg/cpp/src/barretenberg/common/thread.hpp
  barretenberg/cpp/src/barretenberg/ecc/groups/element.hpp
  barretenberg/cpp/src/barretenberg/ecc/groups/element_impl.hpp
Labels: crypto

#3551 feat: Poseidon2 stdlib impl
  barretenberg/cpp/scripts/bb-tests.sh
  barretenberg/cpp/scripts/stdlib-tests
  barretenberg/cpp/src/barretenberg/crypto/pedersen_hash/pedersen.cpp
  barretenberg/cpp/src/barretenberg/crypto/poseidon2/poseidon2.bench.cpp
  barretenberg/cpp/src/barretenberg/crypto/poseidon2/poseidon2.cpp
  barretenberg/cpp/src/barretenberg/crypto/poseidon2/poseidon2.hpp
  barretenberg/cpp/src/barretenberg/crypto/poseidon2/poseidon2.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/poseidon2/poseidon2_permutation.hpp
  barretenberg/cpp/src/barretenberg/proof_system/arithmetization/gate_data.hpp
  barretenberg/cpp/src/barretenberg/proof_system/circuit_builder/goblin_ultra_circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/proof_system/circuit_builder/goblin_ultra_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/stdlib/hash/pedersen/pedersen.cpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/pedersen/pedersen.hpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/poseidon2/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/stdlib/hash/poseidon2/poseidon2.cpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/poseidon2/poseidon2.hpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/poseidon2/poseidon2.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/poseidon2/poseidon2_permutation.cpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/poseidon2/poseidon2_permutation.hpp
  barretenberg/cpp/src/barretenberg/stdlib/hash/poseidon2/sponge/sponge.hpp
Labels: crypto

#4004 feat: Benchmarks for basic functionality and IPA improvements
  barretenberg/cpp/src/barretenberg/benchmark/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/benchmark/basics_bench/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/benchmark/basics_bench/analyse_all_benchmarks.py
  barretenberg/cpp/src/barretenberg/benchmark/basics_bench/basics.bench.cpp
  barretenberg/cpp/src/barretenberg/benchmark/basics_bench/single_benchmark_analysis.py
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.hpp
  barretenberg/cpp/src/barretenberg/common/thread.cpp
  barretenberg/cpp/src/barretenberg/common/thread.hpp
  barretenberg/cpp/src/barretenberg/ecc/groups/element.hpp
  barretenberg/cpp/src/barretenberg/ecc/groups/element_impl.hpp
Labels: crypto

#4008 docs(yellowpaper): update to AVM section after Zac's feedback
  yellow-paper/docs/public-vm/avm-circuit.md
  yellow-paper/docs/public-vm/avm.md
Labels: documentation, avm

#4173 feat(avm): improve interpreter errors and tests
  yarn-project/acir-simulator/src/avm/avm_message_call_result.ts
  yarn-project/acir-simulator/src/avm/interpreter/interpreter.test.ts
  yarn-project/acir-simulator/src/avm/interpreter/interpreter.ts
Labels: avm

#4184 feat(avm): add tests for memory and bitwise instructions
  yarn-project/acir-simulator/src/avm/interpreter/interpreter.ts
  yarn-project/acir-simulator/src/avm/opcodes/bitwise.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/bitwise.ts
  yarn-project/acir-simulator/src/avm/opcodes/control_flow.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/instruction_set.ts
  yarn-project/acir-simulator/src/avm/opcodes/memory.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/memory.ts
  yarn-project/acir-simulator/src/avm/opcodes/opcodes.ts
Labels: avm

#4213 feat(avm): tagged memory
  yarn-project/acir-simulator/src/avm/avm_machine_state.ts
  yarn-project/acir-simulator/src/avm/avm_memory_types.test.ts
  yarn-project/acir-simulator/src/avm/avm_memory_types.ts
  yarn-project/acir-simulator/src/avm/interpreter/interpreter.ts
  yarn-project/acir-simulator/src/avm/opcodes/arithmetic.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/arithmetic.ts
  yarn-project/acir-simulator/src/avm/opcodes/bitwise.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/bitwise.ts
  yarn-project/acir-simulator/src/avm/opcodes/comparators.ts
  yarn-project/acir-simulator/src/avm/opcodes/control_flow.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/control_flow.ts
  yarn-project/acir-simulator/src/avm/opcodes/instruction.ts
  yarn-project/acir-simulator/src/avm/opcodes/memory.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/memory.ts
Labels: avm

#4226 feat: Adding slither to l1-contracts
  l1-contracts/Dockerfile
  l1-contracts/README.md
  l1-contracts/package.json
  l1-contracts/slither.config.json
  l1-contracts/slither_has_diff.sh
  l1-contracts/slither_output.md
  l1-contracts/src/core/libraries/Errors.sol
  l1-contracts/src/core/libraries/HeaderLib.sol
Labels: security

#4240 fix(avm): fix usage of Fr with tagged memory
  yarn-project/acir-simulator/src/avm/avm_memory_types.ts
  yarn-project/acir-simulator/src/avm/opcodes/external_calls.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/external_calls.ts
  yarn-project/acir-simulator/src/avm/opcodes/storage.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/storage.ts
Labels: avm

#4232 feat(avm): implement comparator opcodes
  yarn-project/acir-simulator/src/avm/avm_memory_types.ts
  yarn-project/acir-simulator/src/avm/opcodes/comparators.test.ts
  yarn-project/acir-simulator/src/avm/opcodes/comparators.ts
  yarn-project/acir-simulator/src/avm/opcodes/control_flow.test.ts
Labels: avm

#4347 fix(avm-transpiler): avm-transpiler bootstrap by tying down rust version
  avm-transpiler/Cargo.lock
  avm-transpiler/rust-toolchain.toml
Labels: bug
