Repository AztecProtocol/aztec-packages, pull requests merged in 2024-12, with the labels that each got.

#10332 feat: Allow querying block number for tree indices
  barretenberg/cpp/scripts/merkle_tree_tests.sh
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/append_only_tree/content_addressed_append_only_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/append_only_tree/content_addressed_append_only_tree.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_transaction.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_store.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_store.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_store.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/queries.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/node_store/cached_content_addressed_tree_store.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/node_store/tree_meta.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/response.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/test_fixtures.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/types.hpp
  barretenberg/cpp/src/barretenberg/world_state/types.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.cpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.test.cpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.cpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.hpp
  barretenberg/cpp/src/barretenberg/world_state_napi/message.hpp
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.test.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/circuit-types/src/interfaces/merkle_tree_operations.ts
  yarn-project/telemetry-client/src/metrics.ts
  yarn-project/world-state/src/native/merkle_trees_facade.ts
  yarn-project/world-state/src/native/message.ts
  yarn-project/world-state/src/native/native_world_state.test.ts
  yarn-project/world-state/src/synchronizer/instrumentation.ts
  yarn-project/world-state/src/world-state-db/merkle_tree_operations_facade.ts
  yarn-project/world-state/src/world-state-db/merkle_tree_snapshot_operations_facade.ts
Labels: e2e-all

#10324 feat(p2p): persist node private p2p keys
  yarn-project/end-to-end/src/e2e_p2p/gossip_network.test.ts
  yarn-project/end-to-end/src/e2e_p2p/p2p_network.ts
  yarn-project/end-to-end/src/e2e_p2p/rediscovery.test.ts
  yarn-project/end-to-end/src/e2e_p2p/reex.test.ts
  yarn-project/end-to-end/src/e2e_p2p/reqresp.test.ts
  yarn-project/end-to-end/src/e2e_p2p/upgrade_governance_proposer.test.ts
  yarn-project/end-to-end/src/fixtures/setup_p2p_test.ts
  yarn-project/kv-store/src/config.ts
  yarn-project/kv-store/src/utils.ts
  yarn-project/p2p-bootstrap/package.json
  yarn-project/p2p-bootstrap/src/index.ts
  yarn-project/p2p-bootstrap/tsconfig.json
  yarn-project/p2p/package.json
  yarn-project/p2p/src/bootstrap/bootstrap.ts
  yarn-project/p2p/src/client/index.ts
  yarn-project/p2p/src/config.ts
  yarn-project/p2p/src/mocks/index.ts
  yarn-project/p2p/src/service/discv5_service.test.ts
  yarn-project/p2p/src/service/libp2p_service.ts
  yarn-project/p2p/src/service/reqresp/reqresp.integration.test.ts
  yarn-project/p2p/src/util.ts
  yarn-project/p2p/src/utils.test.ts
  yarn-project/world-state/src/synchronizer/factory.ts
  yarn-project/yarn.lock
Labels: e2e-p2p, C-p2p, team-alpha, hotfix

#10326 feat: delete attestations older than a slot
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/p2p/src/client/p2p_client.test.ts
  yarn-project/p2p/src/client/p2p_client.ts
  yarn-project/p2p/src/config.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/attestation_pool.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/memory_attestation_pool.test.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/memory_attestation_pool.ts
  yarn-project/p2p/src/service/reqresp/reqresp.integration.test.ts
Labels: e2e-p2p

#9834 feat: Gas Utils for L1 operations
  cspell.json
  spartan/aztec-network/files/config/config-prover-env.sh
  spartan/aztec-network/files/config/config-validator-env.sh
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/aztec.js/src/index.ts
  yarn-project/aztec.js/src/utils/cheat_codes.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.test.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/cli/src/cmds/l1/index.ts
  yarn-project/cli/src/cmds/l1/update_l1_validators.ts
  yarn-project/cli/src/cmds/pxe/get_node_info.ts
  yarn-project/cli/src/cmds/pxe/index.ts
  yarn-project/end-to-end/scripts/native-network/boot-node.sh
  yarn-project/end-to-end/scripts/native-network/deploy-l1-contracts.sh
  yarn-project/end-to-end/scripts/native-network/prover-node.sh
  yarn-project/end-to-end/scripts/native-network/pxe.sh
  yarn-project/end-to-end/scripts/native-network/test-transfer.sh
  yarn-project/end-to-end/scripts/native-network/transaction-bot.sh
  yarn-project/end-to-end/scripts/native-network/validator.sh
  yarn-project/end-to-end/scripts/native-network/validators.sh
  yarn-project/end-to-end/src/composed/integration_l1_publisher.test.ts
  yarn-project/ethereum/package.json
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/ethereum/src/eth_cheat_codes.ts
  yarn-project/ethereum/src/index.ts
  yarn-project/ethereum/src/l1_tx_utils.test.ts
  yarn-project/ethereum/src/l1_tx_utils.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/sequencer-client/src/publisher/config.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.test.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
  yarn-project/telemetry-client/src/config.ts
Labels: e2e-all

#10413 chore: parallelise inverse polynomial construction for lookup relations
  barretenberg/cpp/src/barretenberg/relations/databus_lookup_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/logderiv_lookup_relation.hpp
  barretenberg/cpp/src/barretenberg/trace_to_polynomials/trace_to_polynomials.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.cpp
Labels: crypto

#10417 feat(p2p): snappy compress p2p messages
  yarn-project/p2p/package.json
  yarn-project/p2p/src/mocks/index.ts
  yarn-project/p2p/src/service/encoding.ts
  yarn-project/p2p/src/service/libp2p_service.ts
  yarn-project/p2p/src/service/reqresp/handlers.ts
  yarn-project/p2p/src/service/reqresp/interface.ts
  yarn-project/p2p/src/service/reqresp/reqresp.test.ts
  yarn-project/p2p/src/service/reqresp/reqresp.ts
  yarn-project/yarn.lock
Labels: e2e-p2p

#10432 chore: cleanup phases in avm witgen
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/public_inputs.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
Labels: e2e-all, e2e-prover-full

#10436 chore(network_test.sh): work around 143 by disabling stern
  yarn-project/end-to-end/scripts/network_test.sh
  yarn-project/end-to-end/src/spartan/gating-passive.test.ts
Labels: network-all

#10310 feat: manage enqueued calls & phases in AVM witgen
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/errors.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution_hints.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/gadgets/merkle_tree.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/gadgets/merkle_tree.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/helper.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/helper.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/public_inputs.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  yarn-project/bb-prover/src/avm_proving.test.ts
  yarn-project/bb-prover/src/bb/execute.ts
  yarn-project/bb-prover/src/test/index.ts
  yarn-project/bb-prover/src/test/test_avm.ts
  yarn-project/circuits.js/src/structs/avm/avm.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.test.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.ts
  yarn-project/simulator/src/public/fixtures/index.ts
  yarn-project/simulator/src/public/public_tx_context.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
  yarn-project/simulator/src/public/side_effect_trace.ts
  yarn-project/simulator/src/public/transitional_adapters.ts
Labels: e2e-all, e2e-prover-full

#10445 feat: GETCONTRACTINSTANCE and bytecode retrieval perform nullifier membership checks
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution_hints.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  yarn-project/circuits.js/src/scripts/constants.in.ts
  yarn-project/circuits.js/src/structs/avm/avm.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/journal/journal.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/opcodes/contract.test.ts
  yarn-project/simulator/src/avm/opcodes/external_calls.test.ts
  yarn-project/simulator/src/public/dual_side_effect_trace.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.test.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.ts
  yarn-project/simulator/src/public/fixtures/index.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/simulator/src/public/public_tx_simulator.test.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
  yarn-project/simulator/src/public/side_effect_trace.test.ts
  yarn-project/simulator/src/public/side_effect_trace.ts
  yarn-project/simulator/src/public/side_effect_trace_interface.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
Labels: e2e-all, e2e-prover-full

#10460 chore: Optimise grand product computation round based on active ranges
  barretenberg/cpp/src/barretenberg/commitment_schemes/commitment_key.hpp
  barretenberg/cpp/src/barretenberg/ecc/batched_affine_addition/batched_affine_addition.cpp
  barretenberg/cpp/src/barretenberg/ecc/fields/field_impl.hpp
  barretenberg/cpp/src/barretenberg/flavor/flavor.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/execution_trace/execution_trace_usage_tracker.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/library/grand_product_library.hpp
  barretenberg/cpp/src/barretenberg/relations/databus_lookup_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/logderiv_lookup_relation.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/trace_to_polynomials/trace_to_polynomials.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.hpp
Labels: crypto

#10437 feat: Several Updates in SMT verification module (part 1)
  barretenberg/cpp/src/barretenberg/smt_verification/circuit/circuit_base.hpp
  barretenberg/cpp/src/barretenberg/smt_verification/circuit/circuit_schema.hpp
  barretenberg/cpp/src/barretenberg/smt_verification/circuit/standard_circuit.cpp
  barretenberg/cpp/src/barretenberg/smt_verification/circuit/standard_circuit.test.cpp
  barretenberg/cpp/src/barretenberg/smt_verification/terms/bvterm.test.cpp
  barretenberg/cpp/src/barretenberg/smt_verification/terms/iterm.test.cpp
  barretenberg/cpp/src/barretenberg/smt_verification/util/smt_util.cpp
  barretenberg/cpp/src/barretenberg/smt_verification/util/smt_util.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/circuit_builder_base.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/standard_circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_circuit_builder.cpp
Labels: product-security

#10433 feat: Adding fuzzer for ultra bigfield and relaxing ultra circuit checker
  barretenberg/cpp/CMakePresets.json
  barretenberg/cpp/cmake/module.cmake
  barretenberg/cpp/src/barretenberg/circuit_checker/ultra_circuit_checker.cpp
  barretenberg/cpp/src/barretenberg/circuit_checker/ultra_circuit_checker.hpp
  barretenberg/cpp/src/barretenberg/common/fuzzer.hpp
  barretenberg/cpp/src/barretenberg/common/fuzzer_constants.hpp
  barretenberg/cpp/src/barretenberg/relations/auxiliary_relation.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bigfield/bigfield.fuzzer.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bigfield/bigfield.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bigfield/bigfield_impl.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bigfield/bigfield_ultra.fuzzer.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_circuit_builder.cpp
Labels: product-security

#10534 chore: Rename pxe script generate-package-info to generate
  yarn-project/pxe/package.json
  yarn-project/pxe/package.local.json
  yarn-project/pxe/src/synchronizer/synchronizer.ts
Labels: e2e-all

#10548 fix: Boxes webpack config
  boxes/boxes/react/webpack.config.js
  boxes/boxes/vanilla/webpack.config.js
Labels: boxes

#10560 fix: properly trace storage reads to slots never written before in AVM
  yarn-project/end-to-end/src/e2e_avm_simulator.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.ts
Labels: T-bug

#10578 fix: Do not load pino-pretty in production bundles
  yarn-project/accounts/package.json
  yarn-project/archiver/package.json
  yarn-project/aztec-faucet/package.json
  yarn-project/aztec-node/package.json
  yarn-project/aztec.js/package.json
  yarn-project/aztec/package.json
  yarn-project/bb-prover/package.json
  yarn-project/bot/package.json
  yarn-project/builder/package.json
  yarn-project/circuit-types/package.json
  yarn-project/circuits.js/package.json
  yarn-project/cli-wallet/package.json
  yarn-project/cli/package.json
  yarn-project/end-to-end/package.json
  yarn-project/end-to-end/src/shared/browser.ts
  yarn-project/entrypoints/package.json
  yarn-project/epoch-cache/package.json
  yarn-project/ethereum/package.json
  yarn-project/foundation/package.json
  yarn-project/foundation/src/jest/setup.mjs
  yarn-project/foundation/src/log/pino-logger.ts
  yarn-project/ivc-integration/package.json
  yarn-project/key-store/package.json
  yarn-project/kv-store/package.json
  yarn-project/merkle-tree/package.json
  yarn-project/noir-contracts.js/package.json
  yarn-project/noir-protocol-circuits-types/package.json
  yarn-project/p2p-bootstrap/package.json
  yarn-project/p2p/package.json
  yarn-project/package.common.json
  yarn-project/proof-verifier/package.json
  yarn-project/protocol-contracts/package.json
  yarn-project/prover-client/package.json
  yarn-project/prover-node/package.json
  yarn-project/pxe/package.json
  yarn-project/scripts/package.json
  yarn-project/sequencer-client/package.json
  yarn-project/simulator/package.json
  yarn-project/telemetry-client/package.json
  yarn-project/txe/package.json
  yarn-project/types/package.json
  yarn-project/validator-client/package.json
  yarn-project/world-state/package.json
Labels: e2e-browser

#10579 fix: Bad merge on boxes and disable vite box
  README.md
  boxes/boxes/vite/package.json
  boxes/boxes/vite/src/config.ts
  boxes/package.json
  docs/docs/tutorials/codealong/contract_tutorials/token_bridge/4_typescript_glue_code.md
Labels: boxes

#10593 fix: temporary fix for private kernel tail proving
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/tail_to_public_output_validator.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_tail_to_public.nr
  yarn-project/pxe/src/kernel_prover/kernel_prover.ts
Labels: e2e-all

#10214 chore!: l2 gas maximum is per-TX-public-portion. AVM startup gas is now 20k.
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/helper.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  docs/docs/migration_notes.md
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/scripts/constants.in.ts
  yarn-project/simulator/src/avm/avm_simulator.ts
  yarn-project/simulator/src/avm/fixtures/index.ts
  yarn-project/simulator/src/public/fixtures/index.ts
  yarn-project/simulator/src/public/public_tx_context.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
Labels: e2e-all

#10394 feat: AVM inserts fee write on txs with public calls
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/public_inputs.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/abis/base_or_merge_rollup_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/public_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/components.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/accumulated_data/avm_accumulated_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/accumulated_data/combined_accumulated_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/avm_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/tube.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/merkle_tree/variable_merkle_tree.nr
  noir-projects/noir-protocol-circuits/crates/types/src/proof/vk_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
  yarn-project/circuit-types/src/test/factories.ts
  yarn-project/circuit-types/src/tx/processed_tx.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/scripts/constants.in.ts
  yarn-project/circuits.js/src/structs/avm/avm_accumulated_data.ts
  yarn-project/circuits.js/src/structs/avm/avm_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/combined_accumulated_data.ts
  yarn-project/circuits.js/src/structs/rollup/base_rollup_hints.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/prover-client/src/orchestrator/block-building-helpers.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.test.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.ts
  yarn-project/simulator/src/public/public_processor.test.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/simulator/src/public/public_tx_context.ts
  yarn-project/simulator/src/public/public_tx_simulator.test.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
  yarn-project/simulator/src/public/side_effect_trace_interface.ts
  yarn-project/simulator/src/public/transitional_adapters.ts
Labels: e2e-all, network-all

#10567 fix: memory leak in the broker
  yarn-project/circuit-types/src/interfaces/prover-broker.ts
  yarn-project/circuit-types/src/interfaces/proving-job-source.test.ts
  yarn-project/circuit-types/src/interfaces/proving-job.ts
  yarn-project/prover-client/src/prover-agent/memory-proving-queue.ts
  yarn-project/prover-client/src/proving_broker/caching_broker_facade.test.ts
  yarn-project/prover-client/src/proving_broker/caching_broker_facade.ts
  yarn-project/prover-client/src/proving_broker/proving_agent.test.ts
  yarn-project/prover-client/src/proving_broker/proving_broker.test.ts
  yarn-project/prover-client/src/proving_broker/proving_broker.ts
  yarn-project/prover-client/src/proving_broker/rpc.ts
  yarn-project/prover-client/src/test/mock_prover.ts
Labels: e2e-prover-full, network-all

#10524 feat: Do not make unique revertible note hashes in the private kernels
  noir-projects/aztec-nr/aztec/src/note/utils.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-init-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-init/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-init/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-inner/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/previous_kernel_validator.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/private_kernel_circuit_output_validator.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/private_kernel_circuit_public_inputs_composer.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/reset_output_composer.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/reset_output_validator.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_init.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_reset.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_tail.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/previous_kernel_validator_builder/validate_no_transient_data.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/private_kernel_circuit_output_validator_builder/mod.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/private_kernel_circuit_output_validator_builder/validate_initial_values.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/private_kernel_circuit_public_inputs_composer_builder/mod.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/private_kernel_circuit_public_inputs_composer_builder/new_from_tx_request.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/private_kernel_circuit_public_inputs_composer_builder/propagate_from_private_call.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-reset/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail-to-public/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/reset-kernel-lib/src/note_hash_read_request_reset.nr
  noir-projects/noir-protocol-circuits/crates/rollup-base-private/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/rollup-base-public/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/rollup-block-merge/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/rollup-block-root/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/rollup-root/SampleInputs.toml
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/private_kernel_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/private_kernel_circuit_public_inputs_builder.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/note_hash_leaf_preimage.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/hash.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
  yarn-project/circuits.js/src/hints/build_note_hash_read_request_hints.test.ts
  yarn-project/circuits.js/src/hints/build_note_hash_read_request_hints.ts
  yarn-project/circuits.js/src/structs/kernel/private_kernel_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/private_kernel_init_circuit_private_inputs.ts
  yarn-project/noir-protocol-circuits-types/src/index.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/pxe/src/kernel_prover/kernel_prover.ts
  yarn-project/pxe/src/note_decryption_utils/brute_force_note_info.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/pxe/src/simulator_oracle/simulator_oracle.test.ts
  yarn-project/simulator/src/client/client_execution_context.ts
  yarn-project/simulator/src/client/execution_note_cache.ts
  yarn-project/simulator/src/client/private_execution.test.ts
  yarn-project/simulator/src/public/transitional_adapters.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
Labels: e2e-all

#10613 feat: PXE sync on demand
  aztec-up/bin/docker-compose.sandbox.yml
  boxes/boxes/vite/src/config.ts
  boxes/docker-compose.yml
  docs/docs/reference/developer_references/sandbox_reference/sandbox-reference.md
  spartan/aztec-network/templates/pxe.yaml
  yarn-project/aztec.js/src/contract/sent_tx.test.ts
  yarn-project/aztec.js/src/contract/sent_tx.ts
  yarn-project/aztec.js/src/index.ts
  yarn-project/aztec.js/src/wallet/base_wallet.ts
  yarn-project/aztec/docker-compose.yml
  yarn-project/aztec/src/cli/cmds/start_pxe.ts
  yarn-project/aztec/src/sandbox.ts
  yarn-project/bot/src/factory.ts
  yarn-project/circuit-types/src/interfaces/index.ts
  yarn-project/circuit-types/src/interfaces/pxe.test.ts
  yarn-project/circuit-types/src/interfaces/pxe.ts
  yarn-project/circuit-types/src/interfaces/sync-status.ts
  yarn-project/cli-wallet/src/bin/index.ts
  yarn-project/cli/src/cmds/pxe/get_block.ts
  yarn-project/cli/src/cmds/pxe/index.ts
  yarn-project/end-to-end/scripts/docker-compose-no-sandbox.yml
  yarn-project/end-to-end/scripts/docker-compose-wallet.yml
  yarn-project/end-to-end/scripts/docker-compose.yml
  yarn-project/end-to-end/src/benchmarks/bench_process_history.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_prover.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_publish_rollup.test.ts
  yarn-project/end-to-end/src/benchmarks/utils.ts
  yarn-project/end-to-end/src/e2e_2_pxes.test.ts
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/pxe/src/bin/index.ts
  yarn-project/pxe/src/config/index.ts
  yarn-project/pxe/src/database/kv_pxe_database.ts
  yarn-project/pxe/src/database/pxe_database.ts
  yarn-project/pxe/src/index.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/pxe/src/pxe_service/test/pxe_service.test.ts
  yarn-project/pxe/src/pxe_service/test/pxe_test_suite.ts
  yarn-project/pxe/src/simulator_oracle/index.ts
  yarn-project/pxe/src/synchronizer/synchronizer.ts
  yarn-project/pxe/src/utils/create_pxe_service.ts
  yarn-project/pxe/src/utils/index.ts
Labels: e2e-all, network-all

#10529 fix: tweaking Fr and Fq fromString functionality to distinguish number-only strings
  yarn-project/accounts/src/testing/configuration.ts
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/archiver/src/archiver/data_retrieval.ts
  yarn-project/archiver/src/archiver/kv_archiver_store/contract_class_store.ts
  yarn-project/archiver/src/archiver/memory_archiver_store/memory_archiver_store.ts
  yarn-project/aztec/src/cli/cmds/start_pxe.ts
  yarn-project/bb-prover/src/prover/bb_private_kernel_prover.ts
  yarn-project/bb-prover/src/prover/bb_prover.ts
  yarn-project/bb-prover/src/verification_key/verification_key_data.ts
  yarn-project/bot/src/config.ts
  yarn-project/circuit-types/src/interfaces/prover-client.ts
  yarn-project/circuits.js/src/contract/contract_class.test.ts
  yarn-project/circuits.js/src/contract/contract_class_id.test.ts
  yarn-project/circuits.js/src/keys/derivation.test.ts
  yarn-project/circuits.js/src/structs/complete_address.test.ts
  yarn-project/cli-wallet/src/cmds/bridge_fee_juice.ts
  yarn-project/cli-wallet/src/utils/options/fees.ts
  yarn-project/cli/src/cmds/devnet/bootstrap_network.ts
  yarn-project/cli/src/utils/commands.ts
  yarn-project/end-to-end/src/devnet/e2e_smoke.test.ts
  yarn-project/end-to-end/src/e2e_authwit.test.ts
  yarn-project/end-to-end/src/e2e_cross_chain_messaging/token_bridge_public.test.ts
  yarn-project/end-to-end/src/fixtures/l1_to_l2_messaging.ts
  yarn-project/end-to-end/src/guides/dapp_testing.test.ts
  yarn-project/end-to-end/src/guides/writing_an_account_contract.test.ts
  yarn-project/end-to-end/src/shared/browser.ts
  yarn-project/end-to-end/src/shared/cross_chain_test_harness.ts
  yarn-project/end-to-end/src/shared/uniswap_l1_l2.ts
  yarn-project/foundation/src/abi/encoder.ts
  yarn-project/foundation/src/fields/fields.test.ts
  yarn-project/foundation/src/fields/fields.ts
  yarn-project/foundation/src/schemas/utils.ts
  yarn-project/noir-protocol-circuits-types/src/scripts/generate_vk_hashes.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/noir-protocol-circuits-types/src/utils/vk_json.ts
  yarn-project/protocol-contracts/src/scripts/generate_data.ts
  yarn-project/pxe/src/database/incoming_note_dao.ts
  yarn-project/pxe/src/database/outgoing_note_dao.ts
  yarn-project/pxe/src/simulator_oracle/index.ts
  yarn-project/sequencer-client/src/config.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
  yarn-project/simulator/src/acvm/serialize.ts
  yarn-project/simulator/src/client/private_execution.test.ts
  yarn-project/simulator/src/client/simulator.test.ts
  yarn-project/simulator/src/client/unconstrained_execution.test.ts
Labels: e2e-all

#10676 chore: boxes tests cause resource issues
  .github/workflows/ci.yml
Labels: e2e-all

#10649 feat: Leaf index requests to the native world state can now be performed as a batch query
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/append_only_tree/content_addressed_append_only_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/append_only_tree/content_addressed_append_only_tree.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/node_store/cached_content_addressed_tree_store.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/response.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/test_fixtures.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/types.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.cpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.test.cpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.cpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.hpp
  barretenberg/cpp/src/barretenberg/world_state_napi/message.hpp
  yarn-project/aztec-node/src/aztec-node/server.test.ts
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/circuit-types/src/interfaces/merkle_tree_operations.ts
  yarn-project/p2p/src/service/libp2p_service.ts
  yarn-project/prover-client/src/orchestrator/block-building-helpers.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.test.ts
  yarn-project/sequencer-client/src/tx_validator/tx_validator_factory.ts
  yarn-project/simulator/src/public/public_db_sources.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
  yarn-project/world-state/src/native/merkle_trees_facade.ts
  yarn-project/world-state/src/native/message.ts
  yarn-project/world-state/src/native/native_world_state.test.ts
  yarn-project/world-state/src/native/native_world_state.ts
  yarn-project/world-state/src/native/native_world_state_instance.ts
  yarn-project/world-state/src/world-state-db/merkle_tree_operations_facade.ts
  yarn-project/world-state/src/world-state-db/merkle_tree_snapshot_operations_facade.ts
Labels: e2e-all, network-all

#10675 refactor: tagging cleanup
  cspell.json
  noir-projects/aztec-nr/aztec/src/encrypted_logs/payload.nr
  noir-projects/aztec-nr/aztec/src/oracle/notes.nr
  noir-projects/noir-protocol-circuits/crates/types/src/indexed_tagging_secret.nr
  yarn-project/circuits.js/src/keys/derivation.ts
  yarn-project/circuits.js/src/structs/index.ts
  yarn-project/circuits.js/src/structs/indexed_tagging_secret.ts
  yarn-project/circuits.js/src/structs/tagging_secret.ts
  yarn-project/pxe/src/database/kv_pxe_database.ts
  yarn-project/pxe/src/simulator_oracle/index.ts
  yarn-project/pxe/src/simulator_oracle/simulator_oracle.test.ts
  yarn-project/pxe/src/simulator_oracle/tagging_utils.ts
  yarn-project/simulator/src/acvm/oracle/oracle.ts
  yarn-project/simulator/src/acvm/oracle/typed_oracle.ts
  yarn-project/simulator/src/client/db_oracle.ts
  yarn-project/simulator/src/client/private_execution.test.ts
  yarn-project/simulator/src/client/view_data_oracle.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
  yarn-project/txe/src/txe_service/txe_service.ts
Labels: e2e-all

#10705 chore: Remove sinon in favor of a date provider
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/end-to-end/package.json
  yarn-project/end-to-end/src/e2e_p2p/gossip_network.test.ts
  yarn-project/end-to-end/src/e2e_p2p/p2p_network.ts
  yarn-project/end-to-end/src/e2e_p2p/rediscovery.test.ts
  yarn-project/end-to-end/src/e2e_p2p/reex.test.ts
  yarn-project/end-to-end/src/e2e_p2p/reqresp.test.ts
  yarn-project/end-to-end/src/e2e_p2p/upgrade_governance_proposer.test.ts
  yarn-project/end-to-end/src/fixtures/setup_p2p_test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/epoch-cache/src/epoch_cache.ts
  yarn-project/foundation/src/timer/date.test.ts
  yarn-project/foundation/src/timer/date.ts
  yarn-project/foundation/src/timer/index.ts
  yarn-project/validator-client/src/factory.ts
  yarn-project/yarn.lock
Labels: e2e-p2p

#10672 chore(prover): prover node should not gossip attestations
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/circuit-types/src/interfaces/p2p.ts
  yarn-project/circuit-types/src/p2p/client_type.ts
  yarn-project/circuit-types/src/p2p/index.ts
  yarn-project/circuit-types/src/p2p/topic_type.ts
  yarn-project/p2p/src/client/index.ts
  yarn-project/p2p/src/client/p2p_client.test.ts
  yarn-project/p2p/src/client/p2p_client.ts
  yarn-project/p2p/src/mem_pools/interface.ts
  yarn-project/p2p/src/mocks/index.ts
  yarn-project/p2p/src/service/libp2p_service.ts
  yarn-project/p2p/src/service/reqresp/reqresp.integration.test.ts
  yarn-project/prover-node/src/prover-coordination/factory.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/prover-node/src/prover-node.ts
Labels: e2e-p2p

#10666 feat: Note hash management in the AVM
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/gadgets/merkle_tree.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/gadgets/merkle_tree.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  yarn-project/circuits.js/src/hash/hash.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/fixtures/index.ts
  yarn-project/simulator/src/avm/journal/journal.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.test.ts
  yarn-project/simulator/src/avm/test_utils.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.test.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.ts
  yarn-project/simulator/src/public/execution.ts
  yarn-project/simulator/src/public/public_tx_context.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
  yarn-project/simulator/src/public/side_effect_trace_interface.ts
  yarn-project/simulator/src/public/transitional_adapters.ts
Labels: e2e-all

#10692 fix: remove cache and call broker directly
  scripts/tmux_split_args.sh
  yarn-project/circuit-types/src/interfaces/prover-broker.ts
  yarn-project/circuit-types/src/interfaces/prover-client.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/foundation/src/string/index.ts
  yarn-project/prover-client/src/index.ts
  yarn-project/prover-client/src/prover-client/prover-client.ts
  yarn-project/prover-client/src/proving_broker/broker_prover_facade.test.ts
  yarn-project/prover-client/src/proving_broker/broker_prover_facade.ts
  yarn-project/prover-client/src/proving_broker/caching_broker_facade.test.ts
  yarn-project/prover-client/src/proving_broker/prover_cache/memory.ts
  yarn-project/prover-client/src/proving_broker/proving_agent.ts
  yarn-project/prover-client/src/proving_broker/proving_broker.test.ts
  yarn-project/prover-client/src/proving_broker/proving_broker.ts
  yarn-project/prover-client/src/proving_broker/proving_job_controller.test.ts
  yarn-project/prover-client/src/proving_broker/proving_job_controller.ts
  yarn-project/prover-client/src/proving_broker/rpc.ts
  yarn-project/prover-client/src/test/mock_prover.ts
  yarn-project/prover-node/src/factory.ts
  yarn-project/prover-node/src/prover-cache/cache_manager.ts
  yarn-project/prover-node/src/prover-cache/kv_cache.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/prover-node/src/prover-node.ts
Labels: network-all

#10747 fix(bb.js): use globalThis instead of self
  barretenberg/ts/src/barretenberg_wasm/helpers/browser/index.ts
  barretenberg/ts/src/random/browser/index.ts
  barretenberg/ts/webpack.config.js
Labels: help wanted

#10068 feat: sumcheck with disabled rows
  barretenberg/cpp/src/barretenberg/constants.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.cpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/composer/composer_lib.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/composer/composer_lib.test.cpp
  barretenberg/cpp/src/barretenberg/polynomials/row_disabling_polynomial.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_zk_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_zk_flavor.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.test.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck_round.hpp
  barretenberg/cpp/src/barretenberg/trace_to_polynomials/trace_to_polynomials.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/databus.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/mega_transcript.test.cpp
Labels: crypto

#10748 chore: Cleanup after e2e tests
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/kv-store/src/indexeddb/store.ts
  yarn-project/kv-store/src/interfaces/array_test_suite.ts
  yarn-project/kv-store/src/interfaces/map_test_suite.ts
  yarn-project/kv-store/src/interfaces/set_test_suite.ts
  yarn-project/kv-store/src/interfaces/singleton_test_suite.ts
  yarn-project/kv-store/src/interfaces/store_test_suite.ts
  yarn-project/kv-store/src/lmdb/counter.test.ts
  yarn-project/kv-store/src/lmdb/store.ts
  yarn-project/kv-store/src/stores/l2_tips_store.test.ts
Labels: e2e-all

#10756 feat: Add tree equality assertions
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/gadgets/merkle_tree.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/public_base_rollup.nr
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_errors.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_mixed_blocks.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_single_blocks.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_workflow.test.ts
  yarn-project/simulator/src/avm/avm_tree.ts
  yarn-project/simulator/src/public/public_tx_context.ts
Labels: e2e-all

#10667 feat(p2p): attestation pool persistence
  yarn-project/kv-store/src/interfaces/map.ts
  yarn-project/kv-store/src/interfaces/store.ts
  yarn-project/kv-store/src/lmdb/map.test.ts
  yarn-project/kv-store/src/lmdb/map.ts
  yarn-project/kv-store/src/lmdb/store.ts
  yarn-project/p2p/src/client/index.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/attestation_pool.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/attestation_pool_test_suite.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/kv_attestation_pool.test.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/kv_attestation_pool.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/memory_attestation_pool.test.ts
  yarn-project/p2p/src/services/reqresp/reqresp.integration.test.ts
Labels: e2e-p2p

#10696 chore(avm): radix opcode - remove immediates
  avm-transpiler/src/transpile.rs
  barretenberg/cpp/src/barretenberg/dsl/acir_format/serde/acir.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/deserialization.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  noir/noir-repo/acvm-repo/acir/codegen/acir.cpp
  noir/noir-repo/acvm-repo/brillig/src/black_box.rs
  noir/noir-repo/acvm-repo/brillig_vm/src/black_box.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/codegen_intrinsic.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/debug_show.rs
  yarn-project/simulator/src/avm/opcodes/conversion.test.ts
  yarn-project/simulator/src/avm/opcodes/conversion.ts
Labels: e2e-prover-full

#10731 fix: AVM witgen track gas for nested calls and external halts
  barretenberg/cpp/pil/avm/gas.pil
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/gas.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/arithmetic.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/cast.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/slice.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/errors.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/gas_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/gas_trace.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/helper.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  yarn-project/bb-prover/src/avm_proving.test.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/avm_simulator.ts
Labels: e2e-all

#10837 fix: aztec js e2e
  yarn-project/Earthfile
  yarn-project/archiver/package.json
  yarn-project/aztec-faucet/package.json
  yarn-project/aztec-node/package.json
  yarn-project/aztec.js/package.json
  yarn-project/aztec.js/src/api/addresses.ts
  yarn-project/aztec.js/src/contract/index.ts
  yarn-project/aztec.js/src/index.ts
  yarn-project/bb-prover/package.json
  yarn-project/bot/package.json
  yarn-project/circuit-types/package.json
  yarn-project/cli/package.json
  yarn-project/cli/src/utils/commands.ts
  yarn-project/end-to-end/src/composed/e2e_aztec_js_browser.test.ts
  yarn-project/end-to-end/src/web/main.ts
  yarn-project/l1-artifacts/package.json
  yarn-project/p2p/package.json
  yarn-project/proof-verifier/package.json
  yarn-project/protocol-contracts/package.json
  yarn-project/prover-client/package.json
  yarn-project/prover-node/package.json
  yarn-project/sequencer-client/package.json
  yarn-project/validator-client/package.json
  yarn-project/world-state/package.json
Labels: e2e-all

#10811 refactor: optimization of `syncTaggedLogsAsSender`
  yarn-project/pxe/src/simulator_oracle/index.ts
  yarn-project/pxe/src/simulator_oracle/simulator_oracle.test.ts
  yarn-project/pxe/src/simulator_oracle/tagging_utils.ts
Labels: e2e-all

#10768 chore: silence logs to k8s port-forward
  yarn-project/end-to-end/src/spartan/utils.ts
Labels: network-all

#10734 feat(p2p): remaining p2p topic validators
  yarn-project/aztec-node/package.json
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/aztec-node/tsconfig.json
  yarn-project/circuit-types/src/p2p/index.ts
  yarn-project/circuit-types/src/p2p/message_validator.ts
  yarn-project/circuit-types/src/p2p/peer_error.ts
  yarn-project/p2p/package.json
  yarn-project/p2p/src/client/factory.ts
  yarn-project/p2p/src/client/index.ts
  yarn-project/p2p/src/index.ts
  yarn-project/p2p/src/mocks/index.ts
  yarn-project/p2p/src/msg_validators/attestation_validator/attestation_validator.test.ts
  yarn-project/p2p/src/msg_validators/attestation_validator/attestation_validator.ts
  yarn-project/p2p/src/msg_validators/attestation_validator/index.ts
  yarn-project/p2p/src/msg_validators/block_proposal_validator/block_proposal_validator.test.ts
  yarn-project/p2p/src/msg_validators/block_proposal_validator/block_proposal_validator.ts
  yarn-project/p2p/src/msg_validators/block_proposal_validator/index.ts
  yarn-project/p2p/src/msg_validators/epoch_proof_quote_validator/epoch_proof_quote_validator.test.ts
  yarn-project/p2p/src/msg_validators/epoch_proof_quote_validator/epoch_proof_quote_validator.ts
  yarn-project/p2p/src/msg_validators/epoch_proof_quote_validator/index.ts
  yarn-project/p2p/src/msg_validators/index.ts
  yarn-project/p2p/src/msg_validators/tx_validator/aggregate_tx_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/aggregate_tx_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/data_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/data_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/double_spend_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/double_spend_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/index.ts
  yarn-project/p2p/src/msg_validators/tx_validator/metadata_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/metadata_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/tx_proof_validator.ts
  yarn-project/p2p/src/services/libp2p/libp2p_service.ts
  yarn-project/p2p/src/services/peer-scoring/peer_scoring.test.ts
  yarn-project/p2p/src/services/peer-scoring/peer_scoring.ts
  yarn-project/p2p/src/services/peer_manager.ts
  yarn-project/p2p/src/services/reqresp/rate_limiter/rate_limiter.test.ts
  yarn-project/p2p/src/services/reqresp/rate_limiter/rate_limiter.ts
  yarn-project/p2p/src/services/reqresp/reqresp.integration.test.ts
  yarn-project/p2p/src/services/reqresp/reqresp.test.ts
  yarn-project/p2p/src/services/reqresp/reqresp.ts
  yarn-project/p2p/tsconfig.json
  yarn-project/prover-node/package.json
  yarn-project/prover-node/src/factory.ts
  yarn-project/prover-node/src/prover-coordination/factory.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/prover-node/tsconfig.json
  yarn-project/validator-client/src/factory.ts
  yarn-project/validator-client/src/validator.ts
  yarn-project/yarn.lock
Labels: e2e-p2p

#10852 feat: Add a flag to disable fee payment checks in AVM simulator
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/aztec.js/src/contract/base_contract_interaction.ts
  yarn-project/aztec.js/src/contract/contract_function_interaction.ts
  yarn-project/aztec.js/src/wallet/base_wallet.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.test.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/circuit-types/src/interfaces/pxe.test.ts
  yarn-project/circuit-types/src/interfaces/pxe.ts
  yarn-project/prover-node/src/job/epoch-proving-job.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/simulator/src/public/public_tx_simulator.test.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
  yarn-project/txe/src/node/txe_node.ts
Labels: e2e-all

#10646 chore: 24 second epochs in CI
  .github/workflows/ci.yml
  spartan/aztec-network/values/ci.yaml
  yarn-project/end-to-end/scripts/network_test.sh
  yarn-project/end-to-end/src/spartan/gating-passive.test.ts
  yarn-project/end-to-end/src/spartan/utils.ts
Labels: network-all

#10881 chore: increase default peer discovery heartbeat to 30 seconds
  yarn-project/p2p/src/config.ts
Labels: hotfix

#10884 fix: Do not abort blockstream loop during sync
  yarn-project/circuit-types/src/l2_block_downloader/l2_block_stream.ts
Labels: e2e-all

#10890 fix: reduce peer check interval for e2e tests
  yarn-project/end-to-end/src/e2e_p2p/p2p_network.ts
  yarn-project/end-to-end/src/fixtures/fixtures.ts
  yarn-project/end-to-end/src/fixtures/setup_p2p_test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
Labels: e2e-p2p

#10886 fix(p2p): less verbose error
  yarn-project/p2p/src/services/peer_manager.ts
Labels: e2e-p2p

#10891 fix(p2p): increase default heartbeat
  yarn-project/p2p/src/config.ts
Labels: e2e-p2p

#10907 feat(p2p): timeout peers, disconnect from badly scored peers
  yarn-project/p2p/src/bootstrap/bootstrap.ts
  yarn-project/p2p/src/services/discv5/discV5_service.ts
  yarn-project/p2p/src/services/libp2p/libp2p_service.ts
  yarn-project/p2p/src/services/peer-scoring/peer_scoring.test.ts
  yarn-project/p2p/src/services/peer-scoring/peer_scoring.ts
  yarn-project/p2p/src/services/peer_manager.test.ts
  yarn-project/p2p/src/services/peer_manager.ts
  yarn-project/p2p/src/services/reqresp/reqresp.integration.test.ts
  yarn-project/p2p/src/services/types.ts
Labels: e2e-p2p, network-all

#10876 fix: degrade libp2p crypto package
  yarn-project/p2p/package.json
  yarn-project/yarn.lock
Labels: e2e-p2p, network-all

#10870 feat: Revamped sequencer timetable and tx processing timeout
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/aztec.js/src/utils/anvil_test_watcher.ts
  yarn-project/aztec.js/src/utils/cheat_codes.ts
  yarn-project/circuit-types/src/interfaces/configs.ts
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/ethereum/src/config.ts
  yarn-project/ethereum/src/eth_cheat_codes.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/foundation/src/log/pino-logger.ts
  yarn-project/foundation/src/sleep/index.ts
  yarn-project/foundation/src/timer/date.ts
  yarn-project/foundation/src/timer/index.ts
  yarn-project/foundation/src/timer/timeout.ts
  yarn-project/p2p/src/services/reqresp/reqresp.ts
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/prover-node/src/prover-node.ts
  yarn-project/pxe/src/kernel_prover/kernel_prover.ts
  yarn-project/sequencer-client/src/client/sequencer-client.ts
  yarn-project/sequencer-client/src/config.ts
  yarn-project/sequencer-client/src/index.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.test.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/sequencer-client/src/sequencer/utils.ts
  yarn-project/simulator/src/public/public_processor.test.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/validator-client/src/validator.ts
Labels: e2e-all

#10932 fix: CI kind test fix
  .github/workflows/ci.yml
  spartan/aztec-network/values/ci-smoke.yaml
  spartan/aztec-network/values/ci.yaml
Labels: e2e-all, network-all

#10943 chore: Faster getLeafOrLowLeafInfo in AVM ephemeral trees
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/simulator/src/avm/avm_tree.ts
Labels: e2e-all, network-all
