Repository AztecProtocol/aztec-packages, pull requests merged in 2024-11, with the labels that each got.

#9659 chore: make docker-compose tests less spammy
  yarn-project/end-to-end/scripts/docker-compose.yml
Labels: e2e-all

#9662 fix: bench e2e jobs
  yarn-project/end-to-end/scripts/e2e_test.sh
Labels: bench-all

#9689 fix: earthly-ci in bench-e2e
  .github/workflows/ci.yml
Labels: bench-all

#9699 fix: reenable kind 4epochs
  .github/ensure-tester/action.yml
  .github/workflows/ci.yml
Labels: network-all

#9732 test: kind-network-test 16 validators
  .github/workflows/ci.yml
Labels: network-all

#9737 fix: get_bench_jobs.sh
  scripts/ci/get_bench_jobs.sh
  scripts/ci/get_e2e_jobs.sh
Labels: e2e-all

#9744 fix: Include revertdata in Avm simulation errors for failures in nonrevertible
  scripts/ci/get_e2e_jobs.sh
  yarn-project/circuit-types/src/simulation_error.ts
  yarn-project/end-to-end/scripts/e2e_test_config.yml
  yarn-project/end-to-end/src/e2e_crowdfunding_and_claim.test.ts
  yarn-project/pxe/src/pxe_service/error_enriching.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/simulator/src/common/errors.ts
  yarn-project/simulator/src/public/side_effect_trace.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
  yarn-project/txe/src/txe_service/txe_service.ts
Labels: e2e-all

#9748 fix: fix broken e2e_pending_note_hashes
  noir-projects/noir-contracts/contracts/pending_note_hashes_contract/src/main.nr
Labels: e2e-all, e2e-pending-note-hashes, e2e-pending-note-hashes-contract

#9626 feat: recursive verifier for decider and last folding proof
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.hpp
  barretenberg/cpp/src/barretenberg/client_ivc/test_bench_shared.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/honk_recursion_constraint.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/proof_surgeon.hpp
  barretenberg/cpp/src/barretenberg/honk/proof_system/types/proof.hpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.hpp
  full_log.ansi
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/bb-prover/src/bb/execute.ts
  yarn-project/circuits.js/src/structs/client_ivc_proof.ts
Labels: e2e-prover-full

#9755 chore: upload logs in kind-network-test
  .github/ensure-tester/action.yml
  .github/workflows/ci.yml
  yarn-project/end-to-end/scripts/network_test.sh
Labels: network-all

#9784 chore: range error flake
  yarn-project/circuit-types/src/logs/l1_payload/encrypted_log_payload.ts
Labels: network-all

#9726 feat: prove openings of masking polynomials in ECCVM and Translator
  barretenberg/cpp/src/barretenberg/commitment_schemes/kzg/kzg.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplonk.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_bools_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_lookup_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_msm_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_point_table_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_set_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_transcript_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_wnaf_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_decomposition_relation_2.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_delta_range_constraint_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_extra_relations.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_non_native_field_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_permutation_relation.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.test.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck_round.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/zk_sumcheck_data.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_prover.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_prover.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.cpp
Labels: crypto

#9758 feat: Origin Tags part 3 (Memory)
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/dynamic_array.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/ram_table.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/ram_table.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/ram_table.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/rom_table.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/rom_table.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/rom_table.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/twin_rom_table.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/twin_rom_table.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/memory/twin_rom_table.test.cpp
Labels: product-security

#9774 feat: mega zk features
  barretenberg/cpp/src/barretenberg/benchmark/ultra_bench/mega_zk_honk.bench.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/kzg/kzg.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.cpp
  barretenberg/cpp/src/barretenberg/execution_trace/execution_trace.cpp
  barretenberg/cpp/src/barretenberg/flavor/flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/oink_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/oink_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_zk_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_zk_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.test.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/zk_sumcheck_data.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_prover.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/mega_honk.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/mega_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/merge_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/merge_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/merge_verifier.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_verifier.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_prover.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_verifier.hpp
Labels: crypto

#9639 refactor: nuking pay_refund_with_shielded_rebate flow
  noir-projects/noir-contracts/Nargo.toml
  noir-projects/noir-contracts/contracts/fpc_contract/src/main.nr
  noir-projects/noir-contracts/contracts/fpc_contract/src/settings.nr
  noir-projects/noir-contracts/contracts/private_fpc_contract/Nargo.toml
  noir-projects/noir-contracts/contracts/private_fpc_contract/src/main.nr
  noir-projects/noir-contracts/contracts/token_contract/src/main.nr
  noir-projects/noir-contracts/contracts/token_contract/src/test/refunds.nr
  scripts/ci/get_e2e_jobs.sh
  yarn-project/aztec.js/src/fee/private_fee_payment_method.ts
  yarn-project/cli-wallet/src/utils/options/fees.ts
  yarn-project/cli/src/cmds/devnet/bootstrap_network.ts
  yarn-project/end-to-end/scripts/e2e_test_config.yml
  yarn-project/end-to-end/src/benchmarks/bench_prover.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_tx_size_fees.test.ts
  yarn-project/end-to-end/src/e2e_fees/account_init.test.ts
  yarn-project/end-to-end/src/e2e_fees/dapp_subscription.test.ts
  yarn-project/end-to-end/src/e2e_fees/failures.test.ts
  yarn-project/end-to-end/src/e2e_fees/fees_test.ts
  yarn-project/end-to-end/src/e2e_fees/private_payments.test.ts
  yarn-project/end-to-end/src/e2e_fees/private_refunds.test.ts
  yarn-project/sequencer-client/src/config.ts
Labels: e2e-all

#9856 fix: bench prover test
  yarn-project/end-to-end/src/benchmarks/bench_prover.test.ts
  yarn-project/ivc-integration/package.json
Labels: bench-prover

#9860 fix: deploy l2 contracts fails on 48 validator
  spartan/aztec-network/templates/_helpers.tpl
  spartan/aztec-network/templates/pxe.yaml
  spartan/aztec-network/values.yaml
  spartan/aztec-network/values/48-validators.yaml
  spartan/scripts/deploy_spartan.sh
  yarn-project/cli/src/cmds/misc/setup_contracts.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
Labels: hotfix

#9865 refactor: remove public kernel inner
  noir-projects/noir-protocol-circuits/Nargo.template.toml
  noir-projects/noir-protocol-circuits/crates/public-kernel-inner-simulated/Nargo.toml
  noir-projects/noir-protocol-circuits/crates/public-kernel-inner-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/enqueued_call_data_validator.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/mod.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/previous_kernel_validator.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_kernel_output_validator.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_composer.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_composer/combine_data.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_composer/generate_output_hints.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_composer/generate_overridable_public_data_writes.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_composer/generate_public_data_leaves.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_validator.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_validator/validate_linked_public_data_writes.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_validator/validate_public_data_leaf_memberships.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/public_tail_output_validator/validate_unique_leaf_slots.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/vm_circuit_output_composer.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/vm_circuit_output_composer/propagate_accumulated_data.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/lib.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_inner.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_merge.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_tail.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/vm_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/mod.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/public_call_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/public_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/public_data_read.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/public_data_update_request.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/public_inner_call_request.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/public_kernel_inner_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/contrakt/mod.nr
  noir-projects/noir-protocol-circuits/crates/types/src/contrakt/storage_read.nr
  noir-projects/noir-protocol-circuits/crates/types/src/contrakt/storage_update_request.nr
  noir-projects/noir-protocol-circuits/crates/types/src/lib.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
  yarn-project/circuits.js/src/structs/index.ts
  yarn-project/circuits.js/src/structs/kernel/public_call_data.test.ts
  yarn-project/circuits.js/src/structs/kernel/public_call_data.ts
  yarn-project/circuits.js/src/structs/kernel/public_kernel_inner_circuit_private_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/public_kernel_inner_data.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/noir-protocol-circuits-types/src/artifacts.ts
  yarn-project/noir-protocol-circuits-types/src/index.ts
  yarn-project/noir-protocol-circuits-types/src/scripts/generate_ts_from_abi.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/prover-client/src/prover-agent/rpc.ts
  yarn-project/simulator/src/public/enqueued_call_simulator.ts
  yarn-project/simulator/src/public/public_kernel.ts
  yarn-project/simulator/src/public/public_kernel_circuit_simulator.ts
Labels: e2e-all

#9797 feat(spartan): run with reth --dev underneath
  spartan/aztec-network/files/config/deploy-l1-contracts.sh
  spartan/aztec-network/files/config/genesis.json
  spartan/aztec-network/templates/anvil.yaml
  spartan/aztec-network/templates/boot-node.yaml
  spartan/aztec-network/templates/prover-node.yaml
  spartan/aztec-network/templates/reth.yaml
  spartan/aztec-network/templates/setup-l2-contracts.yaml
  spartan/aztec-network/templates/validator.yaml
  spartan/aztec-network/values.yaml
Labels: network-all, hotfix

#9810 feat: Stop with HeapVector
  avm-transpiler/src/transpile.rs
  barretenberg/cpp/src/barretenberg/dsl/acir_format/avm_recursion_constraint.test.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/serde/acir.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/arithmetic.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/bitwise.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/cast.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/comparison.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/control_flow.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/gas.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/indirect_mem.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/inter_table.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/kernel.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/mem_opcodes.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/memory.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/slice.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/aztec-nr/aztec/src/macros/dispatch/mod.nr
  noir/noir-repo/acvm-repo/acir/codegen/acir.cpp
  noir/noir-repo/acvm-repo/acir/tests/test_program_serialization.rs
  noir/noir-repo/acvm-repo/acvm/tests/solver.rs
  noir/noir-repo/acvm-repo/acvm_js/test/shared/complex_foreign_call.ts
  noir/noir-repo/acvm-repo/acvm_js/test/shared/foreign_call.ts
  noir/noir-repo/acvm-repo/brillig/src/opcodes.rs
  noir/noir-repo/acvm-repo/brillig_vm/src/lib.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_directive.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/artifact.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/codegen_calls.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/debug_show.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/entry_point.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/instructions.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/procedures/mod.rs
  noir/noir-repo/tooling/debugger/src/context.rs
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/opcodes/external_calls.test.ts
  yarn-project/simulator/src/avm/opcodes/external_calls.ts
Labels: e2e-all

#9391 refactor: ServerCircuitProver return values
  yarn-project/bb-prover/src/prover/bb_prover.ts
  yarn-project/bb-prover/src/test/test_circuit_prover.ts
  yarn-project/circuit-types/src/interfaces/proving-job.ts
  yarn-project/circuit-types/src/interfaces/server_circuit_prover.ts
  yarn-project/circuits.js/src/structs/parity/parity_public_inputs.ts
  yarn-project/prover-client/src/orchestrator/orchestrator.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_workflow.test.ts
  yarn-project/prover-client/src/orchestrator/tx-proving-state.ts
  yarn-project/prover-client/src/prover-agent/agent-queue-integration.test.ts
  yarn-project/prover-client/src/prover-agent/memory-proving-queue.test.ts
  yarn-project/prover-client/src/prover-agent/memory-proving-queue.ts
  yarn-project/prover-client/src/prover-agent/prover-agent.test.ts
  yarn-project/prover-client/src/test/bb_prover_parity.test.ts
  yarn-project/prover-client/src/test/mock_prover.ts
  yarn-project/sequencer-client/src/block_builder/light.test.ts
Labels: e2e-prover-full

#9879 feat: Add Origin Tags to cycle group
  barretenberg/cpp/src/barretenberg/stdlib/primitives/group/cycle_group.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/group/cycle_group.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/group/cycle_group.test.cpp
  barretenberg/cpp/src/barretenberg/transcript/origin_tag.hpp
Labels: product-security

#9894 feat: Multicloud deployment using Terraform and Helm
  spartan/aztec-network/values.yaml
  spartan/terraform/multicloud-deploy/main.tf
  spartan/terraform/multicloud-deploy/outputs.tf
  spartan/terraform/multicloud-deploy/variables.tf
Labels: network-all

#9392 feat: removed redundant scalar muls from the verifiers using shplemini
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/kzg/kzg.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes_recursion/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.cpp
  barretenberg/cpp/src/barretenberg/flavor/repeated_commitments_data.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.cpp
Labels: e2e-prover-full

#9920 chore: disable failing 48validator kind test
  .github/workflows/ci.yml
Labels: network-all

#9971 refactor: stop calling public kernels
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/circuit-types/src/tx/tx.ts
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/prover-node/src/prover-node.ts
  yarn-project/sequencer-client/src/client/sequencer-client.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/opcodes/external_calls.ts
  yarn-project/simulator/src/public/dual_side_effect_trace.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.test.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.ts
  yarn-project/simulator/src/public/executor.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/simulator/src/public/public_tx_context.ts
  yarn-project/simulator/src/public/public_tx_simulator.test.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
  yarn-project/simulator/src/public/side_effect_trace.ts
  yarn-project/simulator/src/public/side_effect_trace_interface.ts
  yarn-project/simulator/src/public/utils.ts
Labels: e2e-all

#10015 refactor: remove EnqueuedCallSimulator
  yarn-project/simulator/src/public/enqueued_call_simulator.ts
  yarn-project/simulator/src/public/index.ts
  yarn-project/simulator/src/public/public_processor.test.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/simulator/src/public/public_tx_context.ts
  yarn-project/simulator/src/public/public_tx_simulator.test.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
  yarn-project/simulator/src/public/transitional_adapters.ts
  yarn-project/simulator/src/public/utils.ts
Labels: e2e-all

#10035 chore: remove duplicate and unused flavor related concepts
  barretenberg/cpp/src/barretenberg/flavor/flavor.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/composer/permutation_lib.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/trace_to_polynomials/trace_to_polynomials.cpp
  barretenberg/cpp/src/barretenberg/trace_to_polynomials/trace_to_polynomials.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
Labels: crypto

#10040 feat: IPA accumulators setup for Rollup
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/claim.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes_recursion/ipa_recursive.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes_recursion/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes_recursion/zeromorph.test.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_format.cpp
  barretenberg/cpp/src/barretenberg/examples/join_split/join_split.test.cpp
  barretenberg/cpp/src/barretenberg/flavor/flavor.hpp
  barretenberg/cpp/src/barretenberg/goblin/mock_circuits.hpp
  barretenberg/cpp/src/barretenberg/plonk/proof_system/proving_key/proving_key.hpp
  barretenberg/cpp/src/barretenberg/plonk/proof_system/verification_key/verification_key.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/types/aggregation_object_type.hpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/encryption/schnorr/schnorr.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/merge_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/plonk_recursion/verification_key/verification_key.hpp
  barretenberg/cpp/src/barretenberg/stdlib/protogalaxy_verifier/protogalaxy_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/transcript/transcript.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/circuit_builder_base.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/circuit_builder_base_impl.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/circuit_simulator.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_rollup_flavor.hpp
  barretenberg/cpp/src/barretenberg/trace_to_polynomials/trace_to_polynomials.cpp
  barretenberg/cpp/src/barretenberg/transcript/transcript.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_prover.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_verifier.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/recursive_verifier.cpp
  bb-pilcom/bb-pil-backend/templates/recursive_verifier.cpp.hbs
  yarn-project/bb-prover/src/prover/bb_private_kernel_prover.ts
  yarn-project/bb-prover/src/prover/bb_prover.ts
Labels: e2e-prover-full

#10073 chore: optimise polynomial initialisation
  barretenberg/cpp/src/barretenberg/polynomials/polynomial.cpp
  barretenberg/cpp/src/barretenberg/polynomials/polynomial.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/circuit_builder.cpp
  bb-pilcom/bb-pil-backend/templates/circuit_builder.cpp.hbs
Labels: crypto

#10122 fix: boxes
  boxes/docker-compose.yml
Labels: e2e-all

#10094 fix: potential e2e-p2p fix
  yarn-project/end-to-end/scripts/e2e_test_config.yml
  yarn-project/end-to-end/src/e2e_p2p/gossip_network.test.ts
  yarn-project/end-to-end/src/e2e_p2p/p2p_network.ts
  yarn-project/end-to-end/src/e2e_p2p/rediscovery.test.ts
  yarn-project/end-to-end/src/e2e_p2p/reqresp.test.ts
  yarn-project/end-to-end/src/fixtures/fixtures.ts
  yarn-project/end-to-end/src/fixtures/setup_p2p_test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/memory_attestation_pool.test.ts
  yarn-project/p2p/src/mem_pools/attestation_pool/mocks.ts
Labels: e2e-p2p

#10131 fix: prover-agent.yaml syntax
  spartan/aztec-network/templates/prover-agent.yaml
Labels: network-all

#9987 fix: strip wasm debug
  barretenberg/acir_tests/.gitignore
  barretenberg/acir_tests/bootstrap.sh
  barretenberg/acir_tests/browser-test-app/.yarnrc.yml
  barretenberg/acir_tests/browser-test-app/yarn.lock
  barretenberg/acir_tests/headless-test/.yarnrc.yml
  barretenberg/acir_tests/headless-test/package.json
  barretenberg/acir_tests/headless-test/yarn.lock
  barretenberg/cpp/CMakePresets.json
  barretenberg/cpp/Earthfile
  barretenberg/cpp/scripts/gzip-wasm.sh
  barretenberg/cpp/scripts/strip-wasm.sh
  barretenberg/ts/Earthfile
  barretenberg/ts/scripts/build_wasm.sh
  barretenberg/ts/src/barretenberg_wasm/barretenberg-threads.wasm
  barretenberg/ts/src/barretenberg_wasm/barretenberg-threads.wasm.gz
  barretenberg/ts/src/barretenberg_wasm/barretenberg.wasm
  barretenberg/ts/src/barretenberg_wasm/barretenberg.wasm.gz
  barretenberg/ts/src/barretenberg_wasm/fetch_code/browser/index.ts
  barretenberg/ts/src/barretenberg_wasm/fetch_code/browser/wasm-module.d.ts
  barretenberg/ts/src/barretenberg_wasm/fetch_code/node/index.ts
  barretenberg/ts/webpack.config.js
Labels: e2e-all

#10155 chore: Do not run e2e-2-pxes along with e2e pxe test
  yarn-project/end-to-end/scripts/e2e_test_config.yml
  yarn-project/end-to-end/src/composed/e2e_pxe.test.ts
Labels: e2e-all

#10076 feat: integrate base fee computation into rollup
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/interfaces/IRollup.sol
  l1-contracts/src/core/libraries/ConstantsGen.sol
  l1-contracts/src/core/libraries/Errors.sol
  l1-contracts/src/core/libraries/HeaderLib.sol
  l1-contracts/src/core/libraries/ProposeLib.sol
  l1-contracts/test/Rollup.t.sol
  l1-contracts/test/fees/FeeRollup.t.sol
  l1-contracts/test/harnesses/Rollup.sol
  l1-contracts/test/sparta/Sparta.t.sol
  noir-projects/noir-contracts/contracts/fee_juice_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/archiver/src/archiver/archiver.test.ts
  yarn-project/archiver/src/archiver/data_retrieval.ts
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/aztec.js/src/utils/anvil_test_watcher.ts
  yarn-project/aztec.js/src/wallet/base_wallet.ts
  yarn-project/circuit-types/src/global_variable_builder.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.test.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/circuit-types/src/interfaces/pxe.test.ts
  yarn-project/circuit-types/src/interfaces/pxe.ts
  yarn-project/circuit-types/src/p2p/consensus_payload.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/cli-wallet/test/flows/profile.sh
  yarn-project/cli/src/cmds/misc/setup_contracts.ts
  yarn-project/cli/src/cmds/pxe/get_current_base_fee.ts
  yarn-project/cli/src/cmds/pxe/index.ts
  yarn-project/end-to-end/src/composed/integration_l1_publisher.test.ts
  yarn-project/end-to-end/src/e2e_fees/account_init.test.ts
  yarn-project/end-to-end/src/e2e_fees/dapp_subscription.test.ts
  yarn-project/end-to-end/src/e2e_fees/failures.test.ts
  yarn-project/end-to-end/src/e2e_fees/fees_test.ts
  yarn-project/end-to-end/src/e2e_fees/gas_estimation.test.ts
  yarn-project/end-to-end/src/e2e_fees/private_payments.test.ts
  yarn-project/end-to-end/src/e2e_synching.test.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/sequencer-client/src/global_variable_builder/global_builder.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.test.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
  yarn-project/simulator/src/public/public_processor.ts
Labels: e2e-all

#9776 feat: e2e metrics reporting
  .github/workflows/ci.yml
  yarn-project/end-to-end/package.json
  yarn-project/end-to-end/scripts/e2e_test.sh
  yarn-project/end-to-end/scripts/e2e_test_config.yml
  yarn-project/end-to-end/scripts/e2e_test_with_alerts.sh
  yarn-project/end-to-end/src/e2e_p2p/rediscovery.test.ts
  yarn-project/end-to-end/src/e2e_p2p/reex.test.ts
  yarn-project/end-to-end/src/e2e_p2p/reqresp.test.ts
  yarn-project/end-to-end/src/e2e_p2p/upgrade_governance_proposer.test.ts
  yarn-project/end-to-end/src/quality_of_service/alert_checker.test.ts
  yarn-project/end-to-end/src/quality_of_service/alerts.yaml
  yarn-project/sequencer-client/src/sequencer/metrics.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/telemetry-client/src/metrics.ts
  yarn-project/telemetry-client/src/prom_otel_adapter.ts
  yarn-project/yarn.lock
Labels: e2e-p2p

#10170 fix(bb.js): don't minify bb.js - webpack config
  barretenberg/ts/webpack.config.js
Labels: external-ci-approved

#10176 feat: integrate fee into rollup
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/interfaces/IRollup.sol
  l1-contracts/src/core/libraries/ConstantsGen.sol
  l1-contracts/src/core/libraries/Errors.sol
  l1-contracts/src/core/libraries/HeaderLib.sol
  l1-contracts/src/core/libraries/ProposeLib.sol
  l1-contracts/test/Rollup.t.sol
  l1-contracts/test/fees/FeeRollup.t.sol
  l1-contracts/test/harnesses/Rollup.sol
  l1-contracts/test/sparta/Sparta.t.sol
  noir-projects/noir-contracts/contracts/fee_juice_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/archiver/src/archiver/archiver.test.ts
  yarn-project/archiver/src/archiver/data_retrieval.ts
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/aztec.js/src/utils/anvil_test_watcher.ts
  yarn-project/aztec.js/src/wallet/base_wallet.ts
  yarn-project/circuit-types/src/global_variable_builder.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.test.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/circuit-types/src/interfaces/pxe.test.ts
  yarn-project/circuit-types/src/interfaces/pxe.ts
  yarn-project/circuit-types/src/p2p/consensus_payload.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/cli-wallet/test/flows/profile.sh
  yarn-project/cli/src/cmds/devnet/bootstrap_network.ts
  yarn-project/cli/src/cmds/misc/setup_contracts.ts
  yarn-project/cli/src/cmds/pxe/get_current_base_fee.ts
  yarn-project/cli/src/cmds/pxe/index.ts
  yarn-project/end-to-end/src/benchmarks/bench_prover.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_tx_size_fees.test.ts
  yarn-project/end-to-end/src/composed/integration_l1_publisher.test.ts
  yarn-project/end-to-end/src/e2e_fees/account_init.test.ts
  yarn-project/end-to-end/src/e2e_fees/dapp_subscription.test.ts
  yarn-project/end-to-end/src/e2e_fees/failures.test.ts
  yarn-project/end-to-end/src/e2e_fees/fee_juice_payments.test.ts
  yarn-project/end-to-end/src/e2e_fees/fees_test.ts
  yarn-project/end-to-end/src/e2e_fees/gas_estimation.test.ts
  yarn-project/end-to-end/src/e2e_fees/private_payments.test.ts
  yarn-project/end-to-end/src/e2e_synching.test.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/pxe/src/simulator_oracle/simulator_oracle.test.ts
  yarn-project/sequencer-client/src/global_variable_builder/global_builder.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.test.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
  yarn-project/simulator/src/public/public_processor.ts
Labels: e2e-all, bench-all, network-all

#10105 feat: using current gas prices in cli-wallet
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-contracts/contracts/token_contract/src/test/refunds.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/tail_output_validator_builder/mod.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/public_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/gas_fees.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/gas_settings.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/circuit-types/src/interfaces/aztec-node.test.ts
  yarn-project/circuit-types/src/interfaces/pxe.test.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/structs/gas_fees.ts
  yarn-project/circuits.js/src/structs/gas_settings.ts
  yarn-project/cli-wallet/src/cmds/index.ts
  yarn-project/cli-wallet/src/utils/options/fees.ts
  yarn-project/simulator/src/public/fixtures/index.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
Labels: e2e-all

#10230 fix: use current base fee for public fee payment
  yarn-project/end-to-end/src/e2e_fees/public_payments.test.ts
Labels: e2e-all

#9868 feat: add total mana used to header
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.cpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.test.cpp
  docs/docs/protocol-specs/gas-and-fees/specifying-gas-fee-info.md
  l1-contracts/src/core/libraries/ConstantsGen.sol
  l1-contracts/src/core/libraries/HeaderLib.sol
  l1-contracts/test/decoders/Base.sol
  l1-contracts/test/fees/FeeRollup.t.sol
  l1-contracts/test/fixtures/empty_block_1.json
  l1-contracts/test/fixtures/empty_block_2.json
  l1-contracts/test/fixtures/mixed_block_1.json
  l1-contracts/test/fixtures/mixed_block_2.json
  l1-contracts/test/sparta/Sparta.t.sol
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/abis/base_or_merge_rollup_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/private_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/public_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/block_root/block_root_rollup_inputs.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/components.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/merge/merge_rollup_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/address/aztec_address.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/header.nr
  yarn-project/aztec.js/src/contract/base_contract_interaction.ts
  yarn-project/aztec.js/src/contract/batch_call.ts
  yarn-project/aztec.js/src/contract/contract_function_interaction.ts
  yarn-project/aztec.js/src/contract/deploy_method.ts
  yarn-project/aztec.js/src/contract/get_gas_limits.ts
  yarn-project/circuit-types/src/l2_block_code_to_purge.ts
  yarn-project/circuit-types/src/test/factories.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/contract/artifact_hash.test.ts
  yarn-project/circuits.js/src/keys/derivation.test.ts
  yarn-project/circuits.js/src/structs/__snapshots__/header.test.ts.snap
  yarn-project/circuits.js/src/structs/header.ts
  yarn-project/circuits.js/src/structs/rollup/base_or_merge_rollup_public_inputs.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/cli/src/utils/inspect.ts
  yarn-project/end-to-end/src/composed/integration_l1_publisher.test.ts
  yarn-project/end-to-end/src/e2e_fees/gas_estimation.test.ts
  yarn-project/foundation/src/testing/test_data.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/prover-client/src/orchestrator/block-building-helpers.ts
  yarn-project/prover-client/src/orchestrator/orchestrator.ts
  yarn-project/sequencer-client/src/block_builder/light.test.ts
  yarn-project/sequencer-client/src/block_builder/light.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/simulator/src/client/private_execution.test.ts
  yarn-project/update-snapshots.sh
  yarn-project/world-state/src/native/native_world_state.test.ts
  yarn-project/world-state/src/test/integration.test.ts
Labels: e2e-all

#10233 chore: add traces and histograms to avm simulator
  yarn-project/end-to-end/scripts/e2e_test_config.yml
  yarn-project/end-to-end/src/e2e_token_contract/token_contract_test.ts
  yarn-project/end-to-end/src/e2e_token_contract/transfer_in_public.test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/simulator/src/public/executor_metrics.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
  yarn-project/telemetry-client/src/attributes.ts
  yarn-project/telemetry-client/src/metrics.ts
  yarn-project/telemetry-client/src/otel.ts
Labels: e2e-all

#9976 feat: swap polys to facilitate dynamic trace overflow
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.hpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/kzg/kzg.hpp
  barretenberg/cpp/src/barretenberg/goblin/mock_circuits.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/execution_trace/execution_trace_usage_tracker.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/execution_trace/mega_execution_trace.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/library/grand_product_delta.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/proving_key_inspector.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/relation_checker.cpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/relation_checker.hpp
  barretenberg/cpp/src/barretenberg/polynomials/polynomial.hpp
  barretenberg/cpp/src/barretenberg/polynomials/shared_shifted_virtual_zeroes_array.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/folding_test_utils.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy.test.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover_impl.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover_internal.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/biggroup/biggroup.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/protogalaxy_verifier/protogalaxy_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/protogalaxy_verifier/recursive_decider_verification_keys.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_keys.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/mega_honk.test.cpp
Labels: crypto

#10111 feat: Sequential insertion in indexed trees
  barretenberg/cpp/src/barretenberg/benchmark/indexed_tree_bench/indexed_tree.bench.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/append_only_tree/content_addressed_append_only_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/response.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.cpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.hpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.cpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.hpp
  barretenberg/cpp/src/barretenberg/world_state_napi/message.hpp
  yarn-project/circuit-types/src/interfaces/merkle_tree_operations.ts
  yarn-project/merkle-tree/src/standard_indexed_tree/standard_indexed_tree.ts
  yarn-project/prover-client/src/orchestrator/block-building-helpers.ts
  yarn-project/prover-client/src/test/bb_prover_full_rollup.test.ts
  yarn-project/world-state/src/native/merkle_trees_facade.ts
  yarn-project/world-state/src/native/message.ts
  yarn-project/world-state/src/native/native_world_state.ts
  yarn-project/world-state/src/native/native_world_state_instance.ts
  yarn-project/world-state/src/world-state-db/merkle_tree_operations_facade.ts
Labels: e2e-all

#10304 chore: Parallelise construction of perturbator coefficients at each level
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover_internal.hpp
Labels: crypto
