Repository AztecProtocol/aztec-packages, pull requests merged in 2024-10, with the labels that each got.

#8886 feat: ultra honk on Shplemini
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplonk.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/zeromorph/zeromorph.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/honk_recursion_constraint.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/mega_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_transcript.test.cpp
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir/noir-repo/test_programs/execution_success/verify_honk_proof/Prover.toml
  noir/noir-repo/test_programs/execution_success/verify_honk_proof/src/main.nr
  yarn-project/circuits.js/src/constants.gen.ts
Labels: crypto, e2e-prover-full

#8865 feat(sol): add shplemini transcript
  barretenberg/sol/src/honk/HonkTypes.sol
  barretenberg/sol/src/honk/Transcript.sol
  barretenberg/sol/src/honk/utils.sol
Labels: crypto

#8866 feat(sol): shplemini verification
  barretenberg/sol/src/honk/Fr.sol
  barretenberg/sol/src/honk/HonkTypes.sol
  barretenberg/sol/src/honk/Transcript.sol
  barretenberg/sol/src/honk/instance/Add2Honk.sol
  barretenberg/sol/src/honk/instance/BlakeHonk.sol
  barretenberg/sol/src/honk/instance/EcdsaHonk.sol
  barretenberg/sol/src/honk/keys/EcdsaHonkVerificationKey.sol
  barretenberg/sol/src/honk/utils.sol
  barretenberg/sol/src/ultra/keys/Add2UltraVerificationKey.sol
  barretenberg/sol/src/ultra/keys/BlakeUltraVerificationKey.sol
  barretenberg/sol/src/ultra/keys/EcdsaUltraVerificationKey.sol
  barretenberg/sol/src/ultra/keys/RecursiveUltraVerificationKey.sol
Labels: crypto

#8877 feat: prover escrow and 712-signed quotes
  .vscode/settings.json
  docs/docs/tutorials/codealong/contract_tutorials/advanced/token_bridge/1_depositing_to_aztec.md
  l1-contracts/.solhint.json
  l1-contracts/src/core/ProofCommitmentEscrow.sol
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/interfaces/IProofCommitmentEscrow.sol
  l1-contracts/src/core/interfaces/IRollup.sol
  l1-contracts/src/core/libraries/DataStructures.sol
  l1-contracts/src/core/libraries/EpochProofQuoteLib.sol
  l1-contracts/src/core/libraries/Errors.sol
  l1-contracts/src/core/libraries/SignatureLib.sol
  l1-contracts/src/core/libraries/crypto/SignatureLib.sol
  l1-contracts/src/mock/MockProofCommitmentEscrow.sol
  l1-contracts/test/Rollup.t.sol
  l1-contracts/test/TestERC20.sol
  l1-contracts/test/TestERC20.t.sol
  l1-contracts/test/portals/PortalERC20.t.sol
  l1-contracts/test/portals/TokenPortal.t.sol
  l1-contracts/test/portals/UniswapPortal.t.sol
  l1-contracts/test/prover-coordination/ProofCommitmentEscrow.t.sol
  l1-contracts/test/sparta/Sparta.t.sol
  yarn-project/aztec-faucet/src/bin/index.ts
  yarn-project/aztec.js/src/index.ts
  yarn-project/aztec/src/sandbox.ts
  yarn-project/circuit-types/src/prover_coordination/epoch_proof_quote.test.ts
  yarn-project/circuit-types/src/prover_coordination/epoch_proof_quote.ts
  yarn-project/circuit-types/src/prover_coordination/epoch_proof_quote_payload.ts
  yarn-project/cli/src/cmds/devnet/bootstrap_network.ts
  yarn-project/cli/src/cmds/l1/get_l1_balance.ts
  yarn-project/cli/src/utils/aztec.ts
  yarn-project/cli/src/utils/portal_manager.ts
  yarn-project/end-to-end/Earthfile
  yarn-project/end-to-end/src/e2e_cross_chain_messaging/cross_chain_messaging_test.ts
  yarn-project/end-to-end/src/e2e_fees/fees_test.ts
  yarn-project/end-to-end/src/fixtures/setup_l1_contracts.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/end-to-end/src/prover-coordination/e2e_json_coordination.test.ts
  yarn-project/end-to-end/src/shared/cross_chain_test_harness.ts
  yarn-project/end-to-end/src/shared/gas_portal_test_harness.ts
  yarn-project/foundation/src/crypto/keccak/index.ts
  yarn-project/l1-artifacts/scripts/generate-artifacts.sh
  yarn-project/p2p/src/epoch_proof_quote_pool/test_utils.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
Labels: e2e-all

#8905 chore: reduce number of gates in stdlib/sha256 hash function
  barretenberg/cpp/src/barretenberg/stdlib/hash/sha256/sha256_plookup.cpp
Labels: T-optimisation

#8864 feat: Prover node sends quotes on new epochs
  l1-contracts/src/core/Rollup.sol
  scripts/ci/get_e2e_jobs.sh
  yarn-project/Earthfile
  yarn-project/archiver/package.json
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/archiver/src/archiver/archiver_store.ts
  yarn-project/archiver/src/archiver/epoch_helpers.ts
  yarn-project/archiver/src/archiver/kv_archiver_store/block_store.ts
  yarn-project/archiver/src/archiver/kv_archiver_store/kv_archiver_store.ts
  yarn-project/archiver/src/archiver/memory_archiver_store/memory_archiver_store.ts
  yarn-project/archiver/src/test/index.ts
  yarn-project/archiver/src/test/mock_l2_block_source.ts
  yarn-project/aztec.js/src/utils/cheat_codes.ts
  yarn-project/aztec/src/cli/cmds/start_prover_node.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/circuit-types/src/l2_block_source.ts
  yarn-project/circuit-types/src/prover_coordination/epoch_proof_claim.ts
  yarn-project/circuit-types/src/prover_coordination/epoch_proof_quote.test.ts
  yarn-project/circuit-types/src/prover_coordination/epoch_proof_quote_payload.ts
  yarn-project/circuit-types/src/prover_coordination/index.ts
  yarn-project/end-to-end/Earthfile
  yarn-project/end-to-end/scripts/e2e_test.sh
  yarn-project/end-to-end/src/e2e_prover/e2e_prover_test.ts
  yarn-project/end-to-end/src/e2e_prover/full.test.ts
  yarn-project/end-to-end/src/e2e_prover/with_padding.test.ts
  yarn-project/end-to-end/src/e2e_prover_node.test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/end-to-end/src/guides/dapp_testing.test.ts
  yarn-project/end-to-end/src/prover-coordination/e2e_prover_coordination.test.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/foundation/src/config/index.ts
  yarn-project/p2p/package.json
  yarn-project/p2p/src/client/p2p_client.test.ts
  yarn-project/p2p/src/epoch_proof_quote_pool/test_utils.ts
  yarn-project/p2p/src/service/reqresp/p2p_client.integration.test.ts
  yarn-project/p2p/tsconfig.json
  yarn-project/prover-node/package.json
  yarn-project/prover-node/src/config.ts
  yarn-project/prover-node/src/factory.ts
  yarn-project/prover-node/src/job/epoch-proving-job.ts
  yarn-project/prover-node/src/monitors/claims-monitor.test.ts
  yarn-project/prover-node/src/monitors/claims-monitor.ts
  yarn-project/prover-node/src/monitors/epoch-monitor.test.ts
  yarn-project/prover-node/src/monitors/epoch-monitor.ts
  yarn-project/prover-node/src/monitors/index.ts
  yarn-project/prover-node/src/prover-coordination/aztec-node-prover-coordination.ts
  yarn-project/prover-node/src/prover-coordination/factory.ts
  yarn-project/prover-node/src/prover-coordination/index.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/prover-node/src/prover-node.ts
  yarn-project/prover-node/src/quote-provider/http.ts
  yarn-project/prover-node/src/quote-provider/index.ts
  yarn-project/prover-node/src/quote-provider/simple.ts
  yarn-project/prover-node/src/quote-provider/utils.ts
  yarn-project/prover-node/src/quote-signer.ts
  yarn-project/prover-node/tsconfig.json
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/yarn.lock
Labels: e2e-prover-full

#8878 chore!: keccak_ultra -> ultra_keccak
  barretenberg/acir_tests/flows/honk_sol.sh
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/bb/readme.md
Labels: crypto

#8967 chore: Delay proof quote collection
  yarn-project/prover-node/src/prover-node.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
Labels: e2e-prover-full

#8968 chore: Remove unused methods and small state cleanup
  barretenberg/cpp/src/barretenberg/honk/proof_system/permutation_library.hpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/relation_correctness.test.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_prover.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
Labels: crypto

#8896 feat: snapshotting for e2e p2p tests
  yarn-project/end-to-end/Earthfile
  yarn-project/end-to-end/scripts/e2e_test.sh
  yarn-project/end-to-end/src/e2e_p2p/gossip_network.test.ts
  yarn-project/end-to-end/src/e2e_p2p/p2p_network.ts
  yarn-project/end-to-end/src/e2e_p2p/rediscovery.test.ts
  yarn-project/end-to-end/src/e2e_p2p/reqresp_tx.test.ts
  yarn-project/end-to-end/src/e2e_p2p/shared.ts
  yarn-project/end-to-end/src/e2e_p2p_network.test.ts
  yarn-project/end-to-end/src/fixtures/setup_p2p_test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/p2p/src/service/libp2p_service.ts
  yarn-project/p2p/src/service/reqresp/reqresp.ts
Labels: e2e-p2p

#8990 chore: remove unused header in public executor
  yarn-project/simulator/src/avm/avm_execution_environment.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/fixtures/index.ts
  yarn-project/simulator/src/public/executor.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
Labels: C-avm

#8972 feat(public)!: reroute public calls to dispatch function
  docs/docs/migration_notes.md
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/aztec-nr/aztec/src/context/private_context.nr
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/aztec-nr/aztec/src/macros/functions/mod.nr
  noir-projects/aztec-nr/aztec/src/oracle/enqueue_public_function_call.nr
  noir-projects/aztec-nr/aztec/src/test/helpers/test_environment.nr
  noir-projects/aztec-nr/aztec/src/test/helpers/utils.nr
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/end-to-end/src/e2e_ordering.test.ts
  yarn-project/sequencer-client/src/config.ts
  yarn-project/sequencer-client/src/tx_validator/gas_validator.test.ts
  yarn-project/sequencer-client/src/tx_validator/gas_validator.ts
  yarn-project/simulator/src/acvm/oracle/oracle.ts
  yarn-project/simulator/src/acvm/oracle/typed_oracle.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/client/client_execution_context.ts
  yarn-project/simulator/src/client/private_execution.test.ts
  yarn-project/simulator/src/client/private_execution.ts
  yarn-project/simulator/src/common/debug_fn_name.ts
  yarn-project/simulator/src/public/executor.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
  yarn-project/txe/src/txe_service/txe_service.ts
Labels: e2e-all

#9008 chore: Do not start prover node in e2e tests if not needed
  yarn-project/end-to-end/src/e2e_fees/fees_test.ts
  yarn-project/end-to-end/src/e2e_prover/e2e_prover_test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/end-to-end/src/prover-coordination/e2e_prover_coordination.test.ts
  yarn-project/end-to-end/src/public-testnet/e2e_public_testnet_transfer.test.ts
Labels: e2e-all

#8936 feat: Origin Tags Part 2
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bigfield/bigfield.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bigfield/bigfield.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bigfield/bigfield_impl.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bool/bool.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/byte_array/byte_array.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/byte_array/byte_array.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/byte_array/byte_array.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/field/field.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/safe_uint/safe_uint.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/safe_uint/safe_uint.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/safe_uint/safe_uint.test.cpp
  barretenberg/cpp/src/barretenberg/transcript/origin_tag.hpp
Labels: product-security

#9029 fix: assign one_idx in the same place as zero_idx in `UltraCircuitBuilder`
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_format.test.cpp
  barretenberg/cpp/src/barretenberg/examples/join_split/join_split.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_circuit_builder.hpp
Labels: crypto

#9028 feat: Integrate databus in the private kernels
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/constants.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/arithmetization/mega_arithmetization.hpp
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/aztec-nr/aztec/src/macros/functions/mod.nr
  noir-projects/mock-protocol-circuits/crates/mock-private-kernel-tail/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-init-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-init/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-inner-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-inner/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_init.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_inner.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_reset.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_tail.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_tail_to_public.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-reset-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-reset/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail-to-public-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail-to-public/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail/src/main.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/mod.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/private_call_stack_item.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/private_kernel.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/private_kernel/private_call_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/private_kernel_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/transaction/mod.nr
  noir/noir-repo/compiler/noirc_frontend/src/hir/comptime/interpreter/builtin.rs
  noir/noir-repo/noir_stdlib/src/meta/function_def.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/noir-protocol-circuits-types/src/index.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/simulator/src/client/client_execution_context.ts
  yarn-project/simulator/src/client/index.ts
  yarn-project/simulator/src/client/private_execution.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
Labels: e2e-all, bench-all

#9026 refactor: eccvm transcript builder
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_circuit_builder.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/transcript_builder.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_transcript_relation_impl.hpp
Labels: crypto

#9053 chore: fix missing migrations to immutable contract fn interaction
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/end-to-end/src/spartan/transfer.test.ts
Labels: e2e-block-building

#9094 fix: setup fee juice for e2e tests
  yarn-project/end-to-end/src/benchmarks/bench_prover.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_tx_size_fees.test.ts
  yarn-project/protocol-contracts/src/scripts/generate_data.ts
Labels: bench-all

#9095 fix: Unrevert "feat: trace AVM side effects per enqueued call""
  yarn-project/circuits.js/src/structs/kernel/combined_constant_data.ts
  yarn-project/circuits.js/src/structs/l2_to_l1_message.ts
  yarn-project/circuits.js/src/structs/log_hash.ts
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/avm_simulator.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/public/dual_side_effect_trace.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.test.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.ts
  yarn-project/simulator/src/public/enqueued_call_simulator.ts
  yarn-project/simulator/src/public/executor.ts
  yarn-project/simulator/src/public/public_processor.test.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
Labels: e2e-prover-full

#9088 refactor: configure trees instead of duplicating constants
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.cpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.test.cpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.cpp
  yarn-project/circuits.js/src/scripts/constants.in.ts
  yarn-project/world-state/package.json
  yarn-project/world-state/package.local.json
  yarn-project/world-state/src/native/native_world_state_instance.ts
Labels: e2e-all

#9115 fix: e2e bot follows pending chain
  yarn-project/end-to-end/src/e2e_bot.test.ts
Labels: e2e-all

#9109 chore(avm): revert 9080 - re-introducing start/end gas constraining
  barretenberg/cpp/pil/avm/constants_gen.pil
  barretenberg/cpp/pil/avm/kernel.pil
  barretenberg/cpp/pil/avm/main.pil
  barretenberg/cpp/src/barretenberg/dsl/acir_format/avm_recursion_constraint.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/flavor.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/full_row.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/full_row.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/kernel.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/main.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perm_da_end_gas.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perm_da_start_gas.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perm_l2_end_gas.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perm_l2_start_gas.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/recursion/avm_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/gas.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/helpers.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/kernel.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/helper.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/helper.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/kernel_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  barretenberg/cpp/src/barretenberg/vm/constants.hpp
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/scripts/constants.in.ts
  yarn-project/ivc-integration/src/avm_integration.test.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.ts
Labels: e2e-all

#9137 fix: call correct method on fee juice contract
  spartan/aztec-network/templates/l2-contracts.yaml
  yarn-project/end-to-end/scripts/network_test.sh
  yarn-project/end-to-end/src/benchmarks/bench_prover.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_tx_size_fees.test.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/end-to-end/src/public-testnet/e2e_public_testnet_transfer.test.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
Labels: e2e-all

#9140 feat!: unrevert "feat: new per-enqueued-call gas limit"
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/helper.hpp
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/components/enqueued_call_data_validator.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/scripts/constants.in.ts
  yarn-project/circuits.js/src/structs/gas.ts
  yarn-project/simulator/src/avm/avm_simulator.ts
  yarn-project/simulator/src/avm/fixtures/index.ts
  yarn-project/simulator/src/public/enqueued_call_simulator.ts
  yarn-project/simulator/src/public/execution.ts
  yarn-project/simulator/src/public/executor.ts
  yarn-project/simulator/src/public/public_processor.test.ts
Labels: e2e-all

#9154 fix: e2e-p2p attestation timeout
  yarn-project/circuit-types/src/p2p/block_attestation.test.ts
  yarn-project/circuit-types/src/p2p/block_proposal.test.ts
  yarn-project/circuit-types/src/p2p/mocks.ts
  yarn-project/validator-client/src/validator.test.ts
  yarn-project/validator-client/src/validator.ts
Labels: e2e-p2p

#9149 feat: drop epoch duration / block times
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/libraries/ConstantsGen.sol
  l1-contracts/test/fixtures/empty_block_1.json
  l1-contracts/test/fixtures/empty_block_2.json
  l1-contracts/test/fixtures/mixed_block_1.json
  l1-contracts/test/fixtures/mixed_block_2.json
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/end-to-end/src/e2e_avm_simulator.test.ts
  yarn-project/end-to-end/src/e2e_synching.test.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
Labels: e2e-all

#9155 feat(avm): relative addressing in avm circuit
  barretenberg/cpp/pil/avm/main.pil
  barretenberg/cpp/src/barretenberg/vm/avm/tests/cast.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/indirect_mem.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/kernel.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/mem_opcodes.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/memory.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/slice.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/addressing_mode.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
Labels: e2e-all

#9035 feat: World State Re-orgs
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/append_only_tree/content_addressed_append_only_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/append_only_tree/content_addressed_append_only_tree.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/fixtures.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/callbacks.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_environment.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_read_transaction.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_store.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_store.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_store.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_write_transaction.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_write_transaction.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/queries.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/node_store/cached_content_addressed_tree_store.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/node_store/tree_meta.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/response.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/test_fixtures.hpp
  barretenberg/cpp/src/barretenberg/world_state/fork.hpp
  barretenberg/cpp/src/barretenberg/world_state/types.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.cpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.test.cpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.cpp
  barretenberg/cpp/src/barretenberg/world_state_napi/addon.hpp
  barretenberg/cpp/src/barretenberg/world_state_napi/message.hpp
  cspell.json
  yarn-project/circuit-types/src/interfaces/world_state.ts
  yarn-project/circuit-types/src/stats/stats.ts
  yarn-project/scripts/src/benchmarks/aggregate.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/world-state/package.json
  yarn-project/world-state/package.local.json
  yarn-project/world-state/src/native/message.ts
  yarn-project/world-state/src/native/native_world_state.test.ts
  yarn-project/world-state/src/native/native_world_state.ts
  yarn-project/world-state/src/native/native_world_state_cmp.test.ts
  yarn-project/world-state/src/native/test_util.ts
  yarn-project/world-state/src/synchronizer/server_world_state_synchronizer.test.ts
  yarn-project/world-state/src/synchronizer/server_world_state_synchronizer.ts
  yarn-project/world-state/src/world-state-db/merkle_tree_db.ts
  yarn-project/world-state/src/world-state-db/merkle_trees.ts
Labels: e2e-all

#9091 feat: World state synchronizer reorgs
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/archiver/src/test/index.ts
  yarn-project/archiver/src/test/mock_archiver.ts
  yarn-project/archiver/src/test/mock_l1_to_l2_message_source.ts
  yarn-project/archiver/src/test/mock_l2_block_source.ts
  yarn-project/aztec/src/cli/aztec_start_options.ts
  yarn-project/circuit-types/src/interfaces/world_state.ts
  yarn-project/circuit-types/src/l2_block_downloader/index.ts
  yarn-project/circuit-types/src/l2_block_downloader/l2_block_stream.test.ts
  yarn-project/circuit-types/src/l2_block_downloader/l2_block_stream.ts
  yarn-project/circuit-types/src/l2_block_source.ts
  yarn-project/end-to-end/src/composed/integration_l1_publisher.test.ts
  yarn-project/end-to-end/src/e2e_synching.test.ts
  yarn-project/end-to-end/src/fixtures/setup_p2p_test.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/foundation/src/error/index.ts
  yarn-project/foundation/src/promise/running-promise.test.ts
  yarn-project/foundation/src/promise/running-promise.ts
  yarn-project/foundation/src/queue/base_memory_queue.ts
  yarn-project/p2p/src/client/p2p_client.test.ts
  yarn-project/p2p/src/service/reqresp/p2p_client.integration.test.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/prover-node/src/prover-node.ts
  yarn-project/world-state/package.json
  yarn-project/world-state/src/native/message.ts
  yarn-project/world-state/src/native/native_world_state.test.ts
  yarn-project/world-state/src/native/native_world_state_cmp.test.ts
  yarn-project/world-state/src/native/native_world_state_instance.ts
  yarn-project/world-state/src/synchronizer/config.ts
  yarn-project/world-state/src/synchronizer/factory.ts
  yarn-project/world-state/src/synchronizer/server_world_state_synchronizer.test.ts
  yarn-project/world-state/src/synchronizer/server_world_state_synchronizer.ts
  yarn-project/world-state/src/test/integration.test.ts
  yarn-project/world-state/src/test/utils.ts
  yarn-project/world-state/src/world-state-db/merkle_tree_db.ts
  yarn-project/world-state/src/world-state-db/merkle_trees.ts
  yarn-project/world-state/tsconfig.json
  yarn-project/yarn.lock
Labels: e2e-all

#9217 chore: disable flakey rediscovery.test.ts
  yarn-project/end-to-end/src/e2e_p2p/rediscovery.test.ts
Labels: e2e-p2p

#9213 chore(ci): try to offload compute burden when merging
  .github/workflows/ci.yml
Labels: e2e-all, bench-all

#9219 chore: disable e2e-p2p completely
  yarn-project/end-to-end/Earthfile
Labels: e2e-p2p

#9102 feat: Replace Zeromorph with Shplemini in ECCVM
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplonk.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bool/bool.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/safe_uint/safe_uint.test.cpp
  barretenberg/cpp/srs_db/Earthfile
Labels: crypto

#9057 feat!: Brillig and AVM default all uninitialized memory cells to Field 0
  avm-transpiler/src/instructions.rs
  avm-transpiler/src/transpile.rs
  barretenberg/cpp/pil/avm/alu.pil
  barretenberg/cpp/pil/avm/constants_gen.pil
  barretenberg/cpp/pil/avm/main.pil
  barretenberg/cpp/pil/avm/mem.pil
  barretenberg/cpp/src/barretenberg/dsl/acir_format/serde/acir.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/alu.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/main.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/mem.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/bitwise.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/kernel.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/mem_opcodes.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/alu_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/binary_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/common.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/deserialization.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/mem_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/mem_trace.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir/noir-repo/acvm-repo/acir/codegen/acir.cpp
  noir/noir-repo/acvm-repo/acir/tests/test_program_serialization.rs
  noir/noir-repo/acvm-repo/acvm_js/test/shared/complex_foreign_call.ts
  noir/noir-repo/acvm-repo/acvm_js/test/shared/foreign_call.ts
  noir/noir-repo/acvm-repo/brillig/src/opcodes.rs
  noir/noir-repo/acvm-repo/brillig_vm/src/memory.rs
  noir/noir-repo/tooling/debugger/src/repl.rs
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/simulator/src/avm/avm_gas.ts
  yarn-project/simulator/src/avm/avm_memory_types.test.ts
  yarn-project/simulator/src/avm/avm_memory_types.ts
  yarn-project/simulator/src/avm/opcodes/memory.test.ts
Labels: e2e-prover-full

#8569 refactor: remove AvmVerificationKeyData and tube specific types
  yarn-project/bb-prover/src/avm_proving.test.ts
  yarn-project/bb-prover/src/prover/bb_prover.ts
  yarn-project/bb-prover/src/test/test_circuit_prover.ts
  yarn-project/bb-prover/src/verification_key/verification_key_data.ts
  yarn-project/circuit-types/src/interfaces/proving-job.ts
  yarn-project/circuit-types/src/interfaces/server_circuit_prover.ts
  yarn-project/circuit-types/src/tx/processed_tx.ts
  yarn-project/circuits.js/src/hash/hash.ts
  yarn-project/circuits.js/src/structs/verification_key.ts
  yarn-project/prover-client/src/orchestrator/orchestrator.ts
  yarn-project/prover-client/src/prover-agent/memory-proving-queue.ts
  yarn-project/prover-client/src/prover-agent/rpc.ts
  yarn-project/prover-client/src/test/mock_prover.ts
Labels: e2e-all

#9201 feat: Handle reorgs on sequencer
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/interfaces/IRollup.sol
  yarn-project/archiver/src/archiver/archiver.test.ts
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/aztec.js/src/utils/cheat_codes.ts
  yarn-project/circuit-types/src/interfaces/world_state.ts
  yarn-project/circuit-types/src/l2_block_downloader/l2_block_stream.test.ts
  yarn-project/circuit-types/src/l2_block_downloader/l2_block_stream.ts
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/p2p/src/client/p2p_client.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.test.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/world-state/src/synchronizer/server_world_state_synchronizer.test.ts
  yarn-project/world-state/src/synchronizer/server_world_state_synchronizer.ts
  yarn-project/world-state/src/test/integration.test.ts
Labels: e2e-all

#9320 fix: ci github clone edge case
  .github/ensure-builder/action.yml
  yarn-project/README.md
Labels: e2e-all

#9329 feat: translator on Shplemini
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini_impl.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/kzg/kzg.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/utils/test_utils.hpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_prover.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.cpp
Labels: crypto

#9346 fix(ci): report 4 epochs true
  yarn-project/end-to-end/Earthfile
Labels: kind-network-4epochs

#9377 chore: print out gas at start and end of each enqueued call
  yarn-project/simulator/src/public/executor.ts
Labels: C-avm

#9199 feat: eccvm translator zk sumcheck
  barretenberg/cpp/src/barretenberg/benchmark/goblin_bench/eccvm.bench.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.cpp
  barretenberg/cpp/src/barretenberg/flavor/relation_definitions.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_bools_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_bools_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_lookup_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_lookup_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_msm_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_msm_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_point_table_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_point_table_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_set_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_set_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_set_relation_impl.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_transcript_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_transcript_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_wnaf_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_wnaf_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_decomposition_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_decomposition_relation_2.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_delta_range_constraint_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_delta_range_constraint_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_extra_relations.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_extra_relations.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_non_native_field_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_non_native_field_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_permutation_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_permutation_relation.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck_round.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/zk_sumcheck_data.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.cpp
  barretenberg/ts/src/barretenberg_wasm/barretenberg_wasm_main/index.ts
Labels: crypto

#9358 fix: 4epochs kind test et al
  .github/ensure-builder/action.yml
  .github/ensure-tester-with-images/action.yml
  .github/workflows/ci.yml
  build-system/s3-cache-scripts/cache-download.sh
  build-system/s3-cache-scripts/cache-upload.sh
  scripts/earthly-ci
  scripts/run_interleaved.sh
  scripts/run_native_testnet.sh
  spartan/scripts/deploy_spartan.sh
  spartan/scripts/logs/.gitignore
  spartan/scripts/setup_local_k8s.sh
  spartan/scripts/test_spartan.sh
  yarn-project/Earthfile
  yarn-project/bot/src/bot.ts
  yarn-project/end-to-end/Earthfile
  yarn-project/end-to-end/scripts/native-network/deploy-l2-contracts.sh
  yarn-project/end-to-end/scripts/native-network/test-4epochs.sh
  yarn-project/end-to-end/scripts/native-network/test-transfer.sh
  yarn-project/end-to-end/scripts/network_test.sh
Labels: network-all

#9328 test: node follow prune and extend chain
  yarn-project/end-to-end/src/e2e_synching.test.ts
Labels: e2e-all

#9428 fix: spot_strategy passing
  .github/ensure-tester-with-images/action.yml
  .github/ensure-tester/action.yml
  .github/workflows/ci.yml
Labels: network-all

#9441 fix: bb-only-change fix e2e build instability
  .github/workflows/ci.yml
Labels: e2e-all

#8143 refactor: replace token note with uint note
  docs/docs/aztec/concepts/storage/partial_notes.md
  docs/docs/guides/developer_guides/smart_contracts/how_to_compile_contract.md
  docs/docs/guides/developer_guides/smart_contracts/writing_contracts/storage/storage_slots.md
  docs/docs/tutorials/codealong/contract_tutorials/token_contract.md
  noir-projects/aztec-nr/uint-note/src/uint_note.nr
  noir-projects/noir-contracts/contracts/token_blacklist_contract/src/main.nr
  noir-projects/noir-contracts/contracts/token_contract/Nargo.toml
  noir-projects/noir-contracts/contracts/token_contract/src/main.nr
  noir-projects/noir-contracts/contracts/token_contract/src/test/refunds.nr
  noir-projects/noir-contracts/contracts/token_contract/src/types.nr
  noir-projects/noir-contracts/contracts/token_contract/src/types/balance_set.nr
  noir-projects/noir-contracts/contracts/token_contract/src/types/token_note.nr
Labels: e2e-all

#9300 feat!: getcontractinstance instruction returns only a specified member
  avm-transpiler/src/transpile.rs
  barretenberg/cpp/pil/avm/main.pil
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/main.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/deserialization.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/opcode.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/aztec-nr/aztec/src/initializer.nr
  noir-projects/aztec-nr/aztec/src/oracle/get_contract_instance.nr
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  yarn-project/bb-prover/src/avm_proving.test.ts
  yarn-project/end-to-end/src/e2e_avm_simulator.test.ts
  yarn-project/ivc-integration/src/avm_integration.test.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/journal/journal.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/opcodes/contract.test.ts
  yarn-project/simulator/src/avm/opcodes/contract.ts
  yarn-project/simulator/src/avm/opcodes/environment_getters.test.ts
  yarn-project/simulator/src/avm/opcodes/environment_getters.ts
  yarn-project/simulator/src/public/dual_side_effect_trace.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.test.ts
  yarn-project/simulator/src/public/enqueued_call_side_effect_trace.ts
  yarn-project/simulator/src/public/side_effect_trace.test.ts
  yarn-project/simulator/src/public/side_effect_trace.ts
  yarn-project/simulator/src/public/side_effect_trace_interface.ts
  yarn-project/txe/src/txe_service/txe_service.ts
Labels: C-avm

#9364 chore(CI): remove end-to-end/Earthfile
  .github/ci-setup-action/action.yml
  .github/ensure-tester/action.yml
  .github/workflows/ci-arm.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-kind-test.yml
  .github/workflows/sepolia-test.yml
  Earthfile
  scripts/ci/get_e2e_jobs.sh
  scripts/ci/select_runner.sh
  yarn-project/end-to-end/Earthfile
  yarn-project/end-to-end/scripts/e2e_compose_test.sh
  yarn-project/end-to-end/scripts/e2e_test.sh
  yarn-project/end-to-end/scripts/e2e_test_config.yml
Labels: e2e-all

#8874 feat: sol shplemini in acir tests + contract_gen
  barretenberg/acir_tests/sol-test/package.json
  barretenberg/acir_tests/sol-test/src/index.js
  barretenberg/acir_tests/sol-test/yarn.lock
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/honk_contract.hpp
  barretenberg/sol/src/honk/HonkTypes.sol
  barretenberg/sol/src/honk/HonkVerifier.sol
  barretenberg/sol/src/honk/Relations.sol
  barretenberg/sol/src/honk/Transcript.sol
  barretenberg/sol/src/honk/instance/Add2Honk.sol
  barretenberg/sol/src/honk/instance/BlakeHonk.sol
  barretenberg/sol/src/honk/instance/EcdsaHonk.sol
  yarn-project/cli/package.json
  yarn-project/end-to-end/package.json
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/yarn.lock
Labels: crypto, e2e-prover-full

#9496 fix(avm): re-enable sha256 in bulk test, fix bug in AVM SHL/SHR
  barretenberg/cpp/src/barretenberg/vm/avm/tests/bitwise.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/alu_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
Labels: e2e-all

#9475 feat(avm)!: returndatasize + returndatacopy
  avm-transpiler/src/opcodes.rs
  avm-transpiler/src/transpile.rs
  barretenberg/cpp/pil/avm/main.pil
  barretenberg/cpp/src/barretenberg/vm/avm/generated/circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/flavor.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/full_row.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/full_row.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/main.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/deserialization.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/fixed_gas.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/opcode.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  barretenberg/cpp/src/barretenberg/vm/aztec_constants.hpp
  noir-projects/aztec-nr/authwit/src/auth.nr
  noir-projects/aztec-nr/authwit/src/cheatcodes.nr
  noir-projects/aztec-nr/aztec/src/context/call_interfaces.nr
  noir-projects/aztec-nr/aztec/src/context/mod.nr
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/aztec-nr/aztec/src/prelude.nr
  noir-projects/aztec-nr/aztec/src/test/helpers/utils.nr
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  noir-projects/noir-contracts/contracts/parent_contract/src/main.nr
  noir-projects/noir-contracts/contracts/static_parent_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/contract/contract_class_id.ts
  yarn-project/protocol-contracts/src/protocol_contract_data.ts
  yarn-project/simulator/src/avm/avm_gas.ts
  yarn-project/simulator/src/avm/avm_machine_state.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/opcodes/external_calls.ts
  yarn-project/simulator/src/avm/opcodes/memory.test.ts
  yarn-project/simulator/src/avm/opcodes/memory.ts
  yarn-project/simulator/src/avm/serialization/bytecode_serialization.ts
  yarn-project/simulator/src/avm/serialization/instruction_serialization.ts
  yarn-project/txe/src/oracle/txe_oracle.ts
  yarn-project/txe/src/txe_service/txe_service.ts
Labels: e2e-prover-full

#9550 fix: honk shplemini acir artifacts
  barretenberg/acir_tests/sol-test/package.json
  barretenberg/acir_tests/sol-test/src/index.js
  barretenberg/acir_tests/sol-test/yarn.lock
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/honk_contract.hpp
  barretenberg/sol/src/honk/HonkTypes.sol
  barretenberg/sol/src/honk/HonkVerifier.sol
  barretenberg/sol/src/honk/Relations.sol
  barretenberg/sol/src/honk/Transcript.sol
  barretenberg/sol/src/honk/instance/Add2Honk.sol
  barretenberg/sol/src/honk/instance/BlakeHonk.sol
  barretenberg/sol/src/honk/instance/EcdsaHonk.sol
  yarn-project/Earthfile
  yarn-project/bb-prover/src/bb/cli.ts
  yarn-project/bb-prover/src/bb/execute.ts
  yarn-project/cli/package.json
  yarn-project/end-to-end/package.json
  yarn-project/end-to-end/src/fixtures/dumps/epoch_proof_result.json
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/yarn.lock
Labels: e2e-all

#9501 fix: add native verification test to honk keccak
  barretenberg/acir_tests/flows/honk_sol.sh
Labels: crypto

#9421 fix: stop bot in case of tx errors
  docker-compose.provernet.yml
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/archiver/src/test/mock_l2_block_source.ts
  yarn-project/aztec/src/cli/cli.ts
  yarn-project/aztec/src/cli/cmds/start_txe.ts
  yarn-project/bot/src/config.ts
  yarn-project/bot/src/rpc.ts
  yarn-project/bot/src/runner.ts
  yarn-project/circuit-types/src/l2_block_downloader/l2_block_stream.ts
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/end-to-end/src/prover-coordination/e2e_prover_coordination.test.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/foundation/src/json-rpc/server/json_rpc_server.ts
  yarn-project/p2p/src/client/p2p_client.test.ts
  yarn-project/p2p/src/client/p2p_client.ts
  yarn-project/p2p/src/config.ts
  yarn-project/p2p/src/mem_pools/tx_pool/aztec_kv_tx_pool.ts
  yarn-project/p2p/src/mem_pools/tx_pool/memory_tx_pool.ts
  yarn-project/p2p/src/mem_pools/tx_pool/tx_pool.ts
  yarn-project/p2p/src/mem_pools/tx_pool/tx_pool_test_suite.ts
  yarn-project/p2p/src/service/reqresp/reqresp.integration.test.ts
  yarn-project/package.json
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/txe/src/bin/index.ts
Labels: e2e-all

#9602 chore: disable breaking e2e_event_logs test
  yarn-project/end-to-end/src/e2e_event_logs.test.ts
Labels: e2e_event_logs

#2694 feat: faster square roots
  barretenberg/cpp/src/barretenberg/ecc/curves/secp256k1/secp256k1.test.cpp
  barretenberg/cpp/src/barretenberg/ecc/fields/field_declarations.hpp
  barretenberg/cpp/src/barretenberg/ecc/fields/field_impl.hpp
  barretenberg/ts/src/barretenberg_wasm/barretenberg_wasm_main/index.ts
  yarn-project/foundation/src/wasm/wasm_module.ts
Labels: crypto

#9621 fix: e2e event logs test
  yarn-project/end-to-end/src/e2e_event_logs.test.ts
Labels: e2e_event_logs

#9585 feat: fixed private log size
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/aztec-nr/aztec/src/encrypted_logs/encrypted_event_emission.nr
  noir-projects/aztec-nr/aztec/src/encrypted_logs/encrypted_note_emission.nr
  noir-projects/aztec-nr/aztec/src/encrypted_logs/payload.nr
  noir-projects/aztec-nr/aztec/src/macros/notes/mod.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/circuit-types/src/logs/l1_payload/encrypted_log_payload.test.ts
  yarn-project/circuit-types/src/logs/l1_payload/encrypted_log_payload.ts
  yarn-project/circuit-types/src/logs/l1_payload/l1_note_payload.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/pxe/src/note_processor/note_processor.test.ts
  yarn-project/pxe/src/note_processor/note_processor.ts
Labels: e2e-all

#9610 fix(k8s): boot node long sync
  spartan/aztec-network/templates/boot-node.yaml
  spartan/aztec-network/templates/prover-node.yaml
  spartan/aztec-network/templates/validator.yaml
  spartan/aztec-network/values.yaml
  yarn-project/aztec/src/cli/cmds/start_node.ts
Labels: network-all
