Repository AztecProtocol/aztec-packages, pull requests merged in 2025-01, with the labels that each got.

#11021 fix(ci): acir bench
  barretenberg/acir_tests/.rebuild_patterns
  barretenberg/acir_tests/Earthfile
  barretenberg/acir_tests/bootstrap.sh
Labels: bench, e2e-all

#10965 feat: Prover node checks txs availability before sending quote
  yarn-project/prover-node/src/job/epoch-proving-job.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/prover-node/src/prover-node.ts
Labels: e2e-all

#11007 chore: load in the big dashboard during metrics install
  spartan/metrics/.gitignore
  spartan/metrics/install-kind.sh
  spartan/metrics/install-prod.sh
  spartan/metrics/values.tmp.yaml
  spartan/metrics/values.yaml
Labels: e2e-all

#11057 chore: Fix customTags is not iterable in e2e-prover-full
  .github/ensure-tester/action.yml
Labels: e2e-prover-full

#11020 chore: clean up proof lengths and IPA
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/ipa/ipa.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_format.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/honk_recursion_constraint.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_rollup_flavor.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_transcript.test.cpp
Labels: e2e-prover-full, e2e

#9563 feat: improve witness generation for cycle_group::batch_mul
  barretenberg/cpp/src/barretenberg/examples/join_split/join_split.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/group/cycle_group.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/group/cycle_group.hpp
Labels: T-optimisation

#10773 feat: fix commitments and openings of masking polynomials used in zk sumcheck
  barretenberg/cpp/src/barretenberg/commitment_schemes/kzg/kzg.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplonk.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/small_subgroup_ipa/small_subgroup_ipa.hpp
  barretenberg/cpp/src/barretenberg/constants.hpp
  barretenberg/cpp/src/barretenberg/ecc/curves/bn254/bn254.hpp
  barretenberg/cpp/src/barretenberg/ecc/curves/grumpkin/grumpkin.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_transcript.test.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/curves/bn254.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/curves/grumpkin.hpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_zk_flavor.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.test.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck_output.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck_round.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/zk_sumcheck_data.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_prover.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_prover.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_prover.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/mega_transcript.test.cpp
Labels: crypto

#10921 feat: Validate block proposal txs iteratively
  yarn-project/aztec-node/src/aztec-node/server.test.ts
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.test.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/circuit-types/src/interfaces/configs.ts
  yarn-project/circuit-types/src/tx/tx.ts
  yarn-project/circuit-types/src/tx/validator/empty_validator.ts
  yarn-project/circuit-types/src/tx/validator/tx_validator.ts
  yarn-project/circuit-types/src/tx_effect.ts
  yarn-project/circuits.js/src/structs/gas.ts
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/p2p/src/client/p2p_client.ts
  yarn-project/p2p/src/msg_validators/tx_validator/aggregate_tx_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/aggregate_tx_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/data_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/data_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/double_spend_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/double_spend_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/metadata_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/metadata_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/tx_proof_validator.ts
  yarn-project/p2p/src/services/libp2p/libp2p_service.ts
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/prover-node/src/job/epoch-proving-job.ts
  yarn-project/sequencer-client/src/client/sequencer-client.ts
  yarn-project/sequencer-client/src/config.ts
  yarn-project/sequencer-client/src/index.ts
  yarn-project/sequencer-client/src/sequencer/index.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.test.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/sequencer-client/src/sequencer/utils.ts
  yarn-project/sequencer-client/src/tx_validator/gas_validator.test.ts
  yarn-project/sequencer-client/src/tx_validator/gas_validator.ts
  yarn-project/sequencer-client/src/tx_validator/nullifier_cache.test.ts
  yarn-project/sequencer-client/src/tx_validator/nullifier_cache.ts
  yarn-project/sequencer-client/src/tx_validator/phases_validator.test.ts
  yarn-project/sequencer-client/src/tx_validator/phases_validator.ts
  yarn-project/sequencer-client/src/tx_validator/tx_validator_factory.ts
  yarn-project/simulator/src/public/public_processor.test.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/txe/src/node/txe_node.ts
  yarn-project/validator-client/src/validator.ts
Labels: e2e-all

#11031 chore: Refactor tail public inputs
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-protocol-circuits/crates/blob/src/blob.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-empty-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-empty/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/tail_output_composer.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/tail_output_composer/meter_gas_used.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/tail_output_validator.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_empty.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_tail.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/tail_output_composer_builder/meter_gas_used.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/tail_output_composer_builder/mod.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/tail_output_validator_builder/mod.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/tail_output_validator_builder/validate_empty_values.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/tail_output_validator_builder/validate_propagated_values.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail-simulated/src/main.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail/src/main.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/abis/mod.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/abis/tx_effect.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/components/constants.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/private_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/public_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/components.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/lib.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/accumulated_data/mod.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/accumulated_data/private_to_rollup_accumulated_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/kernel_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/mod.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/private_to_rollup_kernel_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/tube.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/lib.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
  yarn-project/bb-prover/src/prover/bb_prover.ts
  yarn-project/bb-prover/src/test/test_circuit_prover.ts
  yarn-project/circuit-types/src/interfaces/proving-job.ts
  yarn-project/circuit-types/src/interfaces/server_circuit_prover.ts
  yarn-project/circuit-types/src/test/factories.ts
  yarn-project/circuit-types/src/tx/processed_tx.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/structs/index.ts
  yarn-project/circuits.js/src/structs/kernel/combined_accumulated_data.test.ts
  yarn-project/circuits.js/src/structs/kernel/kernel_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/private_kernel_tail_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/private_to_rollup_accumulated_data.test.ts
  yarn-project/circuits.js/src/structs/kernel/private_to_rollup_accumulated_data.ts
  yarn-project/circuits.js/src/structs/rollup/private_tube_data.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/noir-protocol-circuits-types/src/conversion/client.ts
  yarn-project/noir-protocol-circuits-types/src/conversion/common.ts
  yarn-project/noir-protocol-circuits-types/src/conversion/server.ts
  yarn-project/noir-protocol-circuits-types/src/execution/server.ts
  yarn-project/prover-client/src/block_builder/light.test.ts
  yarn-project/prover-client/src/orchestrator/tx-proving-state.ts
  yarn-project/prover-client/src/prover-agent/memory-proving-queue.ts
  yarn-project/prover-client/src/proving_broker/broker_prover_facade.ts
  yarn-project/prover-client/src/test/bb_prover_base_rollup.test.ts
  yarn-project/prover-client/src/test/mock_prover.ts
Labels: e2e-all

#11090 refactor: nuke unused `getSiblingPath` oracle
  docs/docs/aztec/smart_contracts/functions/attributes.md
  docs/docs/migration_notes.md
  noir-projects/aztec-nr/aztec/src/oracle/get_sibling_path.nr
  noir-projects/aztec-nr/aztec/src/oracle/mod.nr
  noir-projects/aztec-nr/aztec/src/test/mocks/mock_note.nr
  noir-projects/noir-contracts/contracts/ecdsa_public_key_note/src/lib.nr
  yarn-project/circuit-types/src/interfaces/aztec-node.test.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/circuit-types/src/interfaces/index.ts
  yarn-project/circuit-types/src/interfaces/nullifier_membership_witness.ts
  yarn-project/foundation/src/abi/note_selector.ts
  yarn-project/pxe/src/simulator_oracle/index.ts
  yarn-project/simulator/src/acvm/oracle/oracle.ts
  yarn-project/simulator/src/acvm/oracle/typed_oracle.ts
  yarn-project/simulator/src/client/db_oracle.ts
  yarn-project/simulator/src/client/view_data_oracle.ts
  yarn-project/txe/src/txe_service/txe_service.ts
Labels: e2e-all

#11111 fix: Prover node aborts execution at epoch end
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/archiver/src/test/mock_l2_block_source.ts
  yarn-project/aztec.js/src/index.ts
  yarn-project/circuit-types/src/epoch-helpers/index.test.ts
  yarn-project/circuit-types/src/epoch-helpers/index.ts
  yarn-project/circuit-types/src/interfaces/archiver.test.ts
  yarn-project/circuit-types/src/interfaces/archiver.ts
  yarn-project/circuit-types/src/interfaces/prover-node.ts
  yarn-project/circuit-types/src/l2_block_source.ts
  yarn-project/circuits.js/src/structs/proof.ts
  yarn-project/circuits.js/src/structs/rollup/block_root_or_block_merge_public_inputs.ts
  yarn-project/circuits.js/src/structs/rollup/root_rollup.ts
  yarn-project/circuits.js/src/structs/trees/append_only_tree_snapshot.ts
  yarn-project/end-to-end/src/e2e_block_building.test.ts
  yarn-project/end-to-end/src/e2e_epochs.test.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/ethereum/src/test/tx_delayer.ts
  yarn-project/prover-node/package.json
  yarn-project/prover-node/src/job/epoch-proving-job.test.ts
  yarn-project/prover-node/src/job/epoch-proving-job.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/prover-node/src/prover-node.ts
  yarn-project/prover-node/src/test/index.ts
  yarn-project/sequencer-client/package.json
  yarn-project/sequencer-client/src/publisher/index.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/sequencer-client/src/test/index.ts
  yarn-project/sequencer-client/src/test/test-l1-publisher.ts
Labels: e2e-all

#10981 chore: Greater stability at 1TPS
  boxes/yarn.lock
  cspell.json
  spartan/aztec-network/templates/_helpers.tpl
  spartan/aztec-network/templates/boot-node.yaml
  spartan/aztec-network/templates/prover-broker.yaml
  spartan/aztec-network/templates/prover-node.yaml
  spartan/aztec-network/templates/reth.yaml
  spartan/aztec-network/templates/validator.yaml
  spartan/aztec-network/values.yaml
  spartan/aztec-network/values/exp-1.yaml
  spartan/terraform/gke-cluster/main.tf
  yarn-project/archiver/src/archiver/instrumentation.ts
  yarn-project/aztec-node/src/aztec-node/server.test.ts
  yarn-project/aztec/src/cli/cmds/start_prover_broker.ts
  yarn-project/circuit-types/src/interfaces/epoch-prover.ts
  yarn-project/circuit-types/src/interfaces/prover-broker.ts
  yarn-project/circuit-types/src/interfaces/proving-job.ts
  yarn-project/end-to-end/src/e2e_epochs.test.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/kv-store/package.json
  yarn-project/p2p/src/msg_validators/tx_validator/block_header_validator.test.ts
  yarn-project/p2p/src/msg_validators/tx_validator/block_header_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/index.ts
  yarn-project/prover-client/src/orchestrator/orchestrator.ts
  yarn-project/prover-client/src/prover-client/prover-client.ts
  yarn-project/prover-client/src/prover-client/server-epoch-prover.ts
  yarn-project/prover-client/src/proving_broker/broker_prover_facade.test.ts
  yarn-project/prover-client/src/proving_broker/broker_prover_facade.ts
  yarn-project/prover-client/src/proving_broker/factory.ts
  yarn-project/prover-client/src/proving_broker/fixtures.ts
  yarn-project/prover-client/src/proving_broker/proving_broker.test.ts
  yarn-project/prover-client/src/proving_broker/proving_broker.ts
  yarn-project/prover-client/src/proving_broker/proving_broker_database.ts
  yarn-project/prover-client/src/proving_broker/proving_broker_database/broker_persisted_database.test.ts
  yarn-project/prover-client/src/proving_broker/proving_broker_database/memory.ts
  yarn-project/prover-client/src/proving_broker/proving_broker_database/persisted.ts
  yarn-project/prover-client/src/proving_broker/proving_job_controller.ts
  yarn-project/prover-client/src/proving_broker/rpc.ts
  yarn-project/prover-client/src/test/mock_prover.ts
  yarn-project/prover-node/src/job/epoch-proving-job.ts
  yarn-project/prover-node/src/metrics.ts
  yarn-project/sequencer-client/src/tx_validator/archive_cache.test.ts
  yarn-project/sequencer-client/src/tx_validator/archive_cache.ts
  yarn-project/sequencer-client/src/tx_validator/tx_validator_factory.ts
  yarn-project/telemetry-client/src/metrics.ts
  yarn-project/yarn.lock
Labels: e2e-all, network-all

#10438 fix: max_note_len computation
  noir-projects/aztec-nr/aztec/src/macros/mod.nr
Labels: e2e-all

#11139 feat: Kickoff tube circuits at the beginning of proving job
  yarn-project/circuit-types/src/interfaces/epoch-prover.ts
  yarn-project/circuits.js/src/structs/client_ivc_proof.ts
  yarn-project/prover-client/src/orchestrator/epoch-proving-state.ts
  yarn-project/prover-client/src/orchestrator/orchestrator.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_workflow.test.ts
  yarn-project/prover-client/src/prover-client/server-epoch-prover.ts
  yarn-project/prover-node/src/job/epoch-proving-job.ts
Labels: e2e-prover-full

#11100 feat: Use tail public inputs as transaction hash
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/trace.hpp
  noir-projects/noir-contracts/contracts/easy_private_voting_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/abis/tx_effect.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/private_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/public_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/block_root/block_root_rollup_inputs.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/components.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/private_to_public_kernel_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/private_to_rollup_kernel_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/aztec-node/src/aztec-node/server.test.ts
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/circuit-types/src/tx/processed_tx.ts
  yarn-project/circuit-types/src/tx/tx.ts
  yarn-project/circuit-types/src/tx_effect.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/structs/index.ts
  yarn-project/circuits.js/src/structs/kernel/private_kernel_tail_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/private_to_avm_accumulated_data.ts
  yarn-project/circuits.js/src/structs/kernel/private_to_public_accumulated_data.ts
  yarn-project/circuits.js/src/structs/kernel/private_to_public_kernel_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/private_to_rollup_accumulated_data.ts
  yarn-project/circuits.js/src/structs/kernel/private_to_rollup_kernel_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/tx_constant_data.ts
  yarn-project/circuits.js/src/structs/l2_to_l1_message.ts
  yarn-project/circuits.js/src/structs/rollup/private_tube_data.ts
  yarn-project/circuits.js/src/structs/rollup_validation_requests.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/noir-protocol-circuits-types/src/conversion/server.ts
  yarn-project/p2p/src/mem_pools/tx_pool/aztec_kv_tx_pool.ts
  yarn-project/p2p/src/mem_pools/tx_pool/tx_pool_test_suite.ts
  yarn-project/p2p/src/services/reqresp/reqresp.test.ts
  yarn-project/prover-client/src/orchestrator/block_building_helpers.test.ts
  yarn-project/prover-client/src/orchestrator/tx-proving-state.ts
  yarn-project/prover-node/src/prover-node.test.ts
  yarn-project/pxe/src/note_decryption_utils/brute_force_note_info.ts
  yarn-project/pxe/src/note_decryption_utils/produce_note_daos.ts
  yarn-project/pxe/src/note_decryption_utils/produce_note_daos_for_key.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/pxe/src/simulator_oracle/index.ts
  yarn-project/pxe/src/simulator_oracle/simulator_oracle.test.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/fixtures/index.ts
  yarn-project/simulator/src/avm/journal/journal.test.ts
  yarn-project/simulator/src/avm/journal/journal.ts
  yarn-project/simulator/src/avm/opcodes/accrued_substate.test.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/simulator/src/public/public_tx_context.ts
  yarn-project/simulator/src/public/public_tx_simulator.ts
Labels: e2e-all, network-all

#11106 chore: SmallSubgroupIPA tests
  barretenberg/cpp/src/barretenberg/commitment_schemes/commitment_key.test.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/gemini/gemini_impl.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/shplonk/shplemini.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/small_subgroup_ipa/small_subgroup_ipa.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/small_subgroup_ipa/small_subgroup_ipa.test.cpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/utils/instance_witness_generator.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/utils/test_settings.hpp
Labels: crypto

#10949 feat: contract class must be registered before deployment
  noir-projects/noir-contracts/contracts/contract_class_registerer_contract/src/main.nr
  noir-projects/noir-contracts/contracts/contract_instance_deployer_contract/Nargo.toml
  noir-projects/noir-contracts/contracts/contract_instance_deployer_contract/src/main.nr
  yarn-project/accounts/src/testing/create_account.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/blacklist_token_contract_test.ts
  yarn-project/end-to-end/src/e2e_cross_chain_messaging/cross_chain_messaging_test.ts
  yarn-project/end-to-end/src/e2e_deploy_contract/deploy_method.test.ts
  yarn-project/end-to-end/src/e2e_prover/e2e_prover_test.ts
  yarn-project/end-to-end/src/e2e_token_contract/token_contract_test.ts
  yarn-project/end-to-end/src/fixtures/snapshot_manager.ts
Labels: e2e-all, e2e-prover-full

#10535 chore: removing noir bug workaround
  noir-projects/aztec-nr/aztec/src/encrypted_logs/encrypted_note_emission.nr
  noir-projects/aztec-nr/aztec/src/encrypted_logs/payload.nr
  noir-projects/noir-contracts/contracts/token_blacklist_contract/src/main.nr
  noir-projects/noir-contracts/contracts/token_contract/src/main.nr
  yarn-project/end-to-end/src/e2e_token_contract/transfer_in_private.test.ts
Labels: e2e-all

#11050 feat: Validator deadline for reexecution
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/aztec.js/src/utils/chain_monitor.ts
  yarn-project/aztec.js/src/utils/index.ts
  yarn-project/end-to-end/package.json
  yarn-project/end-to-end/src/e2e_epochs.test.ts
  yarn-project/end-to-end/src/e2e_p2p/p2p_network.ts
  yarn-project/end-to-end/src/e2e_p2p/reex.test.ts
  yarn-project/end-to-end/src/e2e_p2p/shared.ts
  yarn-project/end-to-end/src/fixtures/setup_p2p_test.ts
  yarn-project/end-to-end/tsconfig.json
  yarn-project/ethereum/src/contracts/rollup.ts
  yarn-project/foundation/src/log/pino-logger.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/validator-client/package.json
  yarn-project/validator-client/src/errors/validator.error.ts
  yarn-project/validator-client/src/validator.ts
  yarn-project/yarn.lock
Labels: e2e-p2p

#11202 chore: Block building benchmark via github-action-benchmark
  .github/workflows/ci.yml
  scripts/logs/Earthfile
  scripts/logs/check_logs_for_benchmark.sh
  scripts/logs/download_base_benchmark_from_s3.sh
  scripts/logs/download_logs_from_s3.sh
  scripts/logs/upload_aggregated_benchmarks_to_s3.sh
  scripts/logs/upload_logs_to_s3.sh
  yarn-project/circuit-types/src/stats/benchmarks.ts
  yarn-project/circuit-types/src/stats/index.ts
  yarn-project/circuit-types/src/stats/metrics.ts
  yarn-project/end-to-end/scripts/e2e_test.sh
  yarn-project/end-to-end/scripts/e2e_test_config.yml
  yarn-project/end-to-end/src/bench/bench_build_block.test.ts
  yarn-project/end-to-end/src/bench/utils.ts
  yarn-project/end-to-end/src/benchmarks/README.md
  yarn-project/end-to-end/src/benchmarks/bench_process_history.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_prover.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_publish_rollup.test.ts
  yarn-project/end-to-end/src/benchmarks/bench_tx_size_fees.test.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/foundation/src/collection/array.test.ts
  yarn-project/foundation/src/collection/array.ts
  yarn-project/scripts/Earthfile
  yarn-project/scripts/package.json
  yarn-project/scripts/src/benchmarks/aggregate.ts
  yarn-project/scripts/src/benchmarks/markdown.ts
  yarn-project/scripts/src/benchmarks/paths.ts
  yarn-project/scripts/src/bin/bench-aggregate.ts
  yarn-project/scripts/src/bin/bench-comment.ts
  yarn-project/scripts/src/bin/bench-markdown.ts
  yarn-project/scripts/src/types.ts
  yarn-project/scripts/src/utils/comment.ts
  yarn-project/sequencer-client/src/sequencer/metrics.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/telemetry-client/package.json
  yarn-project/telemetry-client/src/bench.ts
  yarn-project/telemetry-client/src/metrics.ts
  yarn-project/telemetry-client/src/noop.ts
  yarn-project/yarn.lock
Labels: bench-all

#11238 chore: wait for ethereum in each pod
  spartan/aztec-network/templates/_helpers.tpl
  spartan/aztec-network/templates/boot-node.yaml
  spartan/aztec-network/templates/faucet.yaml
  spartan/aztec-network/templates/prover-node.yaml
  spartan/aztec-network/templates/validator.yaml
Labels: network-all

#11216 feat: Allow concurrent world state access
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/append_only_tree/content_addressed_append_only_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/indexed_tree/content_addressed_indexed_tree.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_database.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_environment.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_read_transaction.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_store.test.cpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/lmdb_store/lmdb_tree_write_transaction.hpp
  barretenberg/cpp/src/barretenberg/crypto/merkle_tree/node_store/cached_content_addressed_tree_store.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.cpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.hpp
  yarn-project/world-state/src/native/merkle_trees_facade.ts
  yarn-project/world-state/src/native/message.ts
  yarn-project/world-state/src/native/native_world_state.test.ts
  yarn-project/world-state/src/native/native_world_state.ts
  yarn-project/world-state/src/native/native_world_state_instance.ts
  yarn-project/world-state/src/native/world_state_ops_queue.ts
Labels: e2e-all, network-all

#11094 chore: fixing `@safety` warnings
  noir-projects/aztec-nr/aztec/src/context/private_context.nr
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/aztec-nr/aztec/src/encrypted_logs/encrypted_event_emission.nr
  noir-projects/aztec-nr/aztec/src/encrypted_logs/encrypted_note_emission.nr
  noir-projects/aztec-nr/aztec/src/encrypted_logs/payload.nr
  noir-projects/aztec-nr/aztec/src/history/note_inclusion.nr
  noir-projects/aztec-nr/aztec/src/history/nullifier_inclusion.nr
  noir-projects/aztec-nr/aztec/src/history/nullifier_non_inclusion.nr
  noir-projects/aztec-nr/aztec/src/history/public_storage.nr
  noir-projects/aztec-nr/aztec/src/keys/getters/mod.nr
  noir-projects/aztec-nr/aztec/src/messaging.nr
  noir-projects/aztec-nr/aztec/src/note/note_getter/mod.nr
  noir-projects/aztec-nr/aztec/src/oracle/block_header.nr
  noir-projects/aztec-nr/aztec/src/oracle/enqueue_public_function_call.nr
  noir-projects/aztec-nr/aztec/src/oracle/get_contract_instance.nr
  noir-projects/aztec-nr/aztec/src/oracle/notes.nr
  noir-projects/aztec-nr/aztec/src/state_vars/private_mutable.nr
  noir-projects/aztec-nr/aztec/src/state_vars/shared_mutable.nr
  noir-projects/aztec-nr/aztec/src/utils/array/collapse.nr
  noir-projects/aztec-nr/uint-note/src/uint_note.nr
  noir-projects/aztec-nr/value-note/src/value_note.nr
  noir-projects/noir-contracts/contracts/app_subscription_contract/src/subscription_note.nr
  noir-projects/noir-contracts/contracts/easy_private_voting_contract/src/test/utils.nr
  noir-projects/noir-contracts/contracts/nft_contract/src/main.nr
  noir-projects/noir-contracts/contracts/nft_contract/src/types/nft_note.nr
  noir-projects/noir-contracts/contracts/schnorr_account_contract/src/main.nr
  noir-projects/noir-contracts/contracts/schnorr_hardcoded_account_contract/src/main.nr
  noir-projects/noir-contracts/contracts/schnorr_single_key_account_contract/src/main.nr
  noir-projects/noir-contracts/contracts/spam_contract/src/types/token_note.nr
  noir-projects/noir-contracts/contracts/token_blacklist_contract/src/types/token_note.nr
  noir-projects/noir-contracts/contracts/token_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/blob/src/blob.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/private_kernel_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/debug_log.nr
  noir-projects/noir-protocol-circuits/crates/types/src/merkle_tree/variable_merkle_tree.nr
  noir-projects/noir-protocol-circuits/crates/types/src/proof/vk_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/assert_combined_array.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/assert_combined_transformed_array.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/assert_exposed_sorted_transformed_value_array/get_order_hints.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/assert_split_sorted_transformed_value_arrays/get_split_order_hints.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/assert_split_transformed_value_arrays.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/get_sorted_result.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/get_sorted_tuple.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/sort_by.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/sort_by_counter.nr
Labels: e2e-all

#11252 chore: retry deploys
  spartan/aztec-network/templates/boot-node.yaml
Labels: network-all

#11300 feat(spartan): add extra accounts
  spartan/aztec-network/templates/reth.yaml
  spartan/aztec-network/values.yaml
Labels: network-all

#11129 refactor: random fixes and readability improvements
  cspell.json
  noir-projects/aztec-nr/aztec/src/context/private_context.nr
  noir-projects/aztec-nr/aztec/src/encrypted_logs/payload.nr
  noir-projects/aztec-nr/aztec/src/history/nullifier_inclusion.nr
  noir-projects/aztec-nr/aztec/src/history/nullifier_non_inclusion.nr
  noir-projects/aztec-nr/aztec/src/history/public_storage.nr
  noir-projects/aztec-nr/aztec/src/lib.nr
  noir-projects/aztec-nr/aztec/src/macros/functions/initialization_utils.nr
  noir-projects/aztec-nr/aztec/src/macros/functions/mod.nr
  noir-projects/aztec-nr/aztec/src/messaging.nr
  noir-projects/aztec-nr/aztec/src/note/note_getter_options.nr
  noir-projects/aztec-nr/aztec/src/oracle/block_header.nr
  noir-projects/aztec-nr/aztec/src/state_vars/shared_mutable/scheduled_delay_change.nr
  noir-projects/aztec-nr/value-note/src/value_note.nr
  noir-projects/noir-contracts/contracts/easy_private_voting_contract/src/test/utils.nr
  noir-projects/noir-contracts/contracts/ecdsa_k_account_contract/src/main.nr
  noir-projects/noir-contracts/contracts/ecdsa_r_account_contract/src/main.nr
  noir-projects/noir-contracts/contracts/stateful_test_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/blob/src/blob.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/sponge_blob.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/hash.nr
  noir-projects/noir-protocol-circuits/crates/types/src/poseidon2.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/assert_combined_array.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/arrays/assert_combined_transformed_array.nr
  noir-projects/noir-protocol-circuits/crates/types/src/utils/uint256.nr
  noir/noir-repo/noir_stdlib/src/hash/poseidon2.nr
  noir/noir-repo/noir_stdlib/src/uint128.nr
Labels: e2e-all

#11290 fix: verify start state of a block
  barretenberg/cpp/src/barretenberg/world_state/world_state.cpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.hpp
  barretenberg/cpp/src/barretenberg/world_state/world_state.test.cpp
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/libraries/ConstantsGen.sol
  l1-contracts/src/core/libraries/RollupLibs/EpochProofLib.sol
  l1-contracts/test/fees/FeeRollup.t.sol
  noir-projects/noir-protocol-circuits/crates/private-kernel-init/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-inner/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-reset/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail-to-public/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-base-private/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-base-public/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-block-merge/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-block-root/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/abis/block_root_rollup_data.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/block_root/block_root_rollup_inputs.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/block_root/components/block_root_rollup_inputs_validator.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/block_root/components/block_root_rollup_output_composer.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/block_root/empty_block_root_rollup_inputs.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/block_root/single_tx_block_root_rollup_inputs.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/root/root_rollup_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/tests/l1_to_l2_roots.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/tests/mod.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/tests/rollup_fixture_builder.nr
  noir-projects/noir-protocol-circuits/crates/rollup-merge/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-root/Prover.toml
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/circuit-types/src/interfaces/block-builder.ts
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/structs/rollup/block_root_rollup.ts
  yarn-project/circuits.js/src/structs/rollup/empty_block_root_rollup_inputs.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/noir-protocol-circuits-types/src/conversion/server.ts
  yarn-project/prover-client/src/block_builder/light.test.ts
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/prover-client/src/orchestrator/block-proving-state.ts
  yarn-project/prover-client/src/orchestrator/block_building_helpers.test.ts
  yarn-project/prover-client/src/orchestrator/epoch-proving-state.ts
  yarn-project/prover-client/src/orchestrator/orchestrator.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_errors.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_failures.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_lifecycle.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_mixed_blocks.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_multi_public_functions.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_multiple_blocks.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_public_functions.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_single_blocks.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_workflow.test.ts
  yarn-project/prover-client/src/prover-client/server-epoch-prover.ts
  yarn-project/prover-client/src/test/bb_prover_full_rollup.test.ts
  yarn-project/prover-node/src/job/epoch-proving-job.test.ts
  yarn-project/prover-node/src/job/epoch-proving-job.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.test.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/simulator/src/public/public_processor.test.ts
  yarn-project/simulator/src/public/public_processor.ts
  yarn-project/validator-client/src/validator.ts
Labels: e2e-all

#11306 chore: bump CRS and constants
  barretenberg/cpp/src/barretenberg/bb/api_client_ivc.hpp
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/constants.hpp
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-protocol-circuits/crates/private-kernel-init/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-inner/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-reset/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail-to-public/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-base-private/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-base-public/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-block-merge/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-block-root/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-merge/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-root/Prover.toml
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir/noir-repo/test_programs/execution_success/verify_rollup_honk_proof/Prover.toml
  noir/noir-repo/test_programs/execution_success/verify_rollup_honk_proof/src/main.nr
  yarn-project/circuits.js/src/constants.gen.ts
Labels: e2e-all

#11330 feat(p2p): request response node sampling
  yarn-project/p2p/src/services/libp2p/libp2p_service.ts
  yarn-project/p2p/src/services/reqresp/connection-sampler/connection_sampler.test.ts
  yarn-project/p2p/src/services/reqresp/connection-sampler/connection_sampler.ts
  yarn-project/p2p/src/services/reqresp/reqresp.test.ts
  yarn-project/p2p/src/services/reqresp/reqresp.ts
  yarn-project/p2p/src/util.ts
Labels: e2e-p2p

#11331 feat(p2p): batch request response
  yarn-project/p2p/src/services/reqresp/connection-sampler/batch_connection_sampler.test.ts
  yarn-project/p2p/src/services/reqresp/connection-sampler/batch_connection_sampler.ts
  yarn-project/p2p/src/services/reqresp/connection-sampler/connection_sampler.test.ts
  yarn-project/p2p/src/services/reqresp/connection-sampler/connection_sampler.ts
  yarn-project/p2p/src/services/reqresp/metrics.ts
  yarn-project/p2p/src/services/reqresp/reqresp.test.ts
  yarn-project/p2p/src/services/reqresp/reqresp.ts
  yarn-project/telemetry-client/src/attributes.ts
  yarn-project/telemetry-client/src/metrics.ts
Labels: e2e-p2p

#11105 feat: consensus layer in spartan
  .github/workflows/ci.yml
  .github/workflows/devnet-deploy.yml
  .yarn/install-state.gz
  package.json
  spartan/aztec-network/.gitignore
  spartan/aztec-network/eth-devnet/README.md
  spartan/aztec-network/eth-devnet/config/config.yaml
  spartan/aztec-network/eth-devnet/config/genesis.json
  spartan/aztec-network/eth-devnet/config/jwt-secret.hex
  spartan/aztec-network/eth-devnet/config/mnemonics.yaml
  spartan/aztec-network/eth-devnet/create.sh
  spartan/aztec-network/files/config/genesis.json
  spartan/aztec-network/files/config/setup-service-addresses.sh
  spartan/aztec-network/templates/_helpers.tpl
  spartan/aztec-network/templates/boot-node.yaml
  spartan/aztec-network/templates/deploy-l1-verifier.yaml
  spartan/aztec-network/templates/eth-beacon.yaml
  spartan/aztec-network/templates/eth-execution.yaml
  spartan/aztec-network/templates/eth-validator.yaml
  spartan/aztec-network/templates/reth.yaml
  spartan/aztec-network/templates/setup-l2-contracts.yaml
  spartan/aztec-network/values.yaml
  spartan/aztec-network/values/ci-smoke.yaml
  spartan/aztec-network/values/ci.yaml
  yarn-project/end-to-end/scripts/network_test.sh
  yarn-project/end-to-end/src/spartan/4epochs.test.ts
  yarn-project/end-to-end/src/spartan/gating-passive.test.ts
  yarn-project/end-to-end/src/spartan/reorg.test.ts
  yarn-project/end-to-end/src/spartan/smoke.test.ts
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/telemetry-client/package.json
  yarn.lock
Labels: network-all

#11301 feat(spartan): extra acounts with cl config
  yarn-project/end-to-end/scripts/network_test.sh
Labels: network-all

#11364 refactor(sol): generate & compile verifier contract in bootstrap
  Earthfile
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/honk_contract.hpp
  l1-contracts/.gitignore
  l1-contracts/bootstrap.sh
  l1-contracts/foundry.toml
  noir-projects/bootstrap.sh
  noir-projects/noir-protocol-circuits/bootstrap.sh
  yarn-project/Dockerfile
  yarn-project/Dockerfile.test
  yarn-project/bb-prover/src/bb/cli.ts
  yarn-project/bb-prover/src/bb/execute.ts
  yarn-project/bb-prover/src/prover/bb_prover.ts
  yarn-project/bb-prover/src/verifier/bb_verifier.ts
  yarn-project/cli/package.json
  yarn-project/cli/src/cmds/l1/deploy_l1_verifier.ts
  yarn-project/end-to-end/package.json
  yarn-project/end-to-end/src/composed/integration_proof_verification.test.ts
  yarn-project/end-to-end/src/e2e_prover/e2e_prover_test.ts
  yarn-project/ethereum/src/deploy_l1_contracts.ts
  yarn-project/l1-artifacts/scripts/generate-artifacts.sh
  yarn-project/proof-verifier/src/proof_verifier.ts
  yarn-project/protocol-contracts/src/scripts/generate_data.ts
  yarn-project/prover-client/src/config.ts
  yarn-project/yarn.lock
Labels: e2e-all, network-all

#11463 fix: network deployments
  spartan/aztec-network/.gitignore
  spartan/aztec-network/eth-devnet/create.sh
Labels: network-all

#11475 fix: Don't publish a block if we failed to create the block proposal
  yarn-project/sequencer-client/src/sequencer/sequencer.test.ts
  yarn-project/sequencer-client/src/sequencer/sequencer.ts
  yarn-project/simulator/src/public/public_processor.ts
Labels: e2e-all, network-all

#11484 fix(spartan): beacon node networking policy
  spartan/aztec-network/eth-devnet/config/genesis.json
  spartan/aztec-network/templates/eth-beacon.yaml
Labels: network-all

#11477 feat(avm): interactive debugger
  barretenberg/cpp/src/barretenberg/vm/avm/generated/columns.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/full_row.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/execution.cpp
  barretenberg/cpp/src/barretenberg/vm2/debugger.cpp
  barretenberg/cpp/src/barretenberg/vm2/debugger.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/columns.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/full_row.hpp
  barretenberg/cpp/src/barretenberg/vm2/proving_helper.cpp
  barretenberg/cpp/src/barretenberg/vm2/tracegen/lib/trace_conversion.cpp
  barretenberg/cpp/src/barretenberg/vm2/tracegen/lib/trace_conversion.hpp
  barretenberg/cpp/src/barretenberg/vm2/tracegen/test_trace_container.cpp
  barretenberg/cpp/src/barretenberg/vm2/tracegen/test_trace_container.hpp
  barretenberg/cpp/src/barretenberg/vm2/tracegen/trace_container.cpp
  barretenberg/cpp/src/barretenberg/vm2/tracegen/trace_container.hpp
  barretenberg/cpp/src/barretenberg/vm2/tracegen_helper.cpp
  bb-pilcom/bb-pil-backend/templates/columns.hpp.hbs
  bb-pilcom/bb-pil-backend/templates/full_row.hpp.hbs
Labels: macos-ci

#11504 refactor(avm): less codegen bloat
  barretenberg/cpp/src/barretenberg/vm/avm/generated/flavor.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/flavor.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/flavor.cpp
  barretenberg/cpp/src/barretenberg/vm2/generated/flavor.hpp
  bb-pilcom/bb-pil-backend/templates/flavor.cpp.hbs
  bb-pilcom/bb-pil-backend/templates/flavor.hpp.hbs
Labels: macos-ci

#11425 feat(avm)!: include length in bytecode hash
  barretenberg/cpp/src/barretenberg/crypto/poseidon2/c_bind.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/trace/bytecode_trace.cpp
  barretenberg/cpp/src/barretenberg/vm2/simulation/lib/contract_crypto.cpp
  noir-projects/noir-contracts/contracts/contract_class_registerer_contract/src/main.nr
  yarn-project/circuits.js/src/contract/contract_class_id.test.ts
  yarn-project/circuits.js/src/contract/contract_class_id.ts
  yarn-project/noir-protocol-circuits-types/src/__snapshots__/noir_test_gen.test.ts.snap
  yarn-project/protocol-contracts/src/class-registerer/contract_class_registered_event.test.ts
Labels: e2e-all

#11508 fix(ci): spartan cache
  .github/workflows/ci.yml
  spartan/bootstrap.sh
Labels: network-all

#11273 feat(archiver): read blobs from cl
  scripts/run_native_testnet.sh
  spartan/aztec-network/files/config/setup-service-addresses.sh
  spartan/aztec-network/templates/_helpers.tpl
  yarn-project/archiver/src/archiver/archiver.test.ts
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/archiver/src/archiver/config.ts
  yarn-project/archiver/src/archiver/data_retrieval.ts
  yarn-project/archiver/src/archiver/errors.ts
  yarn-project/aztec-node/src/aztec-node/config.ts
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/aztec/src/cli/aztec_start_options.ts
  yarn-project/blob-sink/README.md
  yarn-project/blob-sink/package.json
  yarn-project/blob-sink/src/client/blob-sink-client-tests.ts
  yarn-project/blob-sink/src/client/config.ts
  yarn-project/blob-sink/src/client/factory.ts
  yarn-project/blob-sink/src/client/http.test.ts
  yarn-project/blob-sink/src/client/http.ts
  yarn-project/blob-sink/src/client/index.ts
  yarn-project/blob-sink/src/encoding/index.ts
  yarn-project/blob-sink/src/server/config.ts
  yarn-project/blob-sink/src/server/run.ts
  yarn-project/blob-sink/src/server/server.test.ts
  yarn-project/blob-sink/src/server/server.ts
  yarn-project/blob-sink/src/types/blob_with_index.ts
  yarn-project/circuit-types/src/tx_effect.ts
  yarn-project/end-to-end/scripts/native-network/blob-sink.sh
  yarn-project/end-to-end/scripts/native-network/boot-node.sh
  yarn-project/end-to-end/scripts/native-network/deploy-l1-contracts.sh
  yarn-project/end-to-end/scripts/native-network/deploy-l2-contracts.sh
  yarn-project/end-to-end/scripts/native-network/prover-node.sh
  yarn-project/end-to-end/scripts/native-network/pxe.sh
  yarn-project/end-to-end/scripts/native-network/utils/get-chain-id.sh
  yarn-project/end-to-end/scripts/native-network/validator.sh
  yarn-project/end-to-end/src/e2e_prover/e2e_prover_test.ts
  yarn-project/end-to-end/src/e2e_synching.test.ts
  yarn-project/end-to-end/src/fixtures/fixtures.ts
  yarn-project/end-to-end/src/fixtures/utils.ts
  yarn-project/foundation/src/blob/blob.test.ts
  yarn-project/foundation/src/blob/blob.ts
  yarn-project/foundation/src/blob/encoding.ts
  yarn-project/foundation/src/blob/index.ts
  yarn-project/foundation/src/blob/interface.ts
  yarn-project/foundation/src/blob/mocks.ts
  yarn-project/foundation/src/config/env_var.ts
  yarn-project/foundation/src/promise/running-promise.test.ts
  yarn-project/foundation/src/promise/running-promise.ts
  yarn-project/foundation/src/serialize/field_reader.test.ts
  yarn-project/foundation/src/serialize/field_reader.ts
  yarn-project/prover-node/src/factory.ts
  yarn-project/sequencer-client/src/publisher/config.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.test.ts
  yarn-project/sequencer-client/src/publisher/l1-publisher.ts
  yarn-project/telemetry-client/package.json
  yarn-project/yarn.lock
Labels: network-all

#11524 fix: estimateGas for blob transactions (reth)
  yarn-project/ethereum/src/l1_tx_utils.ts
Labels: e2e-all, network-all

#11529 refactor: network test scripts
  .github/workflows/ci.yml
  .github/workflows/network-deploy.yml
  .github/workflows/nightly-kind-test.yml
  bootstrap.sh
  ci.sh
  ci3/find_ports
  scripts/run_native_testnet.sh
  scripts/run_native_testnet_with_metrics.sh
  spartan/Earthfile
  spartan/README.md
  spartan/aztec-network/eth-devnet/create.sh
  spartan/bootstrap.sh
  spartan/chaos-mesh/install.sh
  spartan/metrics/install-kind.sh
  spartan/metrics/install-prod.sh
  spartan/scripts/deploy_kind.sh
  spartan/scripts/deploy_spartan.sh
  spartan/scripts/generate_devnet_config.sh
  spartan/scripts/install_deps.sh
  spartan/scripts/k8s_log_interleave.py
  spartan/scripts/read_value.sh
  spartan/scripts/setup_local_k8s.sh
  spartan/scripts/test_kind.sh
  yarn-project/end-to-end/scripts/bash/generate_devnet_config.sh
  yarn-project/end-to-end/scripts/bash/read_values_file.sh
  yarn-project/end-to-end/scripts/network_test.sh
Labels: network-all

#11422 feat(blobs): add blobHashes to L2Block emitted log
  l1-contracts/src/core/Rollup.sol
  l1-contracts/src/core/interfaces/IRollup.sol
  l1-contracts/src/core/libraries/RollupLibs/BlobLib.sol
  l1-contracts/src/core/libraries/RollupLibs/ExtRollupLib.sol
  l1-contracts/src/core/libraries/RollupLibs/ValidationLib.sol
  yarn-project/archiver/src/archiver/archiver.test.ts
  yarn-project/archiver/src/archiver/data_retrieval.ts
  yarn-project/blob-sink/src/client/blob-sink-client-tests.ts
  yarn-project/blob-sink/src/client/http.test.ts
  yarn-project/blob-sink/src/client/http.ts
  yarn-project/blob-sink/src/client/interface.ts
  yarn-project/blob-sink/src/client/local.ts
Labels: network-all

#11575 docs: updating browser test instructions
  yarn-project/end-to-end/src/composed/e2e_aztec_js_browser.test.ts
Labels: e2e-all

#11591 fix(spartan): reduce l1 deploy retry time
  spartan/aztec-network/files/config/deploy-l1-contracts.sh
Labels: network-all

#11606 fix(spartan): get svc addresses from load balancers
  spartan/aztec-network/files/config/setup-service-addresses.sh
  spartan/aztec-network/templates/eth/eth-beacon.yaml
  spartan/aztec-network/templates/eth/eth-execution.yaml
  spartan/aztec-network/values.yaml
Labels: network-all

#11605 feat(avm): get_row optimization - 25x faster logderiv inv
  barretenberg/cpp/src/barretenberg/vm/avm/generated/circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/columns.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/lookups_alu.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/lookups_binary.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/lookups_gas.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/lookups_main.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/lookups_mem.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/lookups_mem_slice.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/lookups_range_check.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perms_alu.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perms_cmp.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perms_main.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perms_mem_slice.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perms_merkle_tree.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perms_poseidon2.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/generated/relations/perms_poseidon2_full.hpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/full_poseidon2.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/merkle_tree.test.cpp
  barretenberg/cpp/src/barretenberg/vm/avm/tests/range_check.test.cpp
  barretenberg/cpp/src/barretenberg/vm2/common/macros.hpp
  barretenberg/cpp/src/barretenberg/vm2/constraining/check_circuit.cpp
  barretenberg/cpp/src/barretenberg/vm2/generated/columns.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/flavor.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/relations/lookups_bc_decomposition.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/relations/lookups_execution.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/relations/lookups_range_check.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/relations/lookups_sha256.hpp
  barretenberg/cpp/src/barretenberg/vm2/generated/relations/perms_execution.hpp
  bb-pilcom/bb-pil-backend/templates/circuit_builder.cpp.hbs
  bb-pilcom/bb-pil-backend/templates/columns.hpp.hbs
  bb-pilcom/bb-pil-backend/templates/flavor.hpp.hbs
  bb-pilcom/bb-pil-backend/templates/lookup.hpp.hbs
  bb-pilcom/bb-pil-backend/templates/permutation.hpp.hbs
Labels: macos-ci

#11570 fix: Fuzzer value mutation and instruction write
  barretenberg/cpp/src/barretenberg/common/fuzzer.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bigfield/bigfield.fuzzer.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/field/field.fuzzer.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/safe_uint/safe_uint.fuzzer.hpp
Labels: product-security

#11652 fix: copy bb wasm from aztec.js
  boxes/boxes/vanilla/webpack.config.js
Labels: e2e-browser
