Repository AztecProtocol/aztec-packages, changes with the owners that CODEOWNERS names for each.
All owners: @charlielye, @Maddiaa0, @fcarreiro, @jeanmon, @IlyasRidhuan

version fixes
  yarn-project/p2p/package.json
  yarn-project/p2p/src/test_app.ts
  yarn-project/yarn.lock
Owners: none

rm unused fn
  yarn-project/p2p/package.json
  yarn-project/p2p/src/service/libp2p_service.ts
  yarn-project/yarn.lock
Owners: none

Addressing comments
  noir-projects/aztec-nr/aztec/src/keys.nr
  noir-projects/aztec-nr/aztec/src/keys/assert_public_key_freshness.nr
  noir-projects/aztec-nr/aztec/src/keys/getters.nr
  noir-projects/aztec-nr/aztec/src/oracle/keys.nr
  noir-projects/aztec-nr/aztec/src/state_vars/map.nr
  noir-projects/noir-contracts/contracts/key_registry_contract/src/main.nr
  noir-projects/noir-contracts/contracts/test_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/types/src/address/aztec_address.nr
  noir-projects/noir-protocol-circuits/crates/types/src/address/public_keys_hash.nr
  yarn-project/circuit-types/src/keys/key_store.ts
  yarn-project/end-to-end/jest.integration.config.json
  yarn-project/end-to-end/src/e2e_key_registry.test.ts
  yarn-project/end-to-end/src/e2e_state_vars.test.ts
  yarn-project/key-store/src/test_key_store.ts
  yarn-project/package.common.json
  yarn-project/simulator/src/acvm/oracle/oracle.ts
Owners: none

Apply suggestions from code review
  yarn-project/circuit-types/src/interfaces/pxe.ts
  yarn-project/simulator/src/client/db_oracle.ts
  yarn-project/simulator/src/client/view_data_oracle.ts
Owners: none

chore: update bitshifts
  noir-projects/noir-contracts/contracts/avm_test_contract/src/main.nr
  noir-projects/noir-protocol-circuits/crates/types/src/merkle_tree/append_only_tree.nr
  noir-projects/noir-protocol-circuits/crates/types/src/merkle_tree/indexed_tree.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/merkle_tree_utils.nr
Owners: none

ci: migrate boxes to GA and Earthly
  .circleci/config.yml
  .github/workflows/ci.yml
  boxes/.earthlyignore
  boxes/Earthfile
  boxes/boxes/react/package.json
  boxes/boxes/react/playwright.config.ts
  boxes/boxes/vanilla/package.json
  boxes/boxes/vanilla/playwright.config.ts
  boxes/docker-compose.yml
  boxes/package.json
  boxes/yarn.lock
  yarn-project/Earthfile
Owners: none

Migrate the prover client test to earthly
  .circleci/config.yml
  .github/workflows/ci.yml
  yarn-project/Earthfile
Owners: none

fix yarn.lock
  yarn-project/yarn.lock
Owners: none

Use default test timeouts
  yarn-project/prover-client/package.json
  yarn-project/prover-client/src/orchestrator/orchestrator_errors.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_failures.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_lifecycle.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_mixed_blocks.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_mixed_blocks_2.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_multi_public_functions.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_multiple_blocks.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_public_functions.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_single_blocks.test.ts
  yarn-project/prover-client/src/prover/bb_prover_base_rollup.test.ts
  yarn-project/prover-client/src/prover/bb_prover_full_rollup.test.ts
  yarn-project/prover-client/src/prover/bb_prover_parity.test.ts
  yarn-project/prover-client/src/prover/bb_prover_public_kernel.test.ts
Owners: none

Update GA dependencies
  .github/workflows/ci.yml
Owners: none

fix
  yarn-project/end-to-end/src/e2e_key_registry.test.ts
Owners: none

yarn stuff
  boxes/.yarn/releases/yarn-4.1.0.cjs
  boxes/.yarnrc.yml
  boxes/boxes/vanilla/package.json
  boxes/package.json
  boxes/yarn.lock
  docs/docs/protocol-specs/public-vm/gen/_instruction-set.mdx
Owners: none

:(
  barretenberg/cpp/src/barretenberg/stdlib/honk_recursion/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/stdlib/honk_recursion/verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_recursion/verifier/protogalaxy_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_recursion/verifier/protogalaxy_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_recursion/verifier/verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/biggroup/biggroup_impl.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/field/field.cpp
Owners: none

chore(ci): fix spot runner build key
  .github/spot-runner-action/action.yaml
  .github/spot-runner-action/src/config.ts
  .github/spot-runner-action/src/ec2.ts
Owners: none

simplify
  .github/spot-runner-action/src/userdata.ts
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 58400d17bbeaa0a8d14245f07de35fa0f1dc0286
  dev/bench/data.js
Owners: none

clarify
  .github/spot-runner-action/src/userdata.ts
Owners: none

bundle a workaround
  scripts/earthly-ci
Owners: none

wip
  boxes/.yarn/releases/yarn-4.1.0.cjs
  boxes/.yarnrc.yml
  docs/docs/protocol-specs/public-vm/gen/_instruction-set.mdx
Owners: none

fix(public-kernel): only validate start-gas for execution requests
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/common.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_app_logic.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_setup.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_teardown.nr
Owners: none

Provide local package json in prover client
  yarn-project/prover-client/package.json
  yarn-project/prover-client/package.local.json
Owners: none

feat: revert arr, track logs with counters, sort in exec. res.
  noir-projects/aztec-nr/aztec/src/context/private_context.nr
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/aztec-nr/aztec/src/oracle/logs.nr
  yarn-project/pxe/src/kernel_prover/kernel_prover.test.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/simulator/src/acvm/oracle/oracle.ts
  yarn-project/simulator/src/acvm/oracle/typed_oracle.ts
  yarn-project/simulator/src/client/client_execution_context.ts
  yarn-project/simulator/src/client/execution_result.ts
  yarn-project/simulator/src/client/private_execution.test.ts
  yarn-project/simulator/src/client/private_execution.ts
  yarn-project/simulator/src/public/public_execution_context.ts
Owners: @Maddiaa0, @fcarreiro

Revert "feat: migrate boxes to GA and Earthly (#6076)"
  .circleci/config.yml
  .github/workflows/ci.yml
  boxes/.earthlyignore
  boxes/Earthfile
  boxes/boxes/react/package.json
  boxes/boxes/react/playwright.config.ts
  boxes/boxes/vanilla/package.json
  boxes/boxes/vanilla/playwright.config.ts
  boxes/docker-compose.yml
  boxes/package.json
  boxes/yarn.lock
  yarn-project/Earthfile
Owners: none

build
  .github/spot-runner-action/src/ec2.ts
Owners: none

hotfix
  .github/spot-runner-action/src/ec2.ts
Owners: none

Build hints in ts.
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/noir-protocol-circuits/crates/reset-kernel-lib/src/note_hash_read_request_reset.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/note_hash.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/note_hash_leaf_preimage.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/hints/build_note_hash_read_request_hints.ts
  yarn-project/circuits.js/src/hints/build_nullifier_read_request_hints.ts
  yarn-project/circuits.js/src/hints/index.ts
  yarn-project/circuits.js/src/structs/index.ts
  yarn-project/circuits.js/src/structs/kernel/private_call_data.ts
  yarn-project/circuits.js/src/structs/kernel/private_kernel_tail_circuit_private_inputs.ts
  yarn-project/circuits.js/src/structs/kernel/public_kernel_tail_circuit_private_inputs.ts
  yarn-project/circuits.js/src/structs/non_existent_read_request_hints.ts
  yarn-project/circuits.js/src/structs/note_hash_read_request_membership_witness.test.ts
  yarn-project/circuits.js/src/structs/note_hash_read_request_membership_witness.ts
  yarn-project/circuits.js/src/structs/private_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/public_data_hint.ts
  yarn-project/circuits.js/src/structs/public_data_read_request_hints.ts
  yarn-project/circuits.js/src/structs/read_request_hints/index.ts
  yarn-project/circuits.js/src/structs/read_request_hints/note_hash_read_request_hints.ts
  yarn-project/circuits.js/src/structs/read_request_hints/nullifier_read_request_hints.ts
  yarn-project/circuits.js/src/structs/read_request_hints/read_request_hints.ts
  yarn-project/circuits.js/src/structs/rollup/base_rollup.ts
  yarn-project/circuits.js/src/structs/rollup/state_diff_hints.ts
  yarn-project/circuits.js/src/structs/trees/index.ts
  yarn-project/circuits.js/src/structs/trees/nullifier_leaf.ts
  yarn-project/circuits.js/src/structs/trees/public_data_leaf.ts
  yarn-project/circuits.js/src/structs/validation_requests.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/pxe/src/kernel_oracle/index.ts
  yarn-project/pxe/src/kernel_prover/kernel_prover.test.ts
  yarn-project/pxe/src/kernel_prover/kernel_prover.ts
  yarn-project/pxe/src/kernel_prover/private_inputs_builders/build_private_kernel_tail_hints.ts
  yarn-project/pxe/src/kernel_prover/proving_data_oracle.ts
  yarn-project/simulator/src/client/client_execution_context.ts
  yarn-project/simulator/src/client/execution_result.test.ts
  yarn-project/simulator/src/client/execution_result.ts
  yarn-project/simulator/src/client/private_execution.ts
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 30b05f4cb54ba02dd20a4504b7bcbd28cd3dd790
  dev/bench/data.js
Owners: none

Use map to provide hints for transient data.
  yarn-project/pxe/src/kernel_prover/kernel_prover.test.ts
  yarn-project/pxe/src/kernel_prover/kernel_prover.ts
  yarn-project/simulator/src/client/client_execution_context.ts
  yarn-project/simulator/src/client/execution_result.test.ts
  yarn-project/simulator/src/client/execution_result.ts
Owners: none

convert to univ is zero skip condition
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
  barretenberg/cpp/src/barretenberg/relations/auxiliary_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/databus_lookup_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/delta_range_constraint_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_op_queue_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/elliptic_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/permutation_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/poseidon2_external_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/poseidon2_internal_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/ultra_arithmetic_relation.hpp
Owners: none

Fixed package json
  yarn-project/prover-client/package.json
Owners: none

Increase prover test times
  yarn-project/prover-client/package.json
  yarn-project/prover-client/package.local.json
Owners: none

Update fixtures.
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
Owners: none

feat: add aztecprotocol/aztec-builder
  .circleci/config.yml
  aztec-up/bin/aztec-builder
  build_manifest.yml
  yarn-project/Dockerfile
  yarn-project/Earthfile
  yarn-project/builder/Dockerfile
Owners: @charlielye

fix
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
Owners: none

chore(ci): ensure base image builds in own step
  .github/workflows/ci.yml
Owners: none

chore: remove redundant check + comments
  noir-projects/aztec-nr/aztec/src/context/private_context.nr
  yarn-project/circuit-types/src/tx/tx.ts
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Update ci.yml
  .github/workflows/ci.yml
Owners: none

Formatting
  yarn-project/prover-client/src/orchestrator/orchestrator_failures.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_public_functions.test.ts
Owners: none

Delete or disclaim references to dev-rel repo code
  docs/docs/developers/getting_started/aztecjs-getting-started.md
  docs/docs/developers/tutorials/token_portal/setup.md
  docs/docs/developers/tutorials/uniswap/setup.md
  docs/docs/developers/tutorials/writing_token_contract.md
  noir/noir-repo/docs/docs/how_to/how-to-oracles.md
Owners: none

CODEOWNERS:

/build-system/ @charlielye
/build_manifest.yml @charlielye

# Notify the AVM team of any changes to public oracle.
/yarn-project/simulator/src/public/public_execution_context.ts @Maddiaa0 @fcarreiro

# Notify the AVM team of changes to generated PIL code
barretenberg/cpp/src/barretenberg/**/generated/* @Maddiaa0 @jeanmon @IlyasRidhuan
