Repository AztecProtocol/aztec-packages, changes with the owners that CODEOWNERS names for each.
All owners: @charlielye, @Maddiaa0, @fcarreiro, @jeanmon, @IlyasRidhuan

Fix prover client test
  yarn-project/prover-client/src/mocks/test_context.ts
Owners: none

Tweak aztec-node public simulation so we can get gas-used out of it
  yarn-project/aztec-node/src/aztec-node/server.ts
  yarn-project/aztec.js/src/contract/contract_function_interaction.ts
  yarn-project/circuit-types/src/interfaces/aztec-node.ts
  yarn-project/circuit-types/src/mocks.ts
  yarn-project/circuit-types/src/tx/simulated_tx.test.ts
  yarn-project/circuit-types/src/tx/simulated_tx.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
Owners: none

Fix private kernel test
  noir-projects/noir-protocol-circuits/crates/types/src/tests/private_call_data_builder.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/private_circuit_public_inputs_builder.nr
Owners: none

Set teardown gas allocation as gas used in private kernel tails
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/kernel_circuit_public_inputs_composer.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_tail.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_tail_to_public.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/accumulated_data/private_accumulated_data_builder.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/gas.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/kernel_circuit_public_inputs/private_kernel_circuit_public_inputs_builder.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
Owners: none

Fix avm e2e test
  yarn-project/end-to-end/src/e2e_avm_simulator.test.ts
Owners: none

Fix public processor tests
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_teardown.nr
  yarn-project/simulator/src/public/public_processor.test.ts
Owners: none

Rename gas.reduce to gas.computeFee
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_teardown.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/gas.nr
  yarn-project/circuits.js/src/structs/gas.ts
  yarn-project/simulator/src/public/teardown_phase_manager.ts
Owners: none

Add tests
  yarn-project/circuits.js/src/structs/gas.ts
  yarn-project/end-to-end/src/e2e_avm_simulator.test.ts
  yarn-project/simulator/src/mocks/fixtures.ts
  yarn-project/simulator/src/public/public_processor.test.ts
  yarn-project/simulator/src/public/teardown_phase_manager.ts
Owners: none

feat: Wire gas from public execution to kernels
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_init.nr
  yarn-project/circuits.js/src/structs/gas.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/simulator/src/mocks/fixtures.ts
  yarn-project/simulator/src/public/abstract_phase_manager.ts
  yarn-project/simulator/src/public/execution.ts
  yarn-project/simulator/src/public/executor.ts
  yarn-project/simulator/src/public/index.test.ts
  yarn-project/simulator/src/public/public_execution_context.ts
  yarn-project/simulator/src/public/teardown_phase_manager.ts
  yarn-project/simulator/src/public/transitional_adaptors.ts
Owners: @Maddiaa0, @fcarreiro

Validate injected gas left and tx fee in public kernels
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/common.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_app_logic.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_setup.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_teardown.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/gas.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/gas_fees.nr
  yarn-project/simulator/src/public/abstract_phase_manager.ts
  yarn-project/simulator/src/public/teardown_phase_manager.ts
Owners: none

Extract noir contracts transpile to separate script
  noir-projects/noir-contracts/bootstrap.sh
  noir-projects/noir-contracts/scripts/transpile.sh
Owners: none

eccvm complete
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.hpp
Owners: none

Fixes
  yarn-project/circuits.js/src/hash/__snapshots__/hash.test.ts.snap
  yarn-project/circuits.js/src/structs/parity/root_parity_input.ts
  yarn-project/circuits.js/src/structs/parity/root_parity_inputs.ts
Owners: none

Test fixes
  yarn-project/prover-client/src/prover-pool/circuit-prover-agent.test.ts
  yarn-project/prover-client/src/prover-pool/memory-proving-queue.test.ts
Owners: none

Cleanup
  yarn-project/prover-client/src/orchestrator/orchestrator_multi_public_functions.test.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_public_functions.test.ts
Owners: none

Cleanup
  yarn-project/prover-client/src/prover/bb_prover_base_rollup.test.ts
  yarn-project/prover-client/src/prover/bb_prover_full_rollup.test.ts
  yarn-project/prover-client/src/prover/bb_prover_parity.test.ts
  yarn-project/prover-client/src/prover/bb_prover_public_kernel.test.ts
Owners: none

remove duplicated perm lib methods
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_trace_checker.cpp
  barretenberg/cpp/src/barretenberg/flavor/flavor.hpp
  barretenberg/cpp/src/barretenberg/flavor/relation_definitions.hpp
  barretenberg/cpp/src/barretenberg/honk/proof_system/permutation_library.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/library/grand_product_library.hpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_set_relation.cpp
  barretenberg/cpp/src/barretenberg/relations/ecc_vm/ecc_set_relation.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/goblin_ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/grand_product_library.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/goblin_translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/goblin_translator_prover.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/relation_correctness.test.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

poly cleanup
  barretenberg/cpp/src/barretenberg/polynomials/polynomial.hpp
  barretenberg/cpp/src/barretenberg/polynomials/polynomial.test.cpp
Owners: none

bundle spot runner
  .github/spot-runner-action/.env.example
  .github/spot-runner-action/.gitignore
  .github/spot-runner-action/LICENSE
  .github/spot-runner-action/README.md
  .github/spot-runner-action/action.yaml
  .github/spot-runner-action/docs/CrossAccountIAM.md
  .github/spot-runner-action/package-lock.json
  .github/spot-runner-action/package.json
  .github/spot-runner-action/src/config/config.ts
  .github/spot-runner-action/src/ec2/ec2.ts
  .github/spot-runner-action/src/ec2/pricing.ts
  .github/spot-runner-action/src/ec2/userdata.ts
  .github/spot-runner-action/src/github/github.ts
  .github/spot-runner-action/src/main.ts
  .github/spot-runner-action/src/utils/utils.ts
  .github/spot-runner-action/tests/ec2/ec2.ts
  .github/spot-runner-action/tests/ec2/pricing.ts
  .github/spot-runner-action/tests/ec2/userdata.ts
  .github/spot-runner-action/tests/github/github.ts
  .github/spot-runner-action/tsconfig.json
Owners: none

nuke tests
  .github/spot-runner-action/package.json
  .github/spot-runner-action/tests/ec2/ec2.ts
  .github/spot-runner-action/tests/ec2/pricing.ts
  .github/spot-runner-action/tests/ec2/userdata.ts
  .github/spot-runner-action/tests/github/github.ts
Owners: none

update
  .github/spot-runner-action/docs/CrossAccountIAM.md
Owners: none

reorg
  .github/spot-runner-action/.env.example
  .github/spot-runner-action/src/config.ts
  .github/spot-runner-action/src/ec2.ts
  .github/spot-runner-action/src/ec2/pricing.ts
  .github/spot-runner-action/src/github.ts
  .github/spot-runner-action/src/main.ts
  .github/spot-runner-action/src/userdata.ts
  .github/spot-runner-action/src/utils.ts
  .github/spot-runner-action/tsconfig.json
Owners: none

spot runner action
  .github/workflows/setup-runner.yml
Owners: none

ec2 instance list expansion
  .github/workflows/ci.yml
  .github/workflows/setup-runner.yml
Owners: none

bump
  .github/spot-runner-action/src/ec2.ts
Owners: none

bump
  .github/spot-runner-action/src/ec2.ts
Owners: none

bump
  .github/spot-runner-action/src/ec2.ts
  release-please-config.json
Owners: none

Test
  .github/spot-runner-action/src/ec2.ts
Owners: none

feat: AES oracle padding
  noir-projects/noir-contracts/contracts/test_contract/src/main.nr
  yarn-project/end-to-end/package.json
  yarn-project/end-to-end/src/e2e_encryption.test.ts
Owners: none

padding
  noir-projects/aztec-nr/aztec/src/oracle/encryption.nr
  noir-projects/noir-contracts/contracts/test_contract/src/main.nr
  yarn-project/end-to-end/src/e2e_encryption.test.ts
Owners: none

correct serialization, failing proofs
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_to_constraint_buf.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/aes128_constraint.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/serde/acir.hpp
  noir/noir-repo/acvm-repo/acir/codegen/acir.cpp
  noir/noir-repo/acvm-repo/acvm/src/pwg/blackbox/aes128.rs
  noir/noir-repo/acvm-repo/blackbox_solver/src/curve_specific_solver.rs
  noir/noir-repo/acvm-repo/bn254_blackbox_solver/src/lib.rs
  noir/noir-repo/noir_stdlib/src/aes128.nr
  noir/noir-repo/test_programs/execution_success/aes128_encrypt/Prover.toml
  noir/noir-repo/test_programs/execution_success/aes128_encrypt/src/main.nr
  noir/noir-repo/tooling/lsp/src/solver.rs
Owners: none

refactor: improved naming in TxExecutionRequest
  yarn-project/aztec.js/src/contract/contract_function_interaction.ts
  yarn-project/aztec.js/src/entrypoint/default_multi_call_entrypoint.ts
  yarn-project/circuit-types/src/tx_execution_request.ts
  yarn-project/entrypoints/src/account_entrypoint.ts
  yarn-project/entrypoints/src/dapp_entrypoint.ts
  yarn-project/pxe/src/pxe_service/test/pxe_test_suite.ts
  yarn-project/simulator/src/client/private_execution.test.ts
  yarn-project/simulator/src/client/simulator.ts
Owners: none

making PackedValues immutable
  yarn-project/circuit-types/src/packed_values.ts
Owners: none

PackedValues cleanup
  yarn-project/circuit-types/src/packed_values.ts
  yarn-project/end-to-end/package.json
Owners: none

refactor: replace queue with facade over CircuitProver
  yarn-project/aztec/tsconfig.json
  yarn-project/circuit-types/src/interfaces/index.ts
  yarn-project/circuit-types/src/interfaces/proving-job.ts
  yarn-project/end-to-end/package.json
  yarn-project/noir-protocol-circuits-types/tsconfig.json
  yarn-project/prover-client/src/mocks/test_context.ts
  yarn-project/prover-client/src/orchestrator/orchestrator.ts
  yarn-project/prover-client/src/orchestrator/orchestrator_failures.test.ts
  yarn-project/prover-client/src/orchestrator/tx-proving-state.ts
  yarn-project/prover-client/src/prover-pool/circuit-prover-agent.ts
  yarn-project/prover-client/src/prover-pool/index.ts
  yarn-project/prover-client/src/prover-pool/memory-proving-queue.test.ts
  yarn-project/prover-client/src/prover-pool/memory-proving-queue.ts
  yarn-project/prover-client/src/prover-pool/prover-agent.test.ts
  yarn-project/prover-client/src/prover-pool/prover-agent.ts
  yarn-project/prover-client/src/prover-pool/prover-pool.ts
  yarn-project/prover-client/src/prover-pool/proving-queue.ts
  yarn-project/prover-client/src/tx-prover/tx-prover.ts
  yarn-project/pxe/tsconfig.json
Owners: none

comment
  noir-projects/aztec-nr/aztec/src/oracle/encryption.nr
  yarn-project/end-to-end/src/e2e_encryption.test.ts
Owners: none

chore: address PR comments
  barretenberg/cpp/src/barretenberg/dsl/acir_format/serde/acir.hpp
  noir/noir-repo/acvm-repo/acir/codegen/acir.cpp
  noir/noir-repo/acvm-repo/acir/src/circuit/mod.rs
  noir/noir-repo/acvm-repo/acvm/src/pwg/brillig.rs
  noir/noir-repo/acvm-repo/acvm/src/pwg/mod.rs
  noir/noir-repo/acvm-repo/acvm_js/src/execute.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_block.rs
  noir/noir-repo/compiler/noirc_evaluator/src/ssa/acir_gen/mod.rs
  noir/noir-repo/compiler/noirc_evaluator/src/ssa/ir/instruction.rs
  noir/noir-repo/compiler/noirc_evaluator/src/ssa/ir/printer.rs
  noir/noir-repo/compiler/noirc_evaluator/src/ssa/ssa_gen/mod.rs
  noir/noir-repo/noir_stdlib/src/internal.nr
  noir/noir-repo/noir_stdlib/src/lib.nr
Owners: none

address PR comments
  noir/noir-repo/acvm-repo/acvm/src/pwg/mod.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir.rs
Owners: none

Review changes
  yarn-project/circuits.js/src/structs/parity/root_rollup_parity_input.ts
  yarn-project/prover-client/src/prover/bb_prover.ts
  yarn-project/simulator/src/simulator/acvm_native.ts
Owners: none

Fixed merge conflicts
  yarn-project/prover-client/src/prover/bb_prover.ts
  yarn-project/prover-client/src/prover/interface.ts
  yarn-project/prover-client/src/prover/test_circuit_prover.ts
Owners: none

CODEOWNERS:

/build-system/ @charlielye
/build_manifest.yml @charlielye

# Notify the AVM team of any changes to public oracle.
/yarn-project/simulator/src/public/public_execution_context.ts @Maddiaa0 @fcarreiro

# Notify the AVM team of changes to generated PIL code
barretenberg/cpp/src/barretenberg/**/generated/* @Maddiaa0 @jeanmon @IlyasRidhuan
