Repository AztecProtocol/aztec-packages, changes with the owners that CODEOWNERS names for each.
All owners: @charlielye, @Maddiaa0, @fcarreiro, @jeanmon, @IlyasRidhuan

5950: add diff column and adapt witness generation and unit tests
  barretenberg/cpp/pil/avm/avm_mem.pil
  barretenberg/cpp/src/barretenberg/relations/generated/avm/avm_mem.hpp
  barretenberg/cpp/src/barretenberg/relations/generated/avm/declare_views.hpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_prover.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_verifier.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_inter_table.test.cpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

5950: mem_sel selector converted to a column (committed polynomial)
  barretenberg/cpp/pil/avm/avm_mem.pil
  barretenberg/cpp/src/barretenberg/relations/generated/avm/avm_mem.hpp
  barretenberg/cpp/src/barretenberg/relations/generated/avm/declare_views.hpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_prover.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_verifier.cpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

5950: PIL relation that first line must have lastAccess == 1
  barretenberg/cpp/pil/avm/avm_mem.pil
  barretenberg/cpp/src/barretenberg/relations/generated/avm/avm_mem.hpp
Owners: none

5950: add range checks for memory trace
  barretenberg/cpp/pil/avm/avm_main.pil
  barretenberg/cpp/pil/avm/avm_mem.pil
  barretenberg/cpp/src/barretenberg/relations/generated/avm/avm_mem.hpp
  barretenberg/cpp/src/barretenberg/relations/generated/avm/declare_views.hpp
  barretenberg/cpp/src/barretenberg/relations/generated/avm/lookup_mem_rng_chk_hi.hpp
  barretenberg/cpp/src/barretenberg/relations/generated/avm/lookup_mem_rng_chk_lo.hpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_prover.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_verifier.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_arithmetic.test.cpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

5950: introduce timestamp to replace sub_clk committed column
  barretenberg/cpp/pil/avm/avm_mem.pil
  barretenberg/cpp/src/barretenberg/relations/generated/avm/avm_mem.hpp
  barretenberg/cpp/src/barretenberg/relations/generated/avm/declare_views.hpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_helper.cpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_mem_trace.hpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_prover.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_verifier.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_cast.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_inter_table.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_mem_opcodes.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_memory.test.cpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

5950: add decomposition of column diff
  barretenberg/cpp/pil/avm/avm_mem.pil
  barretenberg/cpp/src/barretenberg/relations/generated/avm/avm_mem.hpp
  barretenberg/cpp/src/barretenberg/relations/generated/avm/declare_views.hpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_helper.cpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_trace.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_prover.cpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_verifier.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_arithmetic.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_inter_table.test.cpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

chore: fix type
  noir/noir-repo/tooling/noir_js_types/src/types.ts
Owners: none

refactor
  noir/noir-repo/tooling/noirc_abi/src/lib.rs
Owners: none

refactor: create_fixed_base_constraint cleanup
  barretenberg/cpp/src/barretenberg/dsl/acir_format/fixed_base_scalar_mul.cpp
Owners: none

added aes128 to brillig
  avm-transpiler/Cargo.lock
  noir/noir-repo/Cargo.lock
  noir/noir-repo/acvm-repo/acvm/src/pwg/blackbox/aes128.rs
  noir/noir-repo/acvm-repo/blackbox_solver/Cargo.toml
  noir/noir-repo/acvm-repo/blackbox_solver/src/aes128.rs
  noir/noir-repo/acvm-repo/blackbox_solver/src/lib.rs
  noir/noir-repo/acvm-repo/bn254_blackbox_solver/Cargo.toml
  noir/noir-repo/acvm-repo/bn254_blackbox_solver/src/lib.rs
  noir/noir-repo/acvm-repo/brillig/src/black_box.rs
  noir/noir-repo/acvm-repo/brillig_vm/src/black_box.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_black_box.rs
  noir/noir-repo/compiler/noirc_evaluator/src/brillig/brillig_ir/debug_show.rs
Owners: none

Yellow paper updates for the parity circuits
  docs/docs/protocol-specs/rollup-circuits/tree-parity.md
Owners: none

experiments with ultra verifier
  barretenberg/cpp/src/barretenberg/flavor/flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_recursion/verifier/goblin_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_recursion/verifier/ultra_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_recursion/verifier/verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_recursive_flavor.hpp
Owners: none

5950: Address review feedback
  barretenberg/cpp/pil/avm/avm_mem.pil
Owners: none

chore: update
  avm-transpiler/Cargo.lock
  noir/noir-repo/Cargo.lock
  noir/noir-repo/acvm-repo/acvm_js/build.sh
  noir/noir-repo/tooling/noir_js_backend_barretenberg/package.json
  noir/noir-repo/tooling/noirc_abi_wasm/build.sh
  noir/noir-repo/yarn.lock
Owners: none

wip
  barretenberg/cpp/dockerfiles/Dockerfile.x86_64-linux-clang-assert
Owners: none

Updated comment
  noir-projects/noir-protocol-circuits/crates/parity-lib/src/root/root_parity_inputs.nr
Owners: none

Review changes
  noir-projects/noir-protocol-circuits/crates/types/src/recursion/proof.nr
Owners: none

chore: update earthfiles
  noir/Earthfile
Owners: none

chore: move conversion to printable type to a From impl
  avm-transpiler/Cargo.lock
  noir/noir-repo/Cargo.lock
  noir/noir-repo/acvm-repo/acvm_js/src/js_execution_error.rs
  noir/noir-repo/tooling/nargo/src/errors.rs
  noir/noir-repo/tooling/noirc_abi/Cargo.toml
  noir/noir-repo/tooling/noirc_abi/src/lib.rs
Owners: none

remove fee_payer note on published data
  docs/docs/protocol-specs/gas-and-fees/published-gas-and-fee-data.md
Owners: none

respond to Palla's comments
  docs/docs/protocol-specs/gas-and-fees/fee-schedule.md
  docs/docs/protocol-specs/gas-and-fees/kernel-tracking.md
  docs/docs/protocol-specs/gas-and-fees/published-gas-and-fee-data.md
  docs/docs/protocol-specs/gas-and-fees/specifying-gas-fee-info.md
  docs/docs/protocol-specs/gas-and-fees/tx-setup-and-teardown.md
  yarn-project/circuit-types/src/tx_effect.ts
Owners: none

docs for gas and accounting
  docs/docs/protocol-specs/gas-and-fees/fee-payment-asset.md
  docs/docs/protocol-specs/gas-and-fees/fee-payments-and-metering.md
  docs/docs/protocol-specs/gas-and-fees/fee-schedule.md
  docs/docs/protocol-specs/gas-and-fees/index.md
  docs/docs/protocol-specs/gas-and-fees/kernel-tracking.md
  docs/docs/protocol-specs/gas-and-fees/published-gas-and-fee-data.md
  docs/docs/protocol-specs/gas-and-fees/specifying-gas-fee-info.md
  docs/docs/protocol-specs/gas-and-fees/tx-setup-and-teardown.md
  docs/docs/protocol-specs/public-vm/gen/_instruction-set.mdx
  docs/docs/protocol-specs/transactions/validity.md
  docs/sidebars.js
Owners: none

add warning about suboptimal sequencer incentives
  docs/docs/protocol-specs/gas-and-fees/kernel-tracking.md
Owners: none

add warning on l2 gas from private
  docs/docs/protocol-specs/gas-and-fees/fee-schedule.md
Owners: none

add PublicConstantData add back `gas_used` to AccumulatedData in diagrams (which was mistakenly removed) rename `teardown_gas_limits` to `teardown_gas_allocations`
  docs/docs/protocol-specs/gas-and-fees/kernel-tracking.md
  docs/docs/protocol-specs/gas-and-fees/published-gas-and-fee-data.md
  docs/docs/protocol-specs/gas-and-fees/tx-setup-and-teardown.md
Owners: none

add a table for interpreting revert codes in teardown
  docs/docs/protocol-specs/gas-and-fees/kernel-tracking.md
Owners: none

add details on block fee per gas updates add details on private l2 gas add details on gas_used accuracy
  docs/docs/protocol-specs/gas-and-fees/fee-schedule.md
  docs/docs/protocol-specs/gas-and-fees/kernel-tracking.md
  docs/docs/protocol-specs/gas-and-fees/published-gas-and-fee-data.md
Owners: none

test: refactor token blacklist test for speed
  noir-projects/noir-contracts/contracts/token_blacklist_contract/src/main.nr
  yarn-project/end-to-end/src/e2e_blacklist_token_contract.test.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/access_control.test.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/blacklist_token_contract_test.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/burn.test.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/minting.test.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/shielding.test.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/transfer_private.test.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/transfer_public.test.ts
  yarn-project/end-to-end/src/e2e_blacklist_token_contract/unshielding.test.ts
  yarn-project/end-to-end/src/simulators/token_simulator.ts
Owners: none

feat: track nested public logs with arr, link counter issue
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/aztec-nr/aztec/src/oracle/public_call.nr
  yarn-project/end-to-end/src/e2e_ordering.test.ts
  yarn-project/pxe/src/kernel_prover/kernel_prover.test.ts
  yarn-project/simulator/src/client/execution_result.test.ts
  yarn-project/simulator/src/mocks/fixtures.ts
  yarn-project/simulator/src/public/abstract_phase_manager.ts
  yarn-project/simulator/src/public/execution.ts
  yarn-project/simulator/src/public/executor.ts
  yarn-project/simulator/src/public/public_execution_context.ts
  yarn-project/simulator/src/public/tail_phase_manager.ts
  yarn-project/simulator/src/public/transitional_adaptors.ts
Owners: @Maddiaa0, @fcarreiro

chore: fix linter issues in AVM
  avm-transpiler/src/instructions.rs
  avm-transpiler/src/opcodes.rs
  avm-transpiler/src/transpile.rs
Owners: none

6019: re-enable proof in execution tests and some code cleaning
  barretenberg/cpp/src/barretenberg/bb/main.cpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_execution.cpp
  barretenberg/cpp/src/barretenberg/vm/avm_trace/avm_execution.hpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_common.test.hpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_execution.test.cpp
Owners: none

deploy docs preview from CI
  .github/workflows/ci.yml
  docs/Earthfile
  docs/deploy_preview.sh
  docs/package.json
  docs/yarn.lock
  yarn-project/Earthfile
Owners: none

fix: merge fixes
  yarn-project/pxe/src/kernel_prover/kernel_prover.test.ts
  yarn-project/simulator/src/client/execution_result.test.ts
  yarn-project/simulator/src/public/index.test.ts
  yarn-project/simulator/src/public/public_execution_context.ts
Owners: @Maddiaa0, @fcarreiro

6019: Enable proving for a couple of AVM unit tests
  barretenberg/cpp/src/barretenberg/vm/tests/avm_arithmetic.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_bitwise.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_cast.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_control_flow.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_execution.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_indirect_mem.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_mem_opcodes.test.cpp
  barretenberg/cpp/src/barretenberg/vm/tests/avm_memory.test.cpp
Owners: none

aztec-compile -> aztec-builder
  docs/docs/developers/contracts/compiling_contracts/how_to_compile_contract.md
  docs/docs/developers/contracts/deploying_contracts/how_to_deploy_contract.md
  docs/docs/developers/getting_started/aztecnr-getting-started.md
  docs/docs/developers/sandbox/main.md
  docs/docs/developers/tutorials/token_portal/withdrawing_to_l1.md
  docs/docs/developers/tutorials/uniswap/typescript_glue_code.md
  docs/docs/developers/tutorials/writing_private_voting_contract.md
  docs/docs/developers/tutorials/writing_token_contract.md
Owners: none

wip
  build-images/Dockerfile
Owners: none

WIP
  cspell.json
  yarn-project/pxe/src/config/index.ts
  yarn-project/pxe/src/kernel_prover/bb_proof_creator.ts
  yarn-project/pxe/src/kernel_prover/interface/proof_creator.ts
  yarn-project/pxe/src/kernel_prover/kernel_prover.test.ts
  yarn-project/pxe/src/kernel_prover/kernel_prover.ts
  yarn-project/pxe/src/kernel_prover/prover_factory.ts
  yarn-project/pxe/src/kernel_prover/test/test_circuit_prover.ts
  yarn-project/pxe/src/pxe_service/pxe_service.ts
Owners: none

Test fix
  yarn-project/prover-client/src/prover/bb_prover_parity.test.ts
Owners: none

clean up comments scripts
  docs/deploy_preview.sh
  yarn-project/scripts/src/benchmarks/markdown.ts
  yarn-project/scripts/src/bin/bench-comment.ts
  yarn-project/scripts/src/bin/bench-markdown.ts
  yarn-project/scripts/src/bin/docs-preview.ts
  yarn-project/scripts/src/docs_previews/markdown.ts
  yarn-project/scripts/src/utils/comment.ts
  yarn-project/scripts/src/utils/pr-number.ts
Owners: none

lmdb datastore implementation
  yarn-project/end-to-end/src/flakey_e2e_p2p_network.test.ts
  yarn-project/p2p/package.json
  yarn-project/p2p/src/service/data_store.ts
  yarn-project/p2p/src/service/discV5_service.ts
  yarn-project/p2p/src/service/discv5_service.test.ts
  yarn-project/p2p/src/service/libp2p_service.ts
  yarn-project/p2p/src/service/peer_store.ts
  yarn-project/p2p/src/test_app.ts
  yarn-project/yarn.lock
Owners: none

CODEOWNERS:

/build-system/ @charlielye
/build_manifest.yml @charlielye

# Notify the AVM team of any changes to public oracle.
/yarn-project/simulator/src/public/public_execution_context.ts @Maddiaa0 @fcarreiro

# Notify the AVM team of changes to generated PIL code
barretenberg/cpp/src/barretenberg/**/generated/* @Maddiaa0 @jeanmon @IlyasRidhuan
