Repository AztecProtocol/aztec-packages, changes with the owners that CODEOWNERS names for each.
All owners: @charlielye, @TomAFrench, @Maddiaa0, @jeanmon, @IlyasRidhuan, @fcarreiro, @dbanks12, @sirasistant, @Thunkar, @LHerskind, @just-mitch

CODEOWNERS:

/.devcontainer/ @charlielye
/.github/ @charlielye
/aztec-up/ @charlielye
/release-image/ @charlielye
/build-images/ @charlielye
/ci3/ @charlielye
**/bootstrap.sh @charlielye
**/run_test.sh @charlielye
/release-please-config @charlielye
/.test_patterns.yml @charlielye

# Notify the Noir team of divergences to upstream
/noir/noir-repo.patch @TomAFrench

#####################################################
# Notify the AVM team
#
# on changes to PIL code-generator
/bb-pilcom @Maddiaa0 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to PIL code (AVM circuit)
/barretenberg/cpp/pil @Maddiaa0 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to AVM C++ code
/barretenberg/cpp/src/barretenberg/vm @jeanmon @IlyasRidhuan @fcarreiro
/barretenberg/cpp/src/barretenberg/vm2 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to public context in aztec-nr
/noir-projects/aztec-nr/aztec/src/context/public_context.nr @fcarreiro @dbanks12
# on changes to the AVM simulator and supporting modules
/yarn-project/simulator/src/public @fcarreiro @dbanks12 @sirasistant
# on changes to the AVM transpiler
/avm-transpiler/src @fcarreiro @dbanks12 @sirasistant
#####################################################

# Notify fairies of changes to playground bundler config
/playground/vite.config.ts @Thunkar

# Notify turtles of painful changes to L1-contracts
/l1-contracts/test/scream-and-shout.t.sol @LHerskind @Maddiaa0 @just-mitch

add C++ Benchmark (googlecpp) benchmark result for 775f6f475fe4f9858fcf3bf6879bcf3b61e25720
  dev/bench/data.js
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for 775f6f475fe4f9858fcf3bf6879bcf3b61e25720
  dev/protocol-circuits-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for 775f6f475fe4f9858fcf3bf6879bcf3b61e25720
  dev/sim-bench/data.js
Owners: none

fix links
  docs/versioned_docs/version-alpha-testnet/developers/tutorials/codealong/js_tutorials/token_bridge.md
  docs/versioned_docs/version-v0.86.0/developers/tutorials/codealong/js_tutorials/token_bridge.md
Owners: none

feat(bb.js): Enable more ZK flavors (#14072)
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/c_bind.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/c_bind.hpp
  barretenberg/exports.json
  barretenberg/ts/src/barretenberg/backend.ts
  barretenberg/ts/src/barretenberg_api/index.ts
  barretenberg/ts/src/main.ts
Owners: none

expand on docs versioning
  docs/README.md
Owners: none

updates
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
  barretenberg/cpp/src/barretenberg/dsl/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_integration.test.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/ivc_recursion_constraint.test.cpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/proving_key_inspector.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/bool/bool.hpp
  barretenberg/cpp/src/barretenberg/stdlib/protogalaxy_verifier/protogalaxy_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/protogalaxy_verifier/recursive_decider_verification_key.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/sumcheck.hpp
Owners: none

add C++ Benchmark (googlecpp) benchmark result for a1148b3be9a434579f8b722e138c0e49f9737b33
  dev/bench/data.js
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for a1148b3be9a434579f8b722e138c0e49f9737b33
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for a1148b3be9a434579f8b722e138c0e49f9737b33
  dev/bench/data.js
Owners: none

add End-to-end Benchmark (customSmallerIsBetter) benchmark result for a1148b3be9a434579f8b722e138c0e49f9737b33
  dev/e2e-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for a1148b3be9a434579f8b722e138c0e49f9737b33
  dev/sim-bench/data.js
Owners: none

Recover from block gaps due to spurious L2 reorgs
  yarn-project/archiver/src/archiver/archiver.test.ts
  yarn-project/archiver/src/archiver/archiver.ts
  yarn-project/archiver/src/archiver/archiver_store_test_suite.ts
  yarn-project/archiver/src/archiver/errors.ts
  yarn-project/archiver/src/archiver/kv_archiver_store/block_store.ts
Owners: none

fix: leaking abort controllers on failed dials (#14077)
  yarn-project/p2p/src/services/reqresp/connection-sampler/connection_sampler.ts
Owners: none

fix: store attestations on disk
  yarn-project/p2p/src/client/factory.ts
Owners: none

use aztec structure in place of ivc bench structure everywhere
  barretenberg/cpp/src/barretenberg/api/api_client_ivc.cpp
  barretenberg/cpp/src/barretenberg/benchmark/client_ivc_bench/client_ivc.bench.cpp
  barretenberg/cpp/src/barretenberg/benchmark/mega_memory_bench/mega_memory.bench.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.test.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc_integration.test.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/mock_kernel_pinning.test.cpp
  barretenberg/cpp/src/barretenberg/goblin/mock_circuits_pinning.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.test.cpp
Owners: none

Fix tests
  yarn-project/archiver/src/archiver/archiver_store.ts
  yarn-project/archiver/src/archiver/archiver_store_test_suite.ts
  yarn-project/archiver/src/archiver/kv_archiver_store/block_store.ts
  yarn-project/archiver/src/archiver/kv_archiver_store/kv_archiver_store.ts
Owners: none

wip
  yarn-project/foundation/src/eth-address/index.ts
Owners: none

wip
  barretenberg/acir_tests/bootstrap.sh
  barretenberg/acir_tests/scripts/run_bench.sh
  barretenberg/bbup/bootstrap.sh
  barretenberg/bootstrap.sh
  barretenberg/cpp/bootstrap.sh
  barretenberg/cpp/scripts/run_bench.sh
  barretenberg/ts/bootstrap.sh
  bootstrap.sh
  ci3/parallelise_strict
  noir-projects/client_ivc_circuits.json
  noir-projects/noir-protocol-circuits/bootstrap.sh
  noir-projects/noir-protocol-circuits/scripts/run_bench.sh
Owners: @charlielye

docs: call commands directly
  docs/docs/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-alpha-testnet/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-v0.86.0/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
Owners: none

remove dead mock check
  barretenberg/cpp/src/barretenberg/goblin/mock_circuits_pinning.test.cpp
Owners: none

further cleanup
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_integration.test.cpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/proving_key_inspector.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
Owners: none

fix: fix error enriching, specifically parsing callstacks even when there is no raw assertion payload (#14016)
  yarn-project/end-to-end/src/e2e_avm_simulator.test.ts
  yarn-project/end-to-end/src/e2e_token_contract/transfer_in_private.test.ts
  yarn-project/simulator/src/private/providers/simulation_provider.ts
Owners: none

addressed comments
  barretenberg/cpp/src/barretenberg/dsl/acir_format/ivc_recursion_constraint.cpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/execution_trace/mega_execution_trace.hpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/vm2/constraining/recursion/goblin_avm_recursive_verifier.hpp
Owners: @jeanmon, @IlyasRidhuan, @fcarreiro

fix
  barretenberg/cpp/src/barretenberg/api/acir_format_getters.cpp
  barretenberg/cpp/src/barretenberg/api/api_client_ivc.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/private_execution_steps.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_to_constraint_buf.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_to_constraint_buf.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/c_bind.cpp
  yarn-project/scripts/run_test.sh
Owners: @charlielye

more cleanup
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/proving_key_inspector.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/protogalaxy_verifier/recursive_decider_verification_key.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mega_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/mock_circuits.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/vm2/constraining/flavor.hpp
Owners: @jeanmon, @IlyasRidhuan, @fcarreiro

more comments
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_integration.test.cpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/proving_key_inspector.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.cpp
Owners: none

fix(bb): solve memory blowup, acir::Opcode 7kb => 386 bytes (#14042)
  barretenberg/cpp/CMakePresets.json
  barretenberg/cpp/scripts/profile_tracy_capture_mainframe_view_local.sh
  barretenberg/cpp/scripts/update_acir.sh
  barretenberg/cpp/src/barretenberg/api/acir_format_getters.cpp
  barretenberg/cpp/src/barretenberg/api/api_client_ivc.cpp
  barretenberg/cpp/src/barretenberg/api/exec_pipe.hpp
  barretenberg/cpp/src/barretenberg/api/get_bn254_crs.cpp
  barretenberg/cpp/src/barretenberg/api/get_bytecode.hpp
  barretenberg/cpp/src/barretenberg/api/get_grumpkin_crs.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/private_execution_steps.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/private_execution_steps.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_to_constraint_buf.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_to_constraint_buf.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/serde/acir.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/serde/serde.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_proofs/c_bind.cpp
  yarn-project/scripts/run_test.sh
Owners: @charlielye

add C++ Benchmark (googlecpp) benchmark result for bb78059a896a4e8332054075e98cff4d00f6920a
  dev/bench/data.js
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for bb78059a896a4e8332054075e98cff4d00f6920a
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for bb78059a896a4e8332054075e98cff4d00f6920a
  dev/bench/data.js
Owners: none

add End-to-end Benchmark (customSmallerIsBetter) benchmark result for bb78059a896a4e8332054075e98cff4d00f6920a
  dev/e2e-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for bb78059a896a4e8332054075e98cff4d00f6920a
  dev/sim-bench/data.js
Owners: none

remove ivc bench structure from mega exec trace file
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/execution_trace/mega_execution_trace.hpp
Owners: none

git subrepo push --branch=master barretenberg
  barretenberg/.gitrepo
Owners: none

git subrepo push --branch=master noir-projects/aztec-nr
  noir-projects/aztec-nr/.gitrepo
  noir-projects/aztec-nr/aztec/Nargo.toml
Owners: none

git_subrepo.sh: Fix parent in .gitrepo file.
  noir-projects/aztec-nr/.gitrepo
Owners: none

chore: replace relative paths to noir-protocol-circuits
  noir-projects/aztec-nr/aztec/Nargo.toml
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for a0d48a5b515813b9d11d85fad0ef15760b4a028a
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for a0d48a5b515813b9d11d85fad0ef15760b4a028a
  dev/bench/data.js
Owners: none
