Repository AztecProtocol/aztec-packages, changes with the owners that CODEOWNERS names for each.
All owners: @charlielye, @Maddiaa0, @fcarreiro, @jeanmon, @IlyasRidhuan

CODEOWNERS:

/build-system/ @charlielye
/build_manifest.yml @charlielye

# Notify the AVM team of any changes to public oracle.
/yarn-project/simulator/src/public/public_execution_context.ts @Maddiaa0 @fcarreiro

# Notify the AVM team of changes to generated PIL code
barretenberg/cpp/src/barretenberg/**/generated/* @Maddiaa0 @jeanmon @IlyasRidhuan

comments
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/flavor/flavor.hpp
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/combiner.test.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/goblin_ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/instance/instances.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/goblin_translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

Parameters
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/instance/instances.hpp
Owners: none

More generic, less efficient
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.hpp
Owners: none

poc
  barretenberg/cpp/src/barretenberg/flavor/flavor.hpp
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.hpp
  barretenberg/cpp/src/barretenberg/relations/relation_types.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/goblin_ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

Different strategy
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.hpp
  barretenberg/cpp/src/barretenberg/relations/nested_containers.hpp
  barretenberg/cpp/src/barretenberg/relations/relation_types.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/goblin_ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/sumcheck/instance/instances.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/goblin_translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/vm/generated/avm_flavor.hpp
Owners: @Maddiaa0, @jeanmon, @IlyasRidhuan

Parallelise pertubator
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.hpp
Owners: none

PG tests passing
  barretenberg/cpp/src/barretenberg/polynomials/univariate.hpp
  barretenberg/cpp/src/barretenberg/protogalaxy/combiner.test.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy_prover.hpp
Owners: none

Fix sidebar
  docs/docs/misc/glossary/call_types.md
Owners: none

chore: update
  avm-transpiler/Cargo.lock
  noir/noir-repo/acvm-repo/acvm_js/build.sh
  noir/noir-repo/tooling/noir_js_backend_barretenberg/package.json
  noir/noir-repo/tooling/noirc_abi_wasm/build.sh
  noir/noir-repo/yarn.lock
Owners: none

userdata
  .github/spot-runner-action/src/ec2.ts
Owners: none

userdata
  .github/spot-runner-action/src/ec2.ts
Owners: none

simplify tranlator lagrange
  barretenberg/cpp/src/barretenberg/translator_vm/goblin_translator_flavor.hpp
Owners: none

userdata
  .github/spot-runner-action/src/main.ts
  .github/workflows/ci.yml
Owners: none

revert
  release-please-config.json
Owners: none

remove some set shifts
  barretenberg/cpp/src/barretenberg/relations/databus_lookup_relation.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/goblin_ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.cpp
Owners: none

clean up wire setting in trans
  barretenberg/cpp/src/barretenberg/translator_vm/goblin_translator_prover.cpp
Owners: none

No AVM for wasm
  barretenberg/cpp/src/barretenberg/vm/CMakeLists.txt
Owners: none

no avm for wasm
  barretenberg/cpp/src/CMakeLists.txt
Owners: none

use one agg object in build_constraints
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_format.cpp
Owners: none

acvm is back!
  barretenberg/cpp/src/CMakeLists.txt
Owners: none

Update Dockerfile.wasm-linux-clang
  barretenberg/cpp/dockerfiles/Dockerfile.wasm-linux-clang
Owners: none

wip
  barretenberg/cpp/dockerfiles/Dockerfile.x86_64-linux-clang
  barretenberg/cpp/scripts/install-wasi-sdk.sh
  bootstrap.sh
  build-system/scripts/setup_env
Owners: @charlielye

clean
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/goblin_ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/goblin_translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/goblin_translator_prover.cpp
Owners: none

fix: wasm build with no single thread
  barretenberg/cpp/dockerfiles/Dockerfile.wasm-linux-clang
Owners: none

corrrect shift
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy.test.cpp
  barretenberg/cpp/src/barretenberg/sumcheck/instance/prover_instance.hpp
Owners: none

fix
  barretenberg/cpp/dockerfiles/Dockerfile.wasm-linux-clang
Owners: none

detach
  scripts/attach_ebs_cache.sh
Owners: none

set shits in granp prod methods directly since used independently by tests
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/goblin_ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/oink_prover.cpp
Owners: none

feat: Validate globals in public kernel
  l1-contracts/src/core/libraries/ConstantsGen.sol
  noir-projects/aztec-nr/aztec/src/context/private_context.nr
  noir-projects/aztec-nr/aztec/src/context/public_context.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/private_kernel_init.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/common.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_app_logic.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_setup.nr
  noir-projects/noir-protocol-circuits/crates/public-kernel-lib/src/public_kernel_teardown.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/base_rollup_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/combined_constant_data.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/gas_fees.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/global_variables.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/public_call_stack_item.nr
  noir-projects/noir-protocol-circuits/crates/types/src/abis/public_circuit_public_inputs.nr
  noir-projects/noir-protocol-circuits/crates/types/src/constants.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/public_circuit_public_inputs_builder.nr
  yarn-project/circuits.js/src/constants.gen.ts
  yarn-project/circuits.js/src/structs/__snapshots__/public_call_stack_item.test.ts.snap
  yarn-project/circuits.js/src/structs/__snapshots__/public_circuit_public_inputs.test.ts.snap
  yarn-project/circuits.js/src/structs/kernel/combined_constant_data.ts
  yarn-project/circuits.js/src/structs/kernel/private_kernel_tail_circuit_public_inputs.ts
  yarn-project/circuits.js/src/structs/public_circuit_public_inputs.ts
  yarn-project/circuits.js/src/tests/factories.ts
  yarn-project/noir-protocol-circuits-types/src/type_conversion.ts
  yarn-project/simulator/src/public/abstract_phase_manager.ts
  yarn-project/simulator/src/public/executor.ts
  yarn-project/simulator/src/public/public_processor.ts
Owners: none

chore: Do not aggregate note decryption time for benchmarks
  yarn-project/scripts/src/benchmarks/aggregate.ts
Owners: none

chore: Do not bootstrap cache if working copy is dirty
  avm-transpiler/bootstrap_cache.sh
  barretenberg/cpp/bootstrap_cache.sh
  barretenberg/ts/bootstrap_cache.sh
  build-system/scripts/check_working_copy_clean
  build-system/scripts/extract_repo_if_working_copy_clean
  l1-contracts/bootstrap_cache.sh
  noir-projects/bootstrap_cache.sh
  noir/bootstrap_cache.sh
Owners: @charlielye

fix(avm): Do not scale CALLDATACOPY base cost with size
  docs/docs/protocol-specs/public-vm/execution.md
  yarn-project/simulator/src/avm/avm_gas.test.ts
  yarn-project/simulator/src/avm/avm_simulator.test.ts
  yarn-project/simulator/src/avm/opcodes/memory.ts
Owners: none

clean up stopped instances
  .github/spot-runner-action/src/ec2.ts
  .github/spot-runner-action/src/main.ts
  scripts/attach_ebs_cache.sh
Owners: none

Revert "feat: Sync from noir (#6023)"
  .noir-sync-commit
  avm-transpiler/Cargo.lock
  noir/noir-repo/Cargo.lock
  noir/noir-repo/Cargo.toml
  noir/noir-repo/acvm-repo/acvm_js/build.sh
  noir/noir-repo/compiler/noirc_evaluator/src/ssa.rs
  noir/noir-repo/compiler/noirc_evaluator/src/ssa/acir_gen/acir_ir/generated_acir.rs
  noir/noir-repo/compiler/noirc_evaluator/src/ssa/acir_gen/mod.rs
  noir/noir-repo/compiler/noirc_evaluator/src/ssa/ssa_gen/context.rs
  noir/noir-repo/compiler/noirc_frontend/Cargo.toml
  noir/noir-repo/compiler/noirc_frontend/src/hir/comptime/errors.rs
  noir/noir-repo/compiler/noirc_frontend/src/hir/comptime/interpreter.rs
  noir/noir-repo/compiler/noirc_frontend/src/hir/comptime/mod.rs
  noir/noir-repo/compiler/noirc_frontend/src/hir/def_collector/dc_crate.rs
  noir/noir-repo/compiler/noirc_frontend/src/hir/def_map/mod.rs
  noir/noir-repo/compiler/noirc_frontend/src/hir/type_check/mod.rs
  noir/noir-repo/compiler/noirc_frontend/src/node_interner.rs
  noir/noir-repo/compiler/noirc_frontend/src/resolve_locations.rs
  noir/noir-repo/compiler/noirc_frontend/src/tests.rs
  noir/noir-repo/compiler/utils/arena/Cargo.toml
  noir/noir-repo/compiler/utils/arena/src/lib.rs
  noir/noir-repo/compiler/utils/iter-extended/Cargo.toml
  noir/noir-repo/compiler/utils/iter-extended/src/lib.rs
  noir/noir-repo/docs/docs/noir/standard_library/cryptographic_primitives/hashes.mdx
  noir/noir-repo/flake.lock
  noir/noir-repo/noir_stdlib/src/hash.nr
  noir/noir-repo/noir_stdlib/src/sha256.nr
  noir/noir-repo/test_programs/execution_success/sha256/src/main.nr
  noir/noir-repo/tooling/noir_js_backend_barretenberg/package.json
  noir/noir-repo/tooling/noirc_abi_wasm/build.sh
Owners: none

clarify shift setting
  barretenberg/cpp/src/barretenberg/execution_trace/execution_trace.cpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/goblin_ultra_flavor.hpp
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/ultra_flavor.hpp
Owners: none

hotfix: dont terminate runners if terminating stopped
  .github/spot-runner-action/src/main.ts
Owners: none

chore: build docs in earthly
  Earthfile
  docs/.earthlyignore
  docs/Earthfile
  docs/yarn.lock
  yarn-project/Earthfile
Owners: none

address some PR comments
  noir/noir-repo/compiler/noirc_evaluator/src/ssa/ir/printer.rs
  noir/noir-repo/tooling/nargo/src/errors.rs
Owners: none

refactor: remove fmtstring from ABI type
  noir/noir-repo/compiler/noirc_driver/src/abi_gen.rs
  noir/noir-repo/tooling/nargo/src/errors.rs
  noir/noir-repo/tooling/nargo/src/ops/test.rs
  noir/noir-repo/tooling/noirc_abi/src/lib.rs
Owners: none

test: added explicit error struct in test
  noir/noir-repo/test_programs/noir_test_success/should_fail_with_matches/src/main.nr
Owners: none
