Repository AztecProtocol/aztec-packages, changes with the owners that CODEOWNERS names for each.
All owners: @charlielye, @TomAFrench, @Maddiaa0, @jeanmon, @IlyasRidhuan, @fcarreiro, @dbanks12, @sirasistant, @Thunkar, @LHerskind, @just-mitch

Simplify seq quickstart
  docs/docs/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-alpha-testnet/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-v0.86.0/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
Owners: none

add port note
  docs/docs/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-alpha-testnet/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-v0.86.0/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for a5e2dfc50b4d8e2ee452909d6e4c66099f82f2ae
  dev/protocol-circuits-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for a5e2dfc50b4d8e2ee452909d6e4c66099f82f2ae
  dev/sim-bench/data.js
Owners: none

chore: L1 reorg test for loading blocks before L1 syncpoint
  yarn-project/end-to-end/src/e2e_epochs/epochs_l1_reorgs.test.ts
  yarn-project/ethereum/src/eth_cheat_codes.test.ts
  yarn-project/ethereum/src/eth_cheat_codes.ts
Owners: none

feat!: Aggregate pairing points (#13972)
  barretenberg/cpp/scripts/test_civc_standalone_vks_havent_changed.sh
  barretenberg/cpp/src/barretenberg/api/prove_tube.cpp
  barretenberg/cpp/src/barretenberg/boomerang_value_detection/graph_description_ultra_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/acir_format.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/avm2_recursion_constraint.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/avm2_recursion_constraint.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/honk_recursion_constraint.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/honk_recursion_constraint.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/honk_recursion_constraint.test.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/ivc_recursion_constraint.cpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/ivc_recursion_constraint.test.cpp
  barretenberg/cpp/src/barretenberg/goblin/mock_circuits.hpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/client_ivc_verifier/client_ivc_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursion.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/merge_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/decider_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/plonk_recursion/pairing_points.hpp
  barretenberg/cpp/src/barretenberg/stdlib/primitives/public_input_component/public_input_component.hpp
  barretenberg/cpp/src/barretenberg/stdlib/protogalaxy_verifier/protogalaxy_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_verifier.cpp
  barretenberg/cpp/src/barretenberg/vm2/constraining/recursion/goblin_avm_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/vm2/constraining/recursion/recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/vm2/constraining/recursion/recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/vm2/constraining/recursion/recursive_verifier.test.cpp
  yarn-project/bb-prover/scripts/generate_civc_vks.sh
Owners: @jeanmon, @IlyasRidhuan, @fcarreiro

it builds
  barretenberg/cpp/src/barretenberg/client_ivc/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/polynomials/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/srs/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/stdlib_circuit_builders/CMakeLists.txt
Owners: none

add C++ Benchmark (googlecpp) benchmark result for a515ae8f76beaa47adb1071606846671b6f1eb22
  dev/bench/data.js
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for a515ae8f76beaa47adb1071606846671b6f1eb22
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for a515ae8f76beaa47adb1071606846671b6f1eb22
  dev/bench/data.js
Owners: none

add End-to-end Benchmark (customSmallerIsBetter) benchmark result for a515ae8f76beaa47adb1071606846671b6f1eb22
  dev/e2e-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for a515ae8f76beaa47adb1071606846671b6f1eb22
  dev/sim-bench/data.js
Owners: none

fix: aztec with no args complains on mac
  aztec-up/bin/aztec
Owners: @charlielye

fix compilation
  barretenberg/cpp/src/barretenberg/api/api_ultra_honk.cpp
  barretenberg/cpp/src/barretenberg/api/api_ultra_plonk.cpp
  barretenberg/cpp/src/barretenberg/api/write_prover_output.hpp
  barretenberg/cpp/src/barretenberg/polynomials/CMakeLists.txt
  barretenberg/cpp/src/barretenberg/srs/factories/get_bn254_crs.cpp
  barretenberg/cpp/src/barretenberg/srs/factories/get_bn254_crs.hpp
  barretenberg/cpp/src/barretenberg/srs/factories/get_grumpkin_crs.cpp
  barretenberg/cpp/src/barretenberg/srs/factories/get_grumpkin_crs.hpp
  barretenberg/cpp/src/barretenberg/srs/factories/native_crs_factory.cpp
Owners: none

git subrepo push --branch=master barretenberg
  barretenberg/.gitrepo
Owners: none

git subrepo push --branch=master noir-projects/aztec-nr
  noir-projects/aztec-nr/.gitrepo
  noir-projects/aztec-nr/aztec/Nargo.toml
Owners: none

chore: replace relative paths to noir-protocol-circuits
  noir-projects/aztec-nr/aztec/Nargo.toml
Owners: none

git_subrepo.sh: Fix parent in .gitrepo file.
  noir-projects/aztec-nr/.gitrepo
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for 1ff4447bfbe6833b06243117955deccc01ec2955
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 1ff4447bfbe6833b06243117955deccc01ec2955
  dev/bench/data.js
Owners: none

add End-to-end Benchmark (customSmallerIsBetter) benchmark result for 1ff4447bfbe6833b06243117955deccc01ec2955
  dev/e2e-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for 1ff4447bfbe6833b06243117955deccc01ec2955
  dev/sim-bench/data.js
Owners: none

add pairing agg in a few more places
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.hpp
  barretenberg/cpp/src/barretenberg/commitment_schemes/pairing_points.hpp
  barretenberg/cpp/src/barretenberg/dsl/acir_format/ivc_recursion_constraint.test.cpp
  barretenberg/cpp/src/barretenberg/protogalaxy/protogalaxy.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/protogalaxy_verifier/protogalaxy_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.cpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_verifier.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/ultra_verifier.cpp
Owners: none

increase fixed size of ECCVM and update VK consts
  barretenberg/cpp/src/barretenberg/constants.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_fixed_vk.hpp
Owners: none

fix build
  barretenberg/cpp/src/barretenberg/commitment_schemes/pairing_points.hpp
Owners: none

Apply suggestions from code review
  docs/docs/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
Owners: none

seq qs doc tweaks to versions
  docs/docs/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-alpha-testnet/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-v0.86.0/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
Owners: none

chore: run setupEpoch separately (#13984)
  l1-contracts/bootstrap.sh
  l1-contracts/gas_benchmark.md
  l1-contracts/test/benchmark/happy.t.sol
Owners: @charlielye

chore: Update noir-repo-ref to nightly-2025-05-07
  noir/noir-repo-ref
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for 810053233e7bedacc38892dbdc873e46792f42c3
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 810053233e7bedacc38892dbdc873e46792f42c3
  dev/bench/data.js
Owners: none

add End-to-end Benchmark (customSmallerIsBetter) benchmark result for 810053233e7bedacc38892dbdc873e46792f42c3
  dev/e2e-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for 810053233e7bedacc38892dbdc873e46792f42c3
  dev/sim-bench/data.js
Owners: none

chore: get help from the ci-god (adam)
  .github/workflows/ci3.yml
  ci.sh
  l1-contracts/bootstrap.sh
Owners: @charlielye

feat: initial gas bench gh
  .github/workflows/ci3.yml
  bootstrap.sh
  ci.sh
  l1-contracts/.gitignore
  l1-contracts/bootstrap.sh
Owners: @charlielye

chore: uncomment the master checks ci3.yml + readme
  .github/workflows/ci3.yml
  l1-contracts/README.md
Owners: @charlielye

feat: initial gas bench gh (#13986)
  .github/workflows/ci3.yml
  bootstrap.sh
  ci.sh
  l1-contracts/.gitignore
  l1-contracts/README.md
  l1-contracts/bootstrap.sh
Owners: @charlielye

chore: start translator logic at an even index (#13985)
  barretenberg/cpp/src/barretenberg/circuit_checker/translator_circuit_checker.cpp
  barretenberg/cpp/src/barretenberg/circuit_checker/translator_circuit_checker.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_decomposition_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_decomposition_relation_impl.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_extra_relations.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_extra_relations_impl.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_non_native_field_relation.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_non_native_field_relation_impl.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_relation_consistency.test.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/relation_correctness.test.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator.test.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_circuit_builder.test.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_fixed_vk.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_flavor.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_prover.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_proving_key.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.cpp
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for 47926c91bdbfc6ae0dafb4b7b2c18681fabe3ec9
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 47926c91bdbfc6ae0dafb4b7b2c18681fabe3ec9
  dev/bench/data.js
Owners: none

CODEOWNERS:

/.devcontainer/ @charlielye
/.github/ @charlielye
/aztec-up/ @charlielye
/release-image/ @charlielye
/build-images/ @charlielye
/ci3/ @charlielye
**/bootstrap.sh @charlielye
**/run_test.sh @charlielye
/release-please-config @charlielye
/.test_patterns.yml @charlielye

# Notify the Noir team of divergences to upstream
/noir/noir-repo.patch @TomAFrench

#####################################################
# Notify the AVM team
#
# on changes to PIL code-generator
/bb-pilcom @Maddiaa0 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to PIL code (AVM circuit)
/barretenberg/cpp/pil @Maddiaa0 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to AVM C++ code
/barretenberg/cpp/src/barretenberg/vm @jeanmon @IlyasRidhuan @fcarreiro
/barretenberg/cpp/src/barretenberg/vm2 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to public context in aztec-nr
/noir-projects/aztec-nr/aztec/src/context/public_context.nr @fcarreiro @dbanks12
# on changes to the AVM simulator and supporting modules
/yarn-project/simulator/src/public @fcarreiro @dbanks12 @sirasistant
# on changes to the AVM transpiler
/avm-transpiler/src @fcarreiro @dbanks12 @sirasistant
#####################################################

# Notify fairies of changes to playground bundler config
/playground/vite.config.ts @Thunkar

# Notify turtles of painful changes to L1-contracts
/l1-contracts/test/scream-and-shout.t.sol @LHerskind @Maddiaa0 @just-mitch
