Repository AztecProtocol/aztec-packages, changes with the owners that CODEOWNERS names for each.
All owners: @charlielye, @TomAFrench, @Maddiaa0, @jeanmon, @IlyasRidhuan, @fcarreiro, @dbanks12, @sirasistant, @Thunkar, @LHerskind, @just-mitch

CODEOWNERS:

/.devcontainer/ @charlielye
/.github/ @charlielye
/aztec-up/ @charlielye
/release-image/ @charlielye
/build-images/ @charlielye
/ci3/ @charlielye
**/bootstrap.sh @charlielye
**/run_test.sh @charlielye
/release-please-config @charlielye
/.test_patterns.yml @charlielye

# Notify the Noir team of divergences to upstream
/noir/noir-repo.patch @TomAFrench

#####################################################
# Notify the AVM team
#
# on changes to PIL code-generator
/bb-pilcom @Maddiaa0 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to PIL code (AVM circuit)
/barretenberg/cpp/pil @Maddiaa0 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to AVM C++ code
/barretenberg/cpp/src/barretenberg/vm @jeanmon @IlyasRidhuan @fcarreiro
/barretenberg/cpp/src/barretenberg/vm2 @jeanmon @IlyasRidhuan @fcarreiro
# on changes to public context in aztec-nr
/noir-projects/aztec-nr/aztec/src/context/public_context.nr @fcarreiro @dbanks12
# on changes to the AVM simulator and supporting modules
/yarn-project/simulator/src/public @fcarreiro @dbanks12 @sirasistant
# on changes to the AVM transpiler
/avm-transpiler/src @fcarreiro @dbanks12 @sirasistant
#####################################################

# Notify fairies of changes to playground bundler config
/playground/vite.config.ts @Thunkar

# Notify turtles of painful changes to L1-contracts
/l1-contracts/test/scream-and-shout.t.sol @LHerskind @Maddiaa0 @just-mitch

add End-to-end Benchmark (customSmallerIsBetter) benchmark result for a0d48a5b515813b9d11d85fad0ef15760b4a028a
  dev/e2e-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for a0d48a5b515813b9d11d85fad0ef15760b4a028a
  dev/sim-bench/data.js
Owners: none

fix(docs): Fix token bridge tutorial source code links (#14086)
  docs/README.md
  docs/versioned_docs/version-alpha-testnet/developers/tutorials/codealong/js_tutorials/token_bridge.md
  docs/versioned_docs/version-v0.86.0/developers/tutorials/codealong/js_tutorials/token_bridge.md
Owners: none

attempt
  playground/src/hooks/useTransaction.tsx
  yarn-project/pxe/src/pxe_service/pxe_service.ts
  yarn-project/yarn.lock
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for 739402e7eb1ab6524723c6af98151f8f0745b5b8
  dev/protocol-circuits-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for 739402e7eb1ab6524723c6af98151f8f0745b5b8
  dev/sim-bench/data.js
Owners: none

udpate lockfile
  yarn-project/yarn.lock
Owners: none

update network congestion poller interval
  playground/src/components/sidebar/components/NetworkCongestionNotice.tsx
Owners: none

chore: Update noir-repo-ref to nightly-2025-05-06
  noir/noir-repo-ref
Owners: none

Fix.
  yarn-project/stdlib/src/logs/contract_class_log.ts
Owners: none

fix: avoid ddos node (#14094)
  playground/src/components/sidebar/components/NetworkCongestionNotice.tsx
  playground/src/hooks/useTransaction.tsx
  yarn-project/pxe/src/pxe_service/pxe_service.ts
Owners: none

fix
  spartan/aztec-node/templates/statefulset.yaml
Owners: none

works
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
Owners: none

Remove previous param advice
  docs/docs/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-alpha-testnet/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
  docs/versioned_docs/version-v0.86.0/the_aztec_network/guides/run_nodes/how_to_run_sequencer.md
Owners: none

drop block header log level
  yarn-project/p2p/src/msg_validators/tx_validator/block_header_validator.ts
Owners: none

chore(msg_validators): drop block header log level (#14099)
  yarn-project/p2p/src/msg_validators/tx_validator/block_header_validator.ts
Owners: none

chore: update all validation logs to verbose
  yarn-project/p2p/src/msg_validators/tx_validator/block_header_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/data_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/double_spend_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/gas_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/metadata_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/phases_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/tx_proof_validator.ts
Owners: none

undo structured changes, better handling of optional instead
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.hpp
  barretenberg/cpp/src/barretenberg/client_ivc/client_ivc.test.cpp
  barretenberg/cpp/src/barretenberg/client_ivc/mock_circuit_producer.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/execution_trace/mega_execution_trace.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
Owners: none

fix: close the stream earlier if receiving goodbye
  yarn-project/p2p/src/services/reqresp/reqresp.ts
Owners: none

chore: better handling of ultra ops in translator circuit builder (#13990)
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_extra_relations.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_extra_relations_impl.hpp
  barretenberg/cpp/src/barretenberg/relations/translator_vm/translator_relation_consistency.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_extra_relations.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/relation_correctness.test.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_circuit_builder.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_circuit_builder.test.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_mini.fuzzer.cpp
Owners: none

Refactoring.
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/components/private_call_data_validator.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/private_call_data_validator_builder/mod.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/private_call_data_validator_builder/validate_contract_address.nr
  noir-projects/noir-protocol-circuits/crates/private-kernel-lib/src/tests/private_call_data_validator_builder/validate_log_lengths.nr
  noir-projects/noir-protocol-circuits/crates/rollup-lib/src/base/public_base_rollup.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixture_builder.nr
  noir-projects/noir-protocol-circuits/crates/types/src/tests/fixtures/protocol_contract_tree.nr
  yarn-project/foundation/src/serialize/field_reader.test.ts
  yarn-project/foundation/src/serialize/field_reader.ts
  yarn-project/stdlib/src/block/body.test.ts
  yarn-project/stdlib/src/block/body.ts
  yarn-project/stdlib/src/kernel/private_kernel_tail_circuit_public_inputs.ts
  yarn-project/stdlib/src/tx/tx_effect.test.ts
  yarn-project/stdlib/src/tx/tx_effect.ts
Owners: none

resolve review comments
  barretenberg/cpp/src/barretenberg/translator_vm/relation_correctness.test.cpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_circuit_builder.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_flavor.hpp
Owners: none

Update fixtures.
  noir-projects/noir-protocol-circuits/crates/private-kernel-init/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-inner/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-reset/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail-to-public/Prover.toml
  noir-projects/noir-protocol-circuits/crates/private-kernel-tail/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-base-private/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-base-public/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-block-merge/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-block-root/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-merge/Prover.toml
  noir-projects/noir-protocol-circuits/crates/rollup-root/Prover.toml
Owners: none

Update creation code hashes.
  l1-contracts/test/scream-and-shout.t.sol
Owners: @LHerskind, @Maddiaa0, @just-mitch

chore(msg_validators): update all log levels for failures to verbose (#14100)
  yarn-project/p2p/src/msg_validators/tx_validator/block_header_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/data_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/double_spend_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/gas_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/metadata_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/phases_validator.ts
  yarn-project/p2p/src/msg_validators/tx_validator/tx_proof_validator.ts
Owners: none

chore: update playground ux (#13852)
  noir-projects/noir-contracts/contracts/app/simple_token_contract/src/main.nr
  playground/index.html
  playground/package.json
  playground/src/App.tsx
  playground/src/aztecEnv.ts
  playground/src/components/common/CopyToClipboardButton.tsx
  playground/src/components/common/FeePaymentSelector.tsx
  playground/src/components/common/FnParameter.tsx
  playground/src/components/common/LoadingModal.tsx
  playground/src/components/common/TransactionModal.tsx
  playground/src/components/contract/Contract.tsx
  playground/src/components/contract/components/ConfigureInteractionDialog.tsx
  playground/src/components/contract/components/CreateContractDialog.tsx
  playground/src/components/contract/components/FunctionCard.tsx
  playground/src/components/home/Home.tsx
  playground/src/components/home/components/Landing.tsx
  playground/src/components/logPanel/LogPanel.tsx
  playground/src/components/sidebar/NavBar.tsx
  playground/src/components/sidebar/Sidebar.tsx
  playground/src/components/sidebar/TxPanel.tsx
  playground/src/components/sidebar/components/AccountSelector.tsx
  playground/src/components/sidebar/components/AddressBook.tsx
  playground/src/components/sidebar/components/ButtonWithModal.tsx
  playground/src/components/sidebar/components/ContractSelector.tsx
  playground/src/components/sidebar/components/NetworkSelector.tsx
  playground/src/components/sidebar/components/TxsPanel.tsx
  playground/src/constants.ts
  playground/src/global.styles.tsx
  playground/src/hooks/useTransaction.tsx
  playground/src/styles/common.tsx
  playground/src/utils/constants.ts
  playground/src/utils/matomo.ts
  playground/src/utils/networks.ts
  playground/src/utils/storage.ts
  playground/tsconfig.json
  playground/vite.config.ts
  playground/yarn.lock
Owners: @Thunkar

chore: playground updates (#13979)
  playground/src/aztecEnv.ts
  playground/src/components/common/TransactionModal.tsx
  playground/src/components/contract/Contract.tsx
  playground/src/components/contract/components/ContractUpload.tsx
  playground/src/components/contract/components/FunctionCard.tsx
  playground/src/components/home/Home.tsx
  playground/src/components/home/components/Landing.tsx
  playground/src/components/sidebar/NavBar.tsx
  playground/src/components/sidebar/TxPanel.tsx
  playground/src/components/sidebar/components/AccountSelector.tsx
  playground/src/components/sidebar/components/ContractSelector.tsx
  playground/src/components/sidebar/components/CreateAccountDialog.tsx
  playground/src/components/sidebar/components/NetworkCongestionNotice.tsx
  playground/src/components/sidebar/components/NetworkSelector.tsx
  playground/src/constants.ts
  playground/src/global.styles.tsx
  playground/src/hooks/useTransaction.tsx
  playground/src/styles/common.tsx
  playground/src/utils/networks.ts
  playground/src/utils/sponsoredFPC.ts
  playground/src/utils/storage.ts
  playground/src/utils/txs.ts
  playground/src/utils/types.ts
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 30c2030c13c80df5c03f441139dde3387b0931cb
  dev/bench/data.js
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for 30c2030c13c80df5c03f441139dde3387b0931cb
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 30c2030c13c80df5c03f441139dde3387b0931cb
  dev/bench/data.js
Owners: none

add End-to-end Benchmark (customSmallerIsBetter) benchmark result for 30c2030c13c80df5c03f441139dde3387b0931cb
  dev/e2e-bench/data.js
Owners: none

add Public Simulation Benchmarks (customSmallerIsBetter) benchmark result for 30c2030c13c80df5c03f441139dde3387b0931cb
  dev/sim-bench/data.js
Owners: none

feat(playground): add message to show testnet connection issue (#14028)
  playground/src/components/contract/components/FunctionCard.tsx
  playground/src/components/home/components/Landing.tsx
  playground/src/components/sidebar/components/AccountSelector.tsx
  playground/src/components/sidebar/components/ContractSelector.tsx
  playground/src/components/sidebar/components/NetworkSelector.tsx
Owners: none

chore: update network down message (#14032)
  playground/src/components/sidebar/components/NetworkSelector.tsx
Owners: none

fix constant in test
  barretenberg/cpp/src/barretenberg/stdlib/honk_verifier/ultra_recursive_verifier.test.cpp
Owners: none

fix merge
  playground/src/components/contract/components/ConfigureInteractionDialog.tsx
  playground/src/components/contract/components/FunctionCard.tsx
  playground/yarn.lock
Owners: none

fix: goblin recursive bugs (#13124)
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_prover.hpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.cpp
  barretenberg/cpp/src/barretenberg/eccvm/eccvm_verifier.hpp
  barretenberg/cpp/src/barretenberg/goblin/goblin.cpp
  barretenberg/cpp/src/barretenberg/goblin/translation_evaluations.hpp
  barretenberg/cpp/src/barretenberg/goblin/types.hpp
  barretenberg/cpp/src/barretenberg/plonk_honk_shared/execution_trace/mega_execution_trace.hpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/eccvm_verifier/eccvm_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/goblin_verifier/goblin_recursive_verifier.test.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.cpp
  barretenberg/cpp/src/barretenberg/stdlib/translator_vm_verifier/translator_recursive_verifier.hpp
  barretenberg/cpp/src/barretenberg/translator_vm/translator_verifier.hpp
  barretenberg/cpp/src/barretenberg/ultra_honk/decider_proving_key.hpp
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 187c5fc4620336105d7341403b04ed619157f9a7
  dev/bench/data.js
Owners: none

add Protocol Circuit Gate Counts (customSmallerIsBetter) benchmark result for 187c5fc4620336105d7341403b04ed619157f9a7
  dev/protocol-circuits-bench/data.js
Owners: none

add C++ Benchmark (googlecpp) benchmark result for 187c5fc4620336105d7341403b04ed619157f9a7
  dev/bench/data.js
Owners: none
